<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Conviction is not based upon emotion, but upon the truth





---


### Summary


---





### Why emotion alone is a faulty basis for establishing spiritual truth



Put simply, human emotions are fickle. They are not consistent enough to draw conclusions from; any conclusions that people *do* try to draw from them are not repeatable or generalizable.

There really isn't a great deal more to it than that. For anyone who is truly honest with themselves, it ought to be obvious that our emotions don't always track perfectly with the truth, at least not initially. For example, most people have a very positive emotional response regarding God's love and grace, and not nearly so much positive emotional energy when it comes to actually putting in the hard work of daily Bible reading and taking in Bible teaching in order to grow to spiritual maturity.

To be clear, this does not mean that we need to be utterly against emotions as Christians, or try to stifle them, as if they are necessarily evil. Emotions are part of being human (cf. John 11:33-36). There is nothing inherently wrong with them, *per se*. We can be joyful when we have occasion to be joyful, and mournful when we have occasion to be mournful. We can laugh, and cry, and feel outrage at evil conduct. We do not need to try to somehow *not* feel these things.

The point is simply that our emotions ought not be in the driver's seat, but us. The truth is a thing independent from them. When our emotions line up with the truth, well and good. But if they do not, well, best go with the Bible, not our emotions.



---




### Example: Facing down the wind and the waves



In Matthew 14:22-33 Peter starts walking out to Jesus upon the water, but when he saw the wind, he was afraid and began to sink.

The Lord of the Universe had just told Peter to come out to Him. What did Peter have to be afraid of? Yet he was afraid nonetheless... because it was an emotional reaction, not one based on the truth. His emotions told him that he was in trouble, that nature's fury would overcome him. And, believing them, he earns a soft rebuke for his lack of faith.

My purpose in bringing up the example of Peter's reaction here is this: it is common for our initial emotional response to events to be particularly untrustworthy. If we keep throwing truth at our emotions, eventually they'll get back in line. But if we let them rule us, we will be like Peter, and find ourselves sinking beneath the waves, even though God is so much more powerful than any storm could ever be.

This is why *following* our emotions (rather than *leading* them) is dangerous.



---




### Example: Joy in suffering



As another example, the Bible directly tells us to rejoice when suffering comes upon us (compare Romans 5:3-5, James 1:2-4). But is that really what humans tend towards, our initial emotional response?

If you want a persuasive yet short argument against the idea of basing much of anything at all upon our emotions, one good option would be something like: "The Bible commands us to look to the spiritual—seeing how testing grows our faith—in order to have genuine joy amidst suffering. The initial emotional response to intense suffering, common among all humans to one degree or another, is decidedly *not* joy. Therefore, our emotions cannot reliably be used to drive our spiritual outlook, QED."

The natural response we feel when finding ourselves in the middle of suffering is dismay, not joy. As we grow more mature, we definitely will get better at looking to the unseen spiritual dimension in order to bolster our attitude and square our shoulders like good Christian soldiers—in order to snap out of our emotion-induced pity party that much faster. The more we believe 2 Corinthians 4:17---*really* believe it—the less phased we will be by the temporary afflictions of the world. But we will still probably always have to wrestle our feelings in line at least some, to get back our peace and joy when things really get tough.



---




#### Further discussion



---




### Emotional conviction vs. spiritual conviction



The Holy Spirit operates upon the truth in our hearts. The more biblical knowledge we store up in our hearts (from reading our Bibles and taking in Bible teaching from gifted and prepared Bible teachers -- from growing spiritually), the more "spiritual capital" the Holy Spirit has to work with within us.

For us to become spiritually convicted about something, the Holy Spirit operates by means of this truth. This is why our spiritual discernment grows as our knowledge of the Bible grows; the two things are intrinsically linked.

Hopefully all this makes it clear why emotions have no part in true spiritual conviction. Emotions are simply not involved on *either* side of the equation. This means that they are, more or less, a red herring when it comes to what we ought to think, say, and do. The truth is the truth; it doesn't care if we feel good about it, if we feel downright lousy about it, or if we are somewhere in between. We still have a duty to accept it and obey it, no matter how we might feel.



---




### Emotional conviction vs. spiritual conviction

By way of contrast, emotional conviction operates independently from the biblical truth stored up in our hearts, and independent from the Holy Spirit's prompting. Without God's Word and the indwelling Holy Spirit coming together to shine light on our path, why would we expect emotional conviction to be worth much of anything at all? Seems obvious, right?

Yet, even so, it is still difficult in the moment to keep this in mind, and keep ourselves from getting caught up by the tide when it sweeps over us. Being able to resist—to hold firm to the truth, no matter how strong the waves of emotion—requires spiritual growth on our part, and lots of it.

So once again, growing spiritually (by consistently reading our Bibles and taking in Bible teaching from gifted and prepared teachers) is our answer, the answer as to how to deal with emotions in a godly way. You will seldom ever be wrong in guessing that spiritual growth is the ultimate answer to some problem we might face as Christians, and this case is no exception.



---




#### Further discussion




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>