<div class="pure-menu">
<strong style="font-weight:800;">&nbsp Community</strong>
  <ul class="pure-menu-list">
    {{ range .Site.Menus.community }}
    {{ if .HasChildren }}
      <li class="pure-menu-item pure-menu-has-children">
        <a class="pure-menu-link" href="#">{{ .Pre }}{{ .Name }}</a>
        <ul class="pure-menu-children">
          {{ range .Children }}
          <li class="pure-menu-item">
            <a href="{{ .Permalink }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
    {{else}}
      <li class="pure-menu-item">
        <a class="pure-menu-link" {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Pre }}{{ .Name }}</a>
    {{end}}
      </li>
    {{end}}
  </ul>
</div>
