<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## 	What We Believe Will Always Become a Reality… If and Only If We Target Our Faith Properly



---


### Summary

This week, our Workbook made several points:

<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a>
</strong>
<p>Our faith gives us assurance that what we believe will become a reality. When we know the character and power of God, and we believe what God has promised, then we can be assured that God will do what He has said He will do.</p>

<p>In the Bible, faith is always God-centered. The writer of Hebrews does not encourage us to have faith in ourselves or in our own desires, but in God. We cannot always make our own dreams successful, regardless of how hard we work to that end. But faith in God is always rewarded. It is not the power of positive thinking, for we are limited in how much we can make our thoughts become a reality. God, however, can bring every one of His purposes to reality in our lives. When we place our faith in Him, we can be absolutely confident that He will do what He has said.</p>
</div>


On this page, we will be examining the idea that our faith leads to certain outcomes if and only if said outcomes are in the Will of God. In other words, we do not get to twist God's promises into whatever we might want them to be.

{{% content %}}
---


#### Outline

- [Not everything we ask for is a guarantee](#4)
- [The only things we can be certain of are God's promises as related in the Bible, not our own desires or even what others might call God's promises](#5)

---


### Not everything we ask for is a guarantee

Consider John 14:13 as an example. When the Bible tells us that Jesus will do whatever we ask in His name, it is a mistake to get greedy, so to speak, about the "whatever."

God will always do what is best for us spiritually (compare Romans 8:28-30), even unto giving us life eternal. That does not always mean it is what we ourselves might wish for, because very often our perspective is not as complete as God's is. For example, oftentimes we would wish to avoid suffering in life. However, the Bible is clear that suffering provides the testing that refines our faith, meaning that it is an important part of spiritual growth (compare James 1:2-4; Romans 5:3-5). So is praying that we might avoid all suffering really even a good thing for us, spiritually speaking?

Where I'm going with this is not so much that we ought to pray that we might suffer or not pray that we might be delivered from it, but simply that we must make a point to not get angry at God if we pray to avoid suffering yet find ourselves being tested with it nonetheless. Because God knows so much better than we ever could what is truly best for us.

What we are going to talk about now is basically when certain parties take the "whatever" of John 14:13, and start plugging in things that have no business being there. And then get mad at God because "we ought to have certain faith in God's promises, and God promised He would give us whatever we asked!"

Many people might here roll their eyes and remark that they would never engage in a pattern of behavior that is so clearly foolish. However, it is *very* common for us (all of us) to let our own desires or expectations get in the way of our relationship with God on a smaller scale... perhaps even at a level under our conscious attention. We might feel a sense of entitlement, like our prayers deserve an answer, that it is owed to us. Because we prayed earnestly and asked God to do something for us, we might feel put out if it does not happen how we asked.

So, for example, we might become angry at God if a family member is sick and we pray for their healing but they die from their illness instead. Or perhaps we pray for continued employment to provide for our family in the midst of an economic recession, and yet we lose our jobs. We prayed these things in Jesus' name, did we not? So why did they not happen? Doesn't John 14:13 say that whatever we pray in the name of Jesus He will do for us? So what gives?

### The only things we can be certain of are God's promises as related in the Bible, not our own desires or even what others might call God's promises

The heading of this section is the main point of this page, more or less. It might be tempting sometimes to feel like God is perhaps a bit flaky, if we keep praying for all these things and yet they don't happen how we pray for them to happen. Maybe we are left feeling like we can't trust God to come through for us.

If ever we find ourselves feeling this way, it usually has something to do with us not lining up our prayers with the Will of God as we ought. All the noises we make about being able to boldly trust in all that God has told us and rely upon His promises, all of that rests upon us actually knowing what His promises are, *and also what they are not*.

In broad strokes, God's promises are not individual things in our lives like specific events---a promotion at work, an important medical checkup, or whatever else---but are much broader. For example, He promises that He will never leave us nor forsake us; He promises us that we will have eternal life so long as we believe in Him. These are things that we may have complete and total trust in; this is the certainty that Hebrews 11:1 calls to mind.

Some of the hardest situations we may have to navigate in our lives are when we cannot see the reasons for something---like the death of a loved one, like war and disease and genocide. We might pray for specific outcomes relating to some of the horrors of the world, only to find ourselves still afflicted, not spared in the way we might wish.

When we are tempted to bitterness in such times, it would do us well to remember that God does *not* in fact promise us blissful lives free from suffering and pain, even though some people falsely claim so. He promises us many things, but actually many of the things that people might think would be promises of God---things that they've heard others call promises of God, things that they *want* to be promises of God---many of these things are not in fact promises of the certain variety. And that can be a hard lesson for us.

Rather than immediately getting angry at God when we feel like our expectations have been violated, we should instead check ourselves and first examine whether the Bible really supports what we feel to be necessary, whether it mandates it in a way that would make God's actions certain. If we are honest with ourselves, did God not do something that He promised, or is the thing that we wanted Him to do something that He never actually promised?

It is far better for us to err very much on the side of giving God the benefit of the doubt, to acknowledge that we are but small humans with just a very narrow slice of perspective. Even acknowledging this, however, does not always make things easy in practice. But if we trust in the wider promise that God is always working things for our eternal spiritual good, perhaps it will be easier for us to trust Him in all the rest of the things that we may not understand at present, and in fact may not ever understand until we see Him face-to-face in eternity.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Not everything we ask for is a guarantee](#4)
- [The only things we can be certain of are God's promises as related in the Bible, not our own desires or even what others might call God's promises](#5)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>