# Ignore draft pages not ready for public view
content/drafts/
static/drafts/

# Ignore information that is intentionally kept out of repo
private/

# Ignore Python virtual environment folder (for the preprocessor application)
.venv/
