<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## The complete household of God: The Revelation (src: Ichthys)





---


### Summary


---





### Audio clip from Ichthys


<audio controls preload="auto" title="SR5 Audio Subpart 3">
  <source src="https://ichthys.com/MP3/sr5-pt3-ak.mp3#t=15:10,19:33" type="audio/mpeg">
</audio>
  



---






<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a> from <a href="https://ichthys.com/Satans-Rebellion-Part5.htm">Ichthys</a>
</strong>

<p>While we now know the mystery of Christ and of the Church, it has not been fully revealed what we shall be (1Jn.3:2), for the glories to come cannot be fully appreciated until experienced. Therefore the final and full experiential unveiling of the great mystery still lies in the future, awaiting the day when Christ shall be fully unveiled to the world at His return (Lk.17:30; 1Cor.1:7; 2Thes.1:7; 1Pet.1:7; 1:13; 4:13; Rev.1:1), and we, His bride, shall be unveiled with Him (Rom.8:19; cf. Rom.16:25-26; Gal.3:23; Eph.3:5-6).</p>

<p>Thus God took Satan completely by surprise, and though He had given indications of future events, before the cross the great mystery was hidden – to His glory and the devil's discomfiture (cf. Prov.25:2; Matt.13:11; Mk.4:11; Lk.8:10). Christ, now human and divine, coming to earth to die for our sins <em>is</em> the mystery (Col.2:1-4; 1Tim.3:16), and the miraculous completion during this age of the Church, His body and His bride for whose sake He died, <em>is</em> the converse side of that mystery (Eph.1:23), for Christ and His Church are inseparable.</p>



</div>
---
<div class="special-content quote">






<p>As the antitype to the fifth and sixth Genesis days, the Church age reflects the refilling of the newly refurbished earth. For as the previous four Genesis days had made life habitable for the creatures placed upon it by God during the fifth and sixth day, culminating in the creation of human kind in Adam and Eve, so the Church age has seen the arrival of the bountiful crop sprung from the seed of faith planted in the Gentile age and sprouting in the Jewish age. </p>

<p>Noah alone (along with seven others) had kept this seed alive at the time of the great flood (1Pet.3:20), and the cadre of believers during the Jewish age constituted the growing remnant of that faith as the seed grew into a plant (Ps.80:8-16; Is.5:2; Jer.2:21; Ezek.17; Hos.10:1; cf. Jn.15:1). But during the Church age, as in the fifth and sixth Genesis days when the filling up of the world with creature life had occurred only after the favorable conditions created by the first four days – all the particulars necessary to physical life in the Genesis type – so in the antitype of human history the abundant "hundred fold" crop of salvation throughout the world which that plant is now producing, the filling up of the body of Christ, has been occurring only after the necessary conditions have been met (Lk.10:2): the advent and victory of Jesus Christ, <em>the</em> Seed of promise and <em>the</em> Branch of Israel.</p>



</div>
---
<div class="special-content quote">






<p>The Church age is truly the "fullness of times" for in it the Church is fulfilled (Eph.1:9-10). And just as the final pair of Genesis days culminates in the creation of the man and of the woman who fulfills him, so the final pair of historical days begins and ends with <em>the</em> Son of Man's two advents, and is taken up with the completion of the Bride for whom He died. The Church age is thus the mystery age, because it is in this age that the mystery of Christ and of His Church has been revealed and is being fulfilled.</p>

<p>And now, at the end of these days, the unsearchable and perfect plan of God is on the point of being completely fulfilled, with the gap in the family of God created by the defection of the devil and his angels nearly filled up by Christ and His Church, a feat seemingly impossible before the cross and the resultant dissemination of the gospel to the gentiles, but at this late hour all but an accomplished fact, a mystery hidden and still hidden from all those whose eyes are blinded by the prince of this world, but an essential and blessed truth to all who have had the privilege of partaking of the riches of Jesus Christ:</p>



</div>
---
<div class="special-content quote">






<div class="special-content scripture">
<strong>Colossians 1:25-27 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>

<p>It is of this [Church] that I, [Paul], have become a minister according to God's mandate given to me for dispensing [the truth] to you, in order to bring completeness to God's plan (lit., "word", Gk. <em>logos</em>) that is, [to make known] <strong><em>the mystery</em></strong> hidden from ages and from generations [past], but now revealed to His holy ones (i.e., believers). To all such God desired to make known what wealth there is in this <strong><em>glorious mystery</em></strong> regarding the gentiles, for it is that Christ – your hope of glory (i.e., resurrection and reward) – is in you.</p>

</div>


</div>




---




### Summary points

As we've been discussing, Christ, now human and divine, coming to earth to die for our sins *is* the mystery (Col.2:1-4; 1Tim.3:16), and the miraculous completion during this age of the Church, His body and His bride for whose sake He died, *is* the converse side of that mystery (Eph.1:23), for Christ and His Church are inseparable. Until the cross, all of this was completely hidden. Now, we see as through a veil:

- While we now know of the mystery of Christ and the Church, it will not be fully revealed until the return of Jesus Christ. What we mean by that is that the full experiential unveiling the great mystery still lies in the future, awaiting the day when Christ shall be fully unveiled to the world at His return, and we, His bride, shall be unveiled with Him.



---




### Summary points

Recall the parallels between days five and six in the millennial days of human history, and days five and six in the Genesis days of recreation:

| **Days five and six in Genesis days of recreation**                                                                                               | **Days five and six in millennial days of human history**                                                                                                                                                           |
|---------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Reflects the refilling of the newly refurbished earth.                                                                                            | Reflects the arrival of the bountiful crop sprung from the seed of faith that was planted in the Gentile age and sprouted in the Jewish age.                                                                        |
| The filling up of the world with creature life occurred only after the favorable conditions created by the first four Genesis days of recreation. | The abundant "hundred fold" crop of salvation throughout the world occurred only after the necessary conditions were met: the advent and victory of Jesus Christ, *the* Seed of promise and *the* Branch of Israel. |
| Culminates in the creation of the man and of the woman who fulfills him.                                                                          | Culminates in the revelation of Jesus Christ, and the the completion of the Bride for whom He died.                                                                                                                 |




---




### Summary points

And now, at the end of these days, the unsearchable and perfect plan of God is on the point of being completely fulfilled: the gap in the family of God created by the defection of the devil and his angels is now nearly fully filled up by Christ and His Church.

- Before the cross and dissemination of the gospel to the gentiles, this would have seemed impossible. But now it is all but accomplished.
- This is the "mystery" of the Church Age being revealed.
- Praise God that in these matters, He has seen fit to reveal to us at least some small part of His glorious purposes!



---




### Follow-on topics

#### The idea of "already, but not yet" is far from uncommon in the Christian life



Some examples:

- Jesus already paid for all of our sins, yet we nonetheless find ourselves still battling sin in this life, and will not be free from sin completely until we reach the other side.
- We have already been adopted as sons and daughters of God, but we will not see the full effects of this adoption until we reach the other side.
- Etc.

This principle is also in effect when it comes to the mystery of Jesus and Church. Jesus already gave Himself up for the Church, and the Church has already been filled by millions of believers throughout the centuries. Yet the final manifestations of these things will not be realized until Jesus returns again in glory, at which point the Church as His Bride will be fully unveiled.



---




#### The idea of "already, but not yet" is far from uncommon in the Christian life

This is something we should eagerly look forward to. As humans, we might anticipate the wedding celebrations of friends and family even here in this life. How much more so the wedding banquet between Jesus and the Church!

Much of the challenge in the Christian life in fact is overcoming the "not yet" part of "already, but not yet", via faith. It is not easy to maintain the correct spiritual perspective when we are forced to wait. But this is exactly what God has us do, so that we might demonstrate to Him the true character of our faith.



---




#### The unity of Christ and the Church



The study mentions that "Christ and His Church are inseparable". What does this mean?

First of all, this unity is actually what "becoming one flesh" in human marriage symbolizes (cf. Genesis 2:24;Matthew 19:5; Mark 10:8; Ephesians 5:31). Last time we talked some about how human marriage is simply a shadow of this divine relationship, and the "oneness" that is in view here is no different.

When Jesus took on a human nature, he bound Himself to humanity forevermore. That is something we can scarcely imagine. This is part of why the "marriage" between Jesus and the Church has such significance as a tie that binds Him to us.



---




#### The unity of Christ and the Church

Another consequence of us being joined to Christ is that there is no room for anything else to intrude in the relationship. Compare 1 Corinthians 6:15-17:

<div class="special-content scripture">
<strong>1 Corinthians 6:15-17</strong>

<p><strong>15</strong> Do you not know that your bodies are members of Christ himself? Shall I then take the members of Christ and unite them with a prostitute? Never! <strong>16</strong> Do you not know that he who unites himself with a prostitute is one with her in body? For it is said, “The two will become one flesh.” <strong>17</strong> But whoever is united with the Lord is one with him in spirit.</p>

</div>


Christ is ours, and we are Christ's, spiritually united with Him through the power of the indwelling Holy Spirit. The intimacy of this union ought to be viewed in the same terms as a man and his wife becoming one flesh. Just as there is no room for anything to intrude in that physical case, so too here in this spiritual case.



---




### Further discussion




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>