<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 1



---


### Summary

Notes on Romans 1.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [What is a bondservant?](#4)
- [What does it mean to be declared "Son of God"](#5)
- [How should we approach other sinners?](#6)
- [Does faith make an impact?](#7)
- [How important is encouragement?](#8)
- [Are we righteous?](#9)
- [Who gets a pass?](#10)
- [Do we still have idolatry today?](#11)
- [What does vile mean (verse 24)](#12)
- [Why choose the lie of the world over the truth of God (verse 25)?](#13)
- [Does God give up on sinners (verse 26)?](#14)
- [What is a "degrading passion" (verse 26)?](#15)
- [Love is love, right (verses 26-27)?](#16)
- [Are people born gay (verses 26-27)?](#17)
- [What is the penalty (verse 27)?](#18)
- [What is considered natural (verse 27)?](#19)
- [What is the result of our passions (verse 28)?](#20)
- [What is not proper in God's eyes (verses 29-31)?](#21)
- [How does this describe certain modern "social justice" movements that in truth have darker motives (verse 31)?](#22)
- [How about the concept of "live and let live" (verse 32)?](#23)
- [Who are "they" (verse 32)?](#24)

---


## Second Baptist - 2023 Romans Study - Romans 1

{{% note %}}
For most of the sections on this page, I link to pages from my [verse-by-verse study on Romans](/verse-by-verse-studies/romans/). I started writing responses to the questions here, but then the scope grew and I decided to convert it to a formal verse-by-verse study.

Later chapters in this Second Baptist series will have sections that are generally shorter, and will also stay standalone.
{{% /note %}}



### What is a bondservant?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-1-what-is-a-bondservant/).

### What does it mean to be declared "Son of God"

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-3-4-what-does-it-mean-for-jesus-to-be-declared-son-of-god/).

### How should we approach other sinners?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-5-7-how-should-we-approach-other-sinners/).



### Does faith make an impact?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-8-does-faith-truly-make-an-impact/).

### How important is encouragement?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-11-12-how-important-is-encouragement/).

### Are we righteous?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-17-are-we-righteous/).



### Who gets a pass?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-18-25-who-gets-a-pass/).

### Do we still have idolatry today?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-22-25-what-are-our-modern-day-idols-given-that-the-worshiping-of-animal-statues-isnt-so-much-a-thing-anymore/).

### What does vile mean (verse 24)

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-24-what-ought-we-make-of-the-vile-impurity-or-uncleanness-mentioned-here/).

### Why choose the lie of the world over the truth of God (verse 25)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-25-why-would-people-choose-the-lies-of-the-world-over-the-truth-of-god/).



### Does God give up on sinners (verse 26)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-26-does-god-give-up-on-sinners/).

### What is a "degrading passion" (verse 26)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-26-what-is-a-dishonorable-passion-or-shameful-lust-in-this-context/).

### Love is love, right (verses 26-27)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-26-27-love-is-love-right-you-cant-be-against-love/).

### Are people born gay (verses 26-27)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-26-27-are-people-born-gay/).

### What is the penalty (verse 27)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-27-what-exactly-does-receiving-in-themselves-the-due-penalty-for-their-error-mean/).

### What is considered natural (verse 27)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-27-what-is-considered-natural/).

### What is the result of our passions (verse 28)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-28-what-is-the-result-of-our-passions/).

### What is not proper in God's eyes (verses 29-31)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-29-31-what-is-not-proper-in-gods-eyes/).

### How does this describe certain modern "social justice" movements that in truth have darker motives (verse 31)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-29-31-what-is-not-proper-in-gods-eyes/).

### How about the concept of "live and let live" (verse 32)?

See [here](/verse-by-verse-studies/romans/romans-1/romans-1-32-what-does-this-verse-have-to-say-about-the-notion-of-live-and-let-live/).

### Who are "they" (verse 32)?

This verse has in mind not only those who *do* evil, but also those who *approve* of it. Those who sit on the sidelines and applaud when people do "what ought not to be done" (verse 28).

To use a modern example, those who actively lobby for homosexuality and promote it, even encourage it... these people will come in for judgement too. Not just those people who are themselves practicing homosexuals.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [What is a bondservant?](#4)
- [What does it mean to be declared "Son of God"](#5)
- [How should we approach other sinners?](#6)
- [Does faith make an impact?](#7)
- [How important is encouragement?](#8)
- [Are we righteous?](#9)
- [Who gets a pass?](#10)
- [Do we still have idolatry today?](#11)
- [What does vile mean (verse 24)](#12)
- [Why choose the lie of the world over the truth of God (verse 25)?](#13)
- [Does God give up on sinners (verse 26)?](#14)
- [What is a "degrading passion" (verse 26)?](#15)
- [Love is love, right (verses 26-27)?](#16)
- [Are people born gay (verses 26-27)?](#17)
- [What is the penalty (verse 27)?](#18)
- [What is considered natural (verse 27)?](#19)
- [What is the result of our passions (verse 28)?](#20)
- [What is not proper in God's eyes (verses 29-31)?](#21)
- [How does this describe certain modern "social justice" movements that in truth have darker motives (verse 31)?](#22)
- [How about the concept of "live and let live" (verse 32)?](#23)
- [Who are "they" (verse 32)?](#24)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>