<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Discussion - Level of depth; calling many deceived -- too harsh?; why God allows Satan control



(Derived from https://ichthys.com/SR4(SWS).htm)



---


### Summary

Talking in-depth about Satan's world system has enough practical benefit that it is worth spending time on as an area of study. Satan's web of lies and deceit is far from unsuccessful in leading us humans away from the truth -- quite to the contrary, the system is devastatingly effective at preying upon our fallen natures to turn us against the Lord. It may seem harsh to speak in terms of most humans being deceived, but the truth is the truth. God didn't give Satan this control as some sort of gift, but Satan usurped it. God allows Satan this temporary control over the material world only because He uses the situation to test us and refine our faith; God's plan is perfect and unswerving, and the situation in no way caught Him by surprise. God could crush Satan instantly with the smallest movement of His finger, so we have nothing to worry about -- we have the Omnipotent Creator of the universe on our side. All we have to do is have faith.
---


#### Outline

- [Is this much depth really necessary?](#4)
- [Are many Christians really so helpless?](#5)
- [Isn't this too harsh?](#6)
- [Why doesn't God just defeat Satan already?](#7)

---




### Is this much depth really necessary?



If we just say "Satan manipulates people and events in the world to lead us Christians away from the truth," isn't that alone sufficient? Why do we need to go through hundreds of pages of teaching talking about this stuff?

Well, a cardinal rule of any battle is knowing your enemy -- not just a little bit, but everything about them. You may have also heard the Latin phrase *scientia potentia est* -- "knowledge is power."

Put simply, having a very in-depth understanding of how Satan controls and influences the world is the best way to inoculate ourselves against the illusion around us.



---




### Are many Christians really so helpless?



Well, it does depend to some degree on how much knowledge you have coming into this study, but the answer is yes, generally.

How many Christians do you know who think that you can generally trust the media? The government? Messages from TV and other works of fiction? Do people really hold these things at arm's length as if they were venomous snakes? Do they recognize that Satan is in complete control of all these things, manipulating them to his purposes?

Or how about this -- do many Christians recognize that Satan empowers error within doctrine in the Church as well? Have you ever noticed how it is dangerous false teachings (like the prosperity gospel) that seem to take off in popularity? How the works of hardworking brothers and sisters in the church go unrecognized and largely forgotten (by the world, that is)?

In reality, many Christians are completely oblivious to the fact that this world is wholly in Satan's clutches, and that it is set up as an illusion to deceive and distract us. This reason is why pursuing a study like SR4 is so valuable.



---




### Isn't this too harsh?

Someone might take issue with the wording here. We are talking in generalities, sure, but we're still calling out lots and lots of people.

The thing is, *we* are these people too, at least from time to time. Do you wake up in the morning and remind yourself that this world is nothing but ashes and dust, and that it is the invisible that is eternal? (No? Me neither -- most of the time).

Yet, even so -- even though we are ourselves unworthy -- we have to be harsh and say what needs to be said. Because Satan is all too happy too to use "niceness" as a club to beat down truth in this world.



---




### Why doesn't God just defeat Satan already?



God is omnipotent and outside spacetime. Satan, though far, far more powerful than us humans, is still only a finite creature. His fight against God is complete and utter madness, and God could completely obliterate him in an instant.

- In fact, when Jesus returns in radiant glory, he *will* singlehandedly destroy all the armies of the antichrist. Their death warrant is signed. The end is coming for them.
- In fact, when Jesus paid for our sins on the cross, Satan lost -- totally and completely. As prophesied in Genesis 3:15, the head of the serpent was crushed by the seed of the woman.
- In fact, no matter what Satan does to us -- even up to the point of imprisonment, torture, and death -- he can't take away anything of any eternal import. God sees us. And eternity is all that matters.

It is important for us to actually believe these things, because these things are true. Even if Satan is given reign to manipulate the world's strings today, tomorrow he will be cast into the lake of fire forever. In fact, things are only going to get worse during the tribulation that the book of Revelation describes. We better get used to the idea that this world is enemy territory, because someday in the future we are going to start getting put to death by it. Then the things that might seem hard to believe now will be clear as day. But for people who made friends with the world and all that is in it, it will be too late.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Is this much depth really necessary?](#4)
- [Are many Christians really so helpless?](#5)
- [Isn't this too harsh?](#6)
- [Why doesn't God just defeat Satan already?](#7)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>