<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Trinity Roles as Seen from Specific New Testament Scriptures



(Derived from https://ichthys.com/1Theo.htm)

---


### Summary

TODO
---


#### Outline

- [Matthew 3:16-17](#4)
- [John 14:16](#5)
- [1 Corinthians 12:4-6](#6)
- [2 Corinthians 13:14](#7)
- [Ephesians 3:14-17](#8)
- [Ephesians 4:4-6](#9)
- [1 Peter 1:1-2](#10)
- [Revelation 1:4-6](#11)

---


### Matthew 3:16-17

<div class="special-content scripture">
<strong>Matthew 3:16-17 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>Now once <strong>Jesus</strong> had been baptized, He immediately came up out of the water, and, behold!, the heavens opened for Him, and He saw the <strong>Spirit</strong> of God coming down like a dove and lighting upon Him. And, behold!, a <strong>voice</strong> from heaven was saying, "This is My beloved Son, with whom I am well pleased.</p>
</div>


The baptism of Christ had a much different symbolism from any other baptism John ever undertook. John had (rightly) understood the normal meaning of his unique baptism to be a visible act of repentance and a symbolic washing away of sins. This explains why he was reluctant to baptize the sinless Messiah (Matt.3:14). But in the case of Christ, the symbolism is different: His entrance into the water represents His willingness to submerge Himself into our sins (therefore to die for them); whereas His coming up out of the water represents His resurrection. In this, the role of the Trinity in Christ's victory over death at the cross in death and resurrection is symbolized: the Son who undertook the *mission* to save us from our sins comes back to life (in His humanity); the Holy Spirit *quickens* Him (1Pet.3:18); and the Father who sent the Son *pronounces* His work and sacrifice satisfactory, efficacious and well-pleasing.

---


### John 14:16

<div class="special-content scripture">
<strong>John 14:16 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>And <strong>I</strong> will ask the <strong>Father</strong> and He will give you another <strong>Comforter</strong>, that He may be with you forever.</p>
</div>


This verse shows the Father in a position of *authority*, the Son *interceding* on behalf of believers, and the Holy Spirit being sent *to help* us.

---


### 1 Corinthians 12:4-6

<div class="special-content scripture">
<strong>1st Corinthians 12:4-6 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>There are different gifts, but the same <strong>Spirit</strong>; and there are different ministries, but the same <strong>Lord</strong>; and there are different results, but the same <strong>God</strong> who brings about all results in all cases.</p>
</div>


Here we see clearly the respective roles of the Trinity in supporting our Christian ministry in life. The Holy Spirit gives us our particular spiritual gift(s) (cf. 1Cor.12:11); specific ministries are said to be assigned by our Lord Jesus Christ; and the Father is said to oversee and empower the results of those ministries: God gives us the gift (the Holy Spirit: He *empowers* us); God gives us the ministry (the Lord Jesus Christ: we share in His *mission*); God gives us the results (the Father: all effects are part of His *plan*).

---


### 2 Corinthians 13:14

<div class="special-content scripture">
<strong>2 Corinthians 13:14 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>May the grace of the <strong>Lord Jesus Christ</strong>, and the love of <strong>God</strong>, and the fellowship of the <strong>Holy Spirit</strong> be with you all.</p>
</div>


The Trinity is seen here from the standpoint of salvation, before, during and after: The <u>love</u> of the Father *sends* the Son to die for sinful mankind (cf. Jn.3:16); The Son's *sacrifice* reconciles us with the Father by satisfying the requirements of the Father's righteousness, and thus providing <u>grace</u>, that is, salvation free to us since He paid; The Spirit *unites* in <u>fellowship</u> with God all who accept this offer of grace (based on Christ's death) originating in God's love.

---


### Ephesians 3:14-17

<div class="special-content scripture">
<strong>Ephesians 3:14-17 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>For this reason I bow my knees to the <strong>Father</strong>, from whom His entire family in heaven and on earth has received its name, that He may grant you according to the riches of His glory to be powerfully strengthened in your inner person through His <strong>Spirit</strong>, so that, rooted and grounded in love, <strong>Christ</strong> may dwell in your hearts through faith.</p>
</div>


In this apostolic prayer of Paul, we see the Father as the *authority* to whom Paul prays; he prays for us to be *strengthened* by the Holy Spirit; the object of his prayer is that we may grow to be *more like* our Savior, Jesus Christ, and improve our relationship with Him in every way.

---


### Ephesians 4:4-6

<div class="special-content scripture">
<strong>Ephesians 4:4-6 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>There is one body and One <strong>Spirit</strong> – just as when you were called it was in one hope that you were called. There is One <strong>Lord</strong> [Jesus Christ], one faith, one baptism. There is One <strong>God and Father</strong> of all, who is over all and through all and in all.</p>
</div>


In this precís of the "unity of the faith" (Eph.4:3), Paul reminds us of some of the most important common factors of our Christian faith. In doing so, certain aspects of individual Trinity roles are emphasized: the Holy Spirit's role in bringing us into the body of Christ through His baptizing of us into Christ, and our concomitant *hope* of resurrection in Christ; the Lord Jesus Christ's role as our object of *faith* and the Spirit baptism by which we enter into union with Him through that *faith*; the Father's role as the unifying God of *love*, who knits His family of believers together in every way.

---


### 1 Peter 1:1-2

<div class="special-content scripture">
<strong>1 Peter 1:1-2 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>Peter, an apostle of Jesus Christ, to those who, though outcasts dispersed throughout Pontus, Galatia, Cappadocia, Asia, and Bithynia, were yet selected in the foreknowledge of <strong>God the Father</strong>, by means of the <strong>Holy Spirit's</strong> consecration, for the obedience in and sprinkling of the blood of <strong>Jesus Christ</strong>.</p>
</div>


Peter tells us that we believers are elected to eternal life according to the Father's *plan* of salvation, the Holy Spirit's *implementation* of salvation for us when we believe, and the Son's *work* of salvation, in which and in whom we put our faith.

---


### Revelation 1:4-6

<div class="special-content scripture">
<strong>Revelation 1:4-6 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>
<p>Grace to you and peace from the <strong>One who is and was and is coming</strong>, and from the seven <strong>Spirits</strong> which are before His throne, and from <strong>Jesus Christ</strong>, the faithful witness, the firstborn from the dead and the ruler of the kings of the earth.</p>
</div>


In John's salutation from the Trinity, the Father's eternity and imminent taking of *possession of the devil's world*, the Spirit's *supervision of the devil's world* (see Rev.5:6; Is.11:2), and the Son's *victory and conquest over the devil's world* are emphasized.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Matthew 3:16-17](#4)
- [John 14:16](#5)
- [1 Corinthians 12:4-6](#6)
- [2 Corinthians 13:14](#7)
- [Ephesians 3:14-17](#8)
- [Ephesians 4:4-6](#9)
- [1 Peter 1:1-2](#10)
- [Revelation 1:4-6](#11)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>