<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Romans 1:26-27 - Love is love, right? You can't be against love!



---


### Summary

Greek has multiple words for "love." The fact that God clearly supports "love" (in the sense of brotherly love between believers, the divine unconditional love we are to have even for our enemies, and so on) does not mean he supports homosexual sexual relationships. That would be a different word in the Greek---not one of the words dealing with those aforementioned types of love, but instead the word dealing with sexual passion. So making an argument like this is very much rubbish, even upon only the most cursory of examinations.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline


---


## Romans 1:26-27 - Love is love, right? You can't be against love!

The Bible says God is love (1 John 4:8). How then can God be against the love between two men and two women, if they "really love each other?"

People saying such have obviously never studied Greek. If they had, they would know that Greek actually has multiple words for love (one might argue that perhaps φιλαυτία and ξενία qualify too, but for now we'll leave them aside):

- *Agape* (Greek: [ἀγάπη](https://www.blueletterbible.org/lexicon/g26/esv/mgnt/0-1/)) - The unconditional love that God has for humanity, and the love that we believers also are to have not only for each other, but even for our enemies. (This is the word used of God in 1 John 4:8).
- *Philia* (Greek: [φιλία](https://www.blueletterbible.org/lexicon/g5373/esv/mgnt/0-1/)) - Brotherly love between close friends, as in that between all of us as brothers and sisters in Christ.
- *Storge* (Greek: στοργή) - The love of parents and children; familial love.
- *Eros* (Greek: ἔρως) - Sexual passion.

All of us Christians are supposed to have *agape* love for each other according to John 13:35. The noun *agape* and verb *agapao* (Greek: [ἀγαπάω](https://www.blueletterbible.org/lexicon/g25/esv/mgnt/0-1/)) are quite widely used in the NT, as the links will show if you reference the concordance entries.

The noun *philia* is not directly used much in the NT (just in James 4:4, and even that is talking about love for the world), but the concept certainly is: we are to love the brethren, all those who believe. See also the verb form *phileo* (Greek: [φιλέω](https://www.blueletterbible.org/lexicon/g5368/esv/mgnt/0-1/)).

At any rate, the point is that *agape*, *philia*, and *storge* are all forms of love that can (and should!) cross genders freely. *Eros*, on the other hand, is not so. It is only to be between married couples, as the Bible makes crystal clear in multiple places.

And this is why it is quite improper to conflate "God is love" with "homosexual romantic relationships are OK." Leaving aside the fact that the Bible directly condemns homosexuality ([like we just covered](/verse-by-verse-studies/romans/romans-1/romans-1-26-what-is-a-dishonorable-passion-or-shameful-lust-in-this-context/)), this "God supports love" argument doesn't even pass muster on its own. Not if you distinguish between "types of love" like one obviously ought to do, since they aren't even the same words in the Greek.

{{% note %}}

Some further comments on the wording "really love each other" are in order:

Whatever feeling/emotion/attitude homosexual couples have for each other, it is not "real love" in the sense reserved for husbands and wives. This way of phrasing the question is in fact presupposing the very thing under discussion. It is impossible for two people of the same gender to love each other in that way, biblically speaking.

Atheists will scoff, and say we are just waving away an obvious parallel. But it's not as though atheists have much care for the symbolism of marriage as explained in Ephesians 5:21-33, for example. So the fact that they are very confused about what makes the loving different is not of concern to us. Their confusion stems from spiritual blindness on their part, not because this is somehow hard to understand inherently.

Finally, if you really love someone, *you do not encourage and enable their gross sin*, but *exhort them to put a stop to it*.

{{% /note %}}




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline




  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>