<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## What sort of attitude should we have towards Church Fathers, Councils, and Creeds?





---


### Summary


---





### Introduction: I am a bit out on an extreme here

As a foreword to our discussions of various Church Councils and Creeds, I think it is appropriate for y'all to hear my general take on these things upfront, such that you are forewarned that I am coming into this from a firebrand perspective. At least, that is what most of contemporary Christianity would say: that I am the odd one out here, not they. And fair enough, since I think it is true, in large part.

My methodological hermeneutic (we might say) when it comes to Church Fathers, Councils, and Creeds is something along the lines that at best they are not much use in establishing doctrine (aside from giving one background about what has come before), and at worst, they actively give one the wrong impression about the truth. So in my opinion, they are of reasonably limited utility to Evangelical Protestants who are interested primarily in determining what the Bible says and means, and that alone.



---




### *Sola scriptura* leaves no room for Church Fathers, Councils, or Creeds

So why then do other people claiming to be Evangelical Protestants give them such heed? I confess that I do not know. People who claim *sola scriptura* and then pay attention to things that aren't the Bible seem to me to not actually believe in the *sola* part. Logically speaking, you cannot rely upon the Bible alone if you also rely upon tradition; then you are no longer relying upon the Bible *alone*. Seems pretty straightforward, right?

But, people argue, we needed ecumenical Church Councils to decide on the doctrine of the Trinity, or what books should be part of the canon. Without them, so the argument goes, maybe Christians today wouldn't worship a Triune God (but have a different conception of God), or maybe our Bible wouldn't contain the 66 books we know—either way, we needed these centralized meetings of Early Church leaders to make these crucial foundational decisions that define our faith.



---




### *Sola scriptura* leaves no room for Church Fathers, Councils, or Creeds

But God exists independent of human conceptions of Him, does He not? Even if the Arians had "won" in Nicea, God would still exist in three persons. In fact, even more than that, even if the Arians had won, I don't think that believers in a triune God would have been wiped off the face of the earth... because the Bible pretty clearly teaches it in various ways (e.g., see [here](https://www.youtube.com/watch?v=4l_OzkCbJxg) for how the Bible teaches the divinity of the Father, Son, and Spirit, and [here](https://www.youtube.com/watch?v=eKpw0_W78Sc) for how the Bible teaches the distinct personhood of the Father, Son, and Spirit).

And in like manner, even if the canon hadn't been decided upon correctly by Early Church figures, would the true canon have ever stopped being God's Word? Of course not. Even if the majority of the world went off the rails and believed in a false canon, it would not at all change what the true canon actually is. Because it exists independent of human conceptions of it.



---




### *Sola scriptura* leaves no room for Church Fathers, Councils, or Creeds

Put succinctly then, truth is independent of human consensus. It always has been, and always will be. Thus, in a proper *sola scriptura* epistemology, there is zero room for Church Fathers, Councils, and Creeds. Not even a teensy tiny bit. Because these people, events, and writings are not inspired and inerrant. Because they deal with imperfect, fallible human beings, not the perfect Word of God.

Does this mean there is no value in studying Church Fathers, Councils, and Creeds at all? Should we seek to blot them out from history? Of course not. Studying history is always of use, and that is no different for us as Christians studying these past peoples claiming the same faith as us. But clearly there is a right way to approach these things, and a wrong way to approach these things.

The right way is to analyze Church Fathers in much the same way we would other historical figures (like Cicero, say); to analyze Church Councils in much the same way we would other historical events (like the assassination of Julius Caesar, say); and to analyze Creeds in much the same way we would other historical documents (like parts of the Roman legal code, say). The wrong way is to put these people, events, and writings up on a pedestal uncritically, and make them into something more than they are. We can learn much about the problems and controversies facing the Early Church through these people, events, and writings... but that is a far cry from believing that they are causally responsible for correct doctrine, or that our faith somehow stands upon these things. If we are doing Christianity right, our faith should have nothing to do with these things: if we are doing it right, our faith should rest upon the Bible *alone*.



---




#### Further discussion



---




### The Church Universal vs. the church visible

If I were to put a label on this sort of paradigm of "study these things, but only at arm's length", I think I would term it "studying the church visible through a critical lens." In this, we are drawing a distinction between two types of "churches":

1. The Church Universal, consisting of all true believers past, present, and future, and encompassing those with whom God is especially pleased (among others)
2. The church visible, consisting of the people, events, and writings that make the history books

The two are *not* at all the same. Consider that according to the history books that will be written about the present, the Catholics, Eastern Orthodox, and mainline Protestants outnumber non-denominational *sola scriptura* Evangelicals many, many times over. In the future, readers of modern history may conclude that "the church of the early 21st century" thought this or that, because people from these groups really do think this or that. But do they really speak for us? For example:

- When they start ordaining women as pastor-teachers? (Contrast 1 Timothy 2:12-13)
- When they start blessing marriages between two men and two women? (Contrast Romans 1:26-27)
- When they start saying that Christians should forcibly take over the government and create a theocratic state—as advocated for by the [New Apostolic Reformation](https://en.wikipedia.org/wiki/New_Apostolic_Reformation) and [Dominion theology](https://en.wikipedia.org/wiki/Dominion_theology)? (Contrast Romans 13:1-7; 1 Peter 2:13-17)
- Etc.



---




### The Church Universal vs. the church visible

Many of these decisions have been reached by broad consensus, very similar to pronouncements coming from regional and ecumenical Church Councils in the Early Church. Are there those of us who dissent? Of course there are. But then again, there were those who dissented at the time of the Church Councils too.

So why do we have rose-colored glasses when it comes to Church Councils from the Early Church, but are perfectly comfortable rejecting forms of broad consensus at present, when it seems to us like the majority position is falling into error? What, pray tell, is the fundamental difference between these situations? As I see it, there is no large underlying difference at all.



---




### The Church Universal vs. the church visible

One might also reach back into history to make a similar argument. For example, at what point do the ecumenical Church Councils start becoming "too Catholic" for the taste of Protestants? Most Protestants would say something went wrong at some point, and it is then that the Church Fathers, Councils, and Creeds no longer carry spiritual authority. To be perfectly honest, it probably depends who you ask—many Protestants are very fuzzy on which Church Fathers, Councils, and Creeds are acceptable (and why), and which ones are not.

But if you even for a moment accept that these things *ever* had authority, then you have to grapple with the question of when and why they stopped having authority. In fact, I would go so far as to say that the Catholic and Eastern Orthodox positions (which say that basically all of them have had authority since the beginning) are more logically consistent in some respects than positions that pick and choose, saying that some Church Fathers, Councils, and creeds are OK, but others are not.

According to history, "the church" (note the scare quotes) never really stopped having councils and making creedal pronouncements. So upon what epistemological basis would we accept some and reject others? Ah, you might say, it depends upon whether what they decided on is true or not. We accept the ones where they got things right, and reject the ones where they went off the rails.

Well, what use are they then? We are right back to relying upon the Bible alone to determine truth, which is where we should have been from the beginning, QED.



---




#### Further discussion



---




### *Sola scriptura* is not necessarily anachronistic

There is one final matter I want to discuss, and that is the notion that the concept of *sola scriptura* is somehow a "new development", such that projecting it back upon the Early Church would be completely anachronistic.

The criticism would go something like this: say I were a believer in the early 4th century in the western part of the empire, and had just survived decades of harsh persecution under the Tetrarchy. Under these circumstances, would I have turned my nose up at an ecumenical church council called by the victorious emperor Constantine, who was now operating under the banner of Christianity (at least on the surface)? Would I have said "No sir, the Bible alone is enough for me; I don't need no ecumenical council!"?

The implication here is that any good 4th century Christian would have thought that this council was a good idea (along with the creeds coming out of it), and that the notion of *sola scriptura* would have been completely foreign to them.



---




### *Sola scriptura* is not necessarily anachronistic

So, well... does such an argument have merit?

Part of the problem here is that history never records the little guys keeping their heads down and avoiding such things as drama and politics and chasing after power. That is to say, while we know plenty about influential bishops like Ambrose of Milan, say, we know very little about Christians in the Early Church who steered clear of power struggles and controversy, and instead focused on living out their faith in quiet obedience.

So we know what the Ambroses of the world thought about various things (so to speak), but what about this other sort of believer? We just don't have a lot to go on.

The secular academy sort of thinks that the Ambroses of the world are the only sort of Christian that existed. This is because they deal in objective evidence like written sources, and what records we have passed down to us are heavily skewed towards Christians who got entangled with powerful figures like Constantine and Theodosius I who end up in the history books. By way of contrast, we know virtually nothing about the beliefs of rural churches out in far-flung Hispania in the mid 3rd century (for example), except perhaps when some crazy cult leader got a sufficient degree of popular support that he managed to alarm local bishops enough to get himself condemned in a local synod. The rest of the time? It's kind of hard to say.



---




### *Sola scriptura* is not necessarily anachronistic

And the more the church visible started to organize around power hierarchies, the scarier it becomes for the little guys to speak up if they disagree with something. Suddenly, if you cross the wrong person theologically, you might find yourself facing serious legal consequences under the Roman imperial administration, such as having your Roman citizenship revoked.

So do we really find it surprising that we don't have a lot of sources aside from "the party line" (so to speak), and their arguments against factional opponents who were *also* fighting for power and authority? Personally, I don't find it surprising at all. I would encourage anyone who thinks I'm straw-manning here to do research about the manner in which powerful bishops in the Early Church stuck their noses into Roman politics to solve their theological squabbles with imperial power, because they really did do exactly this. I should emphasize that this is not some particularly contested theory we are discussing here, but something that is beyond all shadow of a doubt a historical fact.

And lest you think this is just some rogue bishops here and there, in this we are also talking about people highly revered as Church Fathers, like Augustine, for example. Augustine petitioned the Roman emperor Honorius to bring harsh imperial sanctions down upon his Donatist opponents in North Africa, culminating in the Council of Carthage in 411 (and its violent aftereffects upon the Donatists, which lasted until the invasion of the Vandals in the 430s). This Church Council came about largely because of Augustine's personal persistent politicking, meaning he was heavily involved in this through and through.



---




### *Sola scriptura* is not necessarily anachronistic

We may agree theologically with Augustine on the matter of Donatism, but what we are discussing here is not the theology itself, but the manner in which the bishops sought to outright criminalize their theological opponents. A [paper I wrote in college]() (particularly Section II "Monologic and Orthodoxy", and Section III "The Formation and Application of Labels") has much to say about the at times questionable actions of the so-called "Orthodox", as well as the matter of heresiological labels and their relationship to Roman law.

In short, theological disputes in the Early Church had a great deal more at stake than they do today. Losers of these disputes not only faced shunning and scorn at the hands of whatever individuals represented the victorious position, but oftentimes faced criminal penalties under Roman law as well. This is the environment in play when we discuss Church Councils and Creeds.

So I ask, in light of all these observations, how likely do you think it is that someone who did not much care for central church authority and all the ceaseless politics and posturing therein would go try to fight this very establishment, rather than keeping their heads down in living out quiet lives of faith? It obviously isn't likely at all. And this is exactly why we don't have copious records describing such people—because only those battling one another for power make the history books.



---




### *Sola scriptura* is not necessarily anachronistic

Personally, that argument is good enough for me. How can I know that people have always existed who truly sought to follow God's path, no matter what the visible establishment was doing around them? Well what do you think of this passage:

<div class="special-content scripture">
<strong>Romans 11:1-5 | ESV</strong>

<p>(1) I ask, then, has God rejected his people? By no means! For I myself am an Israelite, a descendant of Abraham, a member of the tribe of Benjamin. (2) God has not rejected his people whom he foreknew. Do you not know what the Scripture says of Elijah, how he appeals to God against Israel? (3) “Lord, they have killed your prophets, they have demolished your altars, and I alone am left, and they seek my life.” (4) But what is God's reply to him? “I have kept for myself seven thousand men who have not bowed the knee to Baal.” (5) So too at the present time there is a remnant, chosen by grace.</p>

</div>


In Elijah's time, God had His remnant of grace even under the persecution of Ahab and Jezebel. And I am sure God also had His remnant of grace when the centralization of church authority in the West peaked under the Catholic Church, and there was little truth to be found in the church visible. There have always been people who quietly did what is right, but because of their priorities, they won't show up in conventional historical narratives.



---




### *Sola scriptura* is not necessarily anachronistic

Why is that again? Because these people do not care about power, since their kingdom is not of this world. Having set their eyes upon the heavenly country of Hebrews 11:16, they won't fight for religious control, or try to influence the rulers of nations. Instead, they will humbly serve where they are, and trust that God their Savior will deliver them without them needing to go do it themselves.

According to history, these people are nobodies. Maybe they don't even exist. But according to God, these people are the most important group of all. Judgement day will bear this out.

At any rate, to bring us full circle, you may not see this group (representing the sort of *sola scriptura* Christianity that values God's Word above central church authority) highly represented in the fractious Church Councils that made the history books, but that does not mean that they did not exist. In my view, these unnamed faithful are those to whom we owe a true salute as fellow brothers and sisters in Christ.

Does this mean we need to universally pour scorn down upon the church visible, or that none of the folks participating within the church visible were saved throughout history? Of course not. But I hope you can see how the positions of the church visible—such as a preoccupation with central church authority and doctrinal enforcement via some sort of organizational control—are merely one particular sort of orthopraxy that does not fully represent all types of existing Christian thought.



---




### *Sola scriptura* is not necessarily anachronistic

In closing, it can definitely be a good thing for us to study Church Fathers, Councils, and Creeds with a critical eye in order to better understand the context of the Early Church and some of the things going on at that time.

But my main takeaway is this: at the same time that many of these topics are truly fascinating and entirely worthy of study... we need to do this primarily as students of history, not students of theology. That distinction makes all the difference.

For if we start basing our theology off of anything but the Bible, we will quickly run into problems, even if the "external things" we are pulling into our doctrine are highly revered by many, like Augustine and the Nicene Creed, for example. In this way, nothing—absolutely *nothing*---gets a pass from *sola scriptura*, even if that tends to put us on a collision course with most other self-proclaimed Christians in the world. Because the truth is too important to compromise on.



---




#### Further discussion



---







<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>