<h2 id="please-note-this-page-is-in-progress">Please note: this page is in progress</h2>
<p>This means, among other things, that:</p>
<ul>
<li>Some of the content is not fleshed out, so you should not read more into things than exactly what is there.</li>
<li>Some sections might have things marked as “TODOs” (e.g., questions or things that must be done).</li>
<li>There probably will not be any section that pulls everything together in an easily understandable way.</li>
</ul>
<p>This does not mean that this page cannot be helpful to you in its present form. If you are aware of the limitations of the current state, you may find this page helpful long before it is officially published.</p>