<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## The Messiah Pre-figured in the Old Testament



(Derived from https://ichthys.com/1Theo.htm)

---


### Summary

TODO
---


#### Outline

- [Introduction: the Old Testament's portrayal of the suffering of Christ](#4)
- [Blood sacrifice](#5)
- [Prophecy](#6)

---


### Introduction: the Old Testament's portrayal of the suffering of Christ

Contrary to much conventional wisdom about the Old Testament, Jesus Christ and His sacrifice on our behalf is depicted everywhere in the Old Testament. Furthermore, we know from New Testament scripture that the necessity for the mission and suffering of the Messiah was understood clearly enough by Old Testament believers (as Christ explains on the road to Emmaus: Lk.24:27; see also 1Pet.1:10-12 and Heb.11:26).

In fact, there are in the Old Testament a large variety of "types" employed to pre-figure the incarnation, death and suffering of the Son of God on our behalf. The subject of typology will be covered in more extensive detail in [part 4A of this series (Christology)](https://ichthys.com/4A-Christo.htm), but two major categories of the Old Testament's portrayal of the suffering of Christ should be mentioned now:

---


### Blood sacrifice

From the coats of skin that God provides for Adam and Eve to indicate that One will die in their place (Gen.3:21), to Abel's sacrifice, superior to Cain's because it depicts the Substitute's death (Gen.4:4), to the Noahic covenant demanding respect for blood that represents the death of Another in our place (Gen.9:4), to the whole elaborate series of sacrifices commanded by the Mosaic law, all of which portray redemption through Another's blood (cf. Heb.9:22ff.), God made extensive use of the "teaching aid" of blood sacrifice in order that it might be crystal clear to all Old Testament believers that forgiveness of their sins was no light matter: it was something that only God could do for them, and it involved a steep and bloody price that God would somehow have to pay Himself on behalf of those who trusted in Him.

---


### Prophecy

The substitutionary suffering and death of Christ on our behalf is predicted and prophesied throughout the Old Testament, for example:

- Genesis 3:15: He will crush your head, and you, [serpent], will strike His heel.
- Numbers 21:9: So Moses made a bronze serpent and put it on a staff. And it came to pass that whoever was bitten by a serpent then looked at the bronze serpent would live.
- Psalm 22:1: My God, My God, why did You forsake Me?
- Isaiah 53:3: He was despised and rejected by men, a man of sorrows and acquainted with suffering.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Introduction: the Old Testament's portrayal of the suffering of Christ](#4)
- [Blood sacrifice](#5)
- [Prophecy](#6)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>