<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## All Members of the Trinity Are Deity



(Derived from https://ichthys.com/1Theo.htm)

---


### Summary

In this lesson we kick off a series of discussions we will be having about what the Trinity is *not*, to help throw into starker relief what it actually is. This lesson's main focus is examining the point that God is *one* in essence, but that does *not* mean that only one person of the Trinity is deity.
---


#### Outline

- [Our next several discussions: understanding the Trinity in terms of what it is *not*](#4)
- [Key point: God is *one* in essence, but that does *not* mean that only one person of the Trinity is deity](#5)
  - [The Father is God](#6)
  - [The Son is God](#7)
  - [The Holy Spirit is God](#8)

---


### Our next several discussions: understanding the Trinity in terms of what it is *not*

Last lesson we gave the basic definition of the Trinity: "three in person / one in essence" or "one in essence / three in person."

We can better understand what the Trinity is by first considering what it is *not* in terms of the definition given above, so that will be our focus for the next several discussions.

---


### Key point: God is *one* in essence, but that does *not* mean that only one person of the Trinity is deity



God is *three* in person, and all three persons of the Trinity (the Father, the Son, and the Holy Spirit) are divine. Heresies of the past which have challenged the divinity of members of the Trinity include adoptionism (asserting that Christ is the Son of God only in the sense of adoption), the Ebionite heresy (teaching that Christ had only a human nature empowered by God's Spirit), and Unitarianism (which asserts the uni-personality of God, denying the deity of Christ and the Holy Spirit).

But the Bible teaches that all three members of the Trinity are deity. Compare: Is.63:9-14; Matt. 3:16-17; 28:19; Jn.14:16-17; 1Cor.12:4-6; 2Cor.13:14; Eph.4:4-6; 1Pet.1:1-2; Rev.1:4-6.

---




#### The Father is God



See: Matt.6:9; 1Cor.8:6; Eph.3:14-15.

<div class="special-content scripture">
<strong>Revelation 1:8</strong>
<p>"I am the Alpha and the Omega," says the Lord who is God, "He who is and was and is coming, the Almighty."   </p>
</div>


---




#### The Son is God



See: Jn.5:18; 10:30; 10:33; Rom.9:5; 1Cor.8:6; Col.2:9; Heb.1:3.

<div class="special-content scripture">
<strong>John 1:1-2</strong>
<p>The Word existed in the beginning: the Word was both present with the [Father] God [before creation] and the Word was God [in His own right]. This same One was present with the [Father] God in the beginning.</p>
</div>


---


#### The Holy Spirit is God



See: Gen.1:2; Ps.139:7; Acts 5:3-4; 1Cor.12:11; and compare Heb.3:7-11 with Ps.95:7-11 where the LORD is speaking.

<div class="special-content scripture">
<strong>2nd Corinthians 3:17</strong>
<p>Now the Lord is the Spirit, and where the Lord's Spirit is, there is freedom.    </p>
</div>





<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Our next several discussions: understanding the Trinity in terms of what it is *not*](#4)
- [Key point: God is *one* in essence, but that does *not* mean that only one person of the Trinity is deity](#5)
  - [The Father is God](#6)
  - [The Son is God](#7)
  - [The Holy Spirit is God](#8)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>