::-webkit-scrollbar {
  -webkit-overflow-scrolling: auto;
  -webkit-appearance: none;
  width: 15px;
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  -webkit-overflow-scrolling: auto;
  border-radius: 4px;
  background-color: #a6a6a6;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

h5, h6 {
  font-size: 1em;
}

h6 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

a {
  color: #0000EE;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #551A8B;
}

/* added to theme */

table {
	margin: auto
}

th { 
  background: #333; 
  color: #f7f7f7; 
  font-weight: bold; 
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

td, th { 
  padding: 10px; 
  border: 1px solid #999; 
  text-align: left; 
}

img.libronixLinkImage {
  display: inline;
  height: auto;
  width: auto;
}

code {
	background: #e4e4e4;
	border-radius: 3px;
}


/* Hide stuff */

.display-none {
  display: none;
}

/* TODO: debug special case, eventually */
.list-item-summary-toggle.display-none {
  display: none !important; 
}

/* Subject tags */

.subjects-container {
	font-size: 80%;
	border-top: 1px solid rgb(239, 212, 212);
	border-bottom: 1px solid rgb(238, 238, 238);
	display: flex;
	justify-content: left;
	align-items: stretch;
	margin: 5px 0px;
}

.subjects-container a, .subjects-container a:focus, .subjects-container a:hover {
	text-decoration: none;
}

.subjects-tag-icon-container {
	padding: 0px 10px;
	background-color: gainsboro;
	margin-right: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.subject-tags-container {
	display: flex;
	flex-wrap: wrap;
}

.subject-tags-container a {
	background-color: #efefef;
	border-radius: 15px;
	padding: 0px 5px;
	margin: 10px 5px;
}


/* Toggleable content and transcripts */

.toggleable-section-button {
	width: 100%;
	display: flex;
	height: 35px;
	background-color: #191818;
	border: 1px solid #333;
	margin-top: 2em;
}

.toggleable-section-button a {
	border: 1px solid #999;
	text-align: center;
	line-height: 35px;
	color: #999;
	flex-grow: 1;
}

.toggleable-section-button a:hover,
.toggleable-section-button a:focus,
.toggleable-section-button a.active {
	background: #333;
	color: #999900;
	text-decoration: none;
}



/* List items */

.list-item {
	border-radius: 5px;
	overflow: hidden; /* No sharp corners from children */
	margin-top: 10px;
	margin-bottom: 10px;
	background: #e6e6e6;
	display: flex;
	flex-flow: column nowrap;
}

@media (max-width: 85rem) {
	.list-item {
		min-height: 70px;
	}
}

.list-item-title-row {
	display: flex;
	flex-flow: row nowrap;
	flex: auto;
}

.list-item-content-level {
	width: 125px;
	min-width: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.basic, .intermediate, .advanced, .mixed,
.basic:visited, .intermediate:visited, .advanced:visited, .mixed:visited,
.shorter-topical, .longer-topical, .reader-q-a, .self-gen-q-a, .verse-by-verse,
.shorter-topical:visited, .longer-topical:visited, .reader-q-a:visited, .self-gen-q-a:visited, .verse-by-verse:visited {
	color: #f7f7f7; 
}

/* .basic:focus, .intermediate:focus, .advanced:focus, .mixed:focus,
.basic:hover, .intermediate:hover, .advanced:hover, .mixed:hover,
.shorter-topical:focus, .longer-topical:focus, .reader-q-a:focus, .self-gen-q-a:focus, .verse-by-verse:focus,
.shorter-topical:hover, .longer-topical:hover, .reader-q-a:hover, .self-gen-q-a:hover, .verse-by-verse:hover { */
.list-item a, .list-item a:focus, .list-item a:hover {
	text-decoration: none;
}

.basic {
	background: #248f24;
}

.intermediate {
	background: #0059b3;
}

.advanced {
	background: #4700b3;
}

.mixed {
	background: #734d26;
}

.shorter-topical {
	background: #cc0000
}

.longer-topical {
	background: #ff3300
}

.reader-q-a {
	background: #248f24;
}

.self-gen-q-a {
	background: #0059b3;
}

.verse-by-verse {
	background: #4700b3;
}

/* In-line spans for displaying content level in paragraphs */
span.basic, span.intermediate, span.advanced, span.mixed {
	display: inline-flex;
	height: 1em;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	border-radius: 3px;
}

.list-item-title {
	flex: auto;
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 650;
	padding: 5px 0.5em 5px 0.5em;
}

.list-item-summary-toggle {
	display: flex;
	align-items: center;
	font-size: 32px;
}

.list-item-summary-toggle i{
	margin: 0;
}

.list-item-summary-toggle, .list-item-summary-toggle:visited {
	background: #cccccc;
	color: #808080;
}

.list-item-summary-toggle:focus, .list-item-summary-toggle:hover {
	text-decoration: none;
}

.list-item-summary-section {
	flex: auto;
	border-top: 1px solid black;
	padding: 5px;
}

.list-item-summary-section, .list-item-summary-section:visited {
	color: inherit;
}

.list-item-summary-section:focus, .list-item-summary-section:hover {
	text-decoration: none;
}


/* Special content sections */

.special-content {
	border-radius: 5px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
}

.special-content >  .special-content {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.special-content > strong {
	display: block;
	text-align: center;
	border-bottom: 1px solid black;
}

.special-content.cautionary-note {
	background: #ffe6e6;
}

.special-content.technical-discussion {
	background: #ffe0cc;
}

.special-content.sidenote {
	background: #fffae6;
}

.special-content.application {
	background: #ebfaeb;
}

.special-content.note {
	background: #e6ffff
}

.special-content.indirect-reasoning {
	background: #e6f5ff;
}

.special-content.example {
	background: #f2e6ff;
}

.special-content.post-hoc-note {
	background: #ffe6f2;
}

.special-content.quote {
	background: #e6e6e6;
}

.special-content.scripture {
	background: #f2e6d9;
}


/* Littlefoot footnotes */

.littlefoot__button {
	background-color: #dddddd;
	color: #777777;
	height: 1rem;
	padding: 0rem 0.8rem;
	margin: 0rem 0.1rem;
	border: none;
	border-radius: 10px;
	vertical-align: middle;
	display: inline-flex;
  	align-items: center; 
}


/* STEP Bible app iframes */

iframe {
	border: 1px solid #333;
}

.step-iframe-wrapper {
	max-width: 766px;
	margin: auto;
}

.height-button-bar {
	width: 100%;
	display: flex;
	height: 35px;
	background-color: #191818;
	border: 1px solid #333;
}

.height-button-bar a {
	border: 1px solid #999;
	text-align: center;
	line-height: 35px;
	color: #999;
	flex-grow: 1;
}

.height-button-bar a:hover,
.height-button-bar a:focus,
.height-button-bar a.active {
	background: #333;
	color: #999900;
	text-decoration: none;
}

@media screen and (max-width:900px) {
    .step-iframe-wrapper {
		display: none;
	}
	
	.step-fallback {
		display: block;
	}
}

img, figure {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: contain;
	margin: 10px auto;
  }

  figure img {
	margin: 0px;
  }
  
  figure.captioned {
	/* Add padding without increasing overall width */
	box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
	padding: 0.5em;

	text-align: center;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
  }

/* Footer with display toggles */

.mobile-bar {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #191818;
  color: #999;
  display: flex;
}

#menu-div, #toc-div, #pgdn-div, #pgup-div {
  flex: 1 1 0;
  text-align: center;
  border: 1px solid #999;
  padding: 10px 0px;
}

#menu-div a, #toc-div a, #pgdn-div a, #pgup-div a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 900;
  color: #999;
  text-decoration: none;
}

@media (min-width: 48em) {
  .mobile-bar {
	display: none;
  }
}

@media (max-width: 48em) {
  .mobile-bar {
	display: flex;
  }
}


/* ----------------------------------- */

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}