@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* hebrew */
  @font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Regular.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* hebrew bold */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Bold.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* greek */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Regular.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* greek-ext */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Regular.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* greek italic */
@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Italic.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* greek-ext italic */
@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Italic.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* greek bold */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Bold.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* greek-ext bold */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/s/71/Cardo-Bold.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* everything else */
@font-face {
  font-family: "Georgia Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://db.onlinewebfonts.com/t/aa0978a3bd6a626f739efaff3d30955e.woff") format("woff");
}

/* everything else italic */
@font-face {
  font-family: "Georgia Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://db.onlinewebfonts.com/t/184f83ff9e037daab3becb74fe52d3cc.woff") format("woff");
}

/* everything else bold */
@font-face {
  font-family: "Georgia Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://db.onlinewebfonts.com/t/57b97bf2f9f803d0578a7f09da4c39ff.woff") format("woff");
}

/* everything else bold italic */
@font-face {
  font-family: "Georgia Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://db.onlinewebfonts.com/t/f37fe1720dfa97f2de0c896380c08e19.woff") format("woff");
}

body { 
  font-family: 'Cardo', 'Georgia Pro', serif;
}

::selection{
  background-color: #fff6bd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans Hebrew', 'Noto Sans', sans-serif;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 34px !important;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Style most headers the same across slides, for visual consistency */
h3, h4, h5, h6 {
  display: block;
  font-size: 22px !important;
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*
  Don't need extra padding when headers aren't in a special content section
  with the special content section name in a strong tag (when the header is
  the very first thing in the sepcial content section div). Too much space otherwise
*/
.special-content h3:first-child,
.special-content h4:first-child,
.special-content h5:first-child,
.special-content h6:first-child
  {
    margin-top: 0px;
  }

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono'; /* TODO */
}

.footer {
  position: absolute;
  bottom: 5px;
  right: 50px;
  height: 40px;
  width: 800px;
  color: #006400;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

table {
	margin: auto
}

th {
	background: #333;
	color: #f7f7f7;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

img {
  width: 100%;
}

td,
th {
	padding: 10px;
	border: 1px solid #999;
	text-align: left;
}

/* Special content sections */

.special-content {
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.special-content >  .special-content {
  margin-left: 10px;
  margin-right: 10px;
}

.special-content > strong {
  display: block;
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: -15px;
}

.special-content.cautionary-note {
background: #ffe6e6;
}

.special-content.technical-discussion {
background: #ffe0cc;
}

.special-content.sidenote {
background: #fffae6;
}

.special-content.application {
background: #ebfaeb;
}

.special-content.note {
background: #e6ffff
}

.special-content.indirect-reasoning {
background: #e6f5ff;
}

.special-content.example {
background: #f2e6ff;
}

.special-content.post-hoc-note {
background: #ffe6f2;
}

.special-content.quote {
background: #e6e6e6;
}

.special-content.scripture {
border: 1px solid black;
}


/* Littlefoot footnotes */

.littlefoot__button {
  background-color: #dddddd;
  color: #777777;
  height: 1rem;
  padding: 0rem 0.8rem;
  margin: 0rem 0.1rem;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center; 
}