<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 9



### Verses 1-13

#### Why was Paul so insistent that he wasn't lying?

#### Why did Paul have great sorrow?

#### Do you have a burden for the lost? Which ones?

#### Why is the plight of the Jewish nation so sad?

#### What is more likely to fail, the word of God or the word of men?

#### Does God behave as we expect, or the way we would have Him (if it were up to us)?

### Verses 14-26

#### Do we ever earn the right to judge God?

#### Have we ever screamed to God "That isn't fair!"? Based on what?

#### Do we serve a God of injustice or confusion?

#### Do you know your place? Do you retaliate against God when things don't go the way you think they should?

#### Would we rather have God's mercy, or His wrath? What does His mercy provide for a dead person?

### Verses 27-33

#### What happens when God gets sick of putting up with our sinful nature?

#### In most cases, whose fault is it when we suffer?

#### What are some of your stumbling blocks?

#### Why would God put a stumbling block in our path, and does that negate our responsibility for our sin?

#### What is your reward for loyalty to God?



---


### Summary

Notes on Romans 9.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [Verses 1-13](#4)
  - [Why was Paul so insistent that he wasn't lying?](#5)
  - [Why did Paul have great sorrow?](#6)
  - [Do you have a burden for the lost? Which ones?](#7)
  - [Why is the plight of the Jewish nation so sad?](#8)
  - [What is more likely to fail, the word of God or the word of men?](#9)
  - [Does God behave as we expect, or the way we would have Him (if it were up to us)?](#10)
- [Verses 14-26](#11)
  - [Do we ever earn the right to judge God?](#12)
  - [Have we ever screamed to God "That isn't fair!"? Based on what?](#13)
  - [Do we serve a God of injustice or confusion?](#14)
  - [Do you know your place? Do you retaliate against God when things don't go the way you think they should?](#15)
  - [Would we rather have God's mercy, or His wrath? What does His mercy provide for a dead person?](#16)
- [Verses 27-33](#17)
  - [What happens when God gets sick of putting up with our sinful nature?](#18)
  - [In most cases, whose fault is it when we suffer?](#19)
  - [What are some of your stumbling blocks?](#20)
  - [Why would God put a stumbling block in our path, and does that negate our responsibility for our sin?](#21)
  - [What is your reward for loyalty to God?](#22)

---







<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Verses 1-13](#4)
  - [Why was Paul so insistent that he wasn't lying?](#5)
  - [Why did Paul have great sorrow?](#6)
  - [Do you have a burden for the lost? Which ones?](#7)
  - [Why is the plight of the Jewish nation so sad?](#8)
  - [What is more likely to fail, the word of God or the word of men?](#9)
  - [Does God behave as we expect, or the way we would have Him (if it were up to us)?](#10)
- [Verses 14-26](#11)
  - [Do we ever earn the right to judge God?](#12)
  - [Have we ever screamed to God "That isn't fair!"? Based on what?](#13)
  - [Do we serve a God of injustice or confusion?](#14)
  - [Do you know your place? Do you retaliate against God when things don't go the way you think they should?](#15)
  - [Would we rather have God's mercy, or His wrath? What does His mercy provide for a dead person?](#16)
- [Verses 27-33](#17)
  - [What happens when God gets sick of putting up with our sinful nature?](#18)
  - [In most cases, whose fault is it when we suffer?](#19)
  - [What are some of your stumbling blocks?](#20)
  - [Why would God put a stumbling block in our path, and does that negate our responsibility for our sin?](#21)
  - [What is your reward for loyalty to God?](#22)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>