<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 7





---


### Summary

TODO

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [What is the difference between Jurisdiction and Judgement](#4)
- [What does the married woman represent in this passage?](#5)
- [Why would we expect a person married to sin to act as if they are married to the Holy Spirit?](#6)
- [What must happen before we can surrender to Jesus?](#7)
- [What does the fruit we bear look like?](#8)
- [Are we adulterers against Jesus?](#9)
- [What are are we judged by as believers in Christ?](#10)
- [If not for God's law, how would we know what sin is?](#11)
- [If we are not bound by Old Testament Law, then why does Jesus mention it?](#12)
- [What is human nature?](#13)
- [Which nature do you yield to most often?](#14)
- [Who is the ONLY one that can do good in or through me?](#15)
- [Why do we fight the new nature given to us at salvation?](#16)
- [Why does sin win so often?](#17)
- [When does the battle with sin come to an end?](#18)
- [How powerful is the call of the flesh in your life?](#19)
- ["But I am a good person!" Really? Based on what standard?](#20)
- [Choose this day which master you will serve!](#21)

---






### What is the difference between Jurisdiction and Judgement

### What does the married woman represent in this passage?

### Why would we expect a person married to sin to act as if they are married to the Holy Spirit?

### What must happen before we can surrender to Jesus?

### What does the fruit we bear look like?

### Are we adulterers against Jesus?

### What are are we judged by as believers in Christ?



### If not for God's law, how would we know what sin is?

### If we are not bound by Old Testament Law, then why does Jesus mention it?

See Matthew 5:17-20.



### What is human nature?

### Which nature do you yield to most often?

### Who is the ONLY one that can do good in or through me?

### Why do we fight the new nature given to us at salvation?

### Why does sin win so often?



### When does the battle with sin come to an end?

### How powerful is the call of the flesh in your life?

### "But I am a good person!" Really? Based on what standard?

### Choose this day which master you will serve!




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [What is the difference between Jurisdiction and Judgement](#4)
- [What does the married woman represent in this passage?](#5)
- [Why would we expect a person married to sin to act as if they are married to the Holy Spirit?](#6)
- [What must happen before we can surrender to Jesus?](#7)
- [What does the fruit we bear look like?](#8)
- [Are we adulterers against Jesus?](#9)
- [What are are we judged by as believers in Christ?](#10)
- [If not for God's law, how would we know what sin is?](#11)
- [If we are not bound by Old Testament Law, then why does Jesus mention it?](#12)
- [What is human nature?](#13)
- [Which nature do you yield to most often?](#14)
- [Who is the ONLY one that can do good in or through me?](#15)
- [Why do we fight the new nature given to us at salvation?](#16)
- [Why does sin win so often?](#17)
- [When does the battle with sin come to an end?](#18)
- [How powerful is the call of the flesh in your life?](#19)
- ["But I am a good person!" Really? Based on what standard?](#20)
- [Choose this day which master you will serve!](#21)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>