<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## On the human capacity for self-deception





---


### Summary


---





### Example verses concerning the idea of human self-deception

#### The deceitfulness of the human heart



To start of with, how about a cheery verse discussing the nature of the human heart?

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Jeremiah.17.9&options=VN" width="100%" height="300px"></iframe>



---




#### The deceitfulness of the human heart

We have no basis for trusting our own hearts. We are indwelt by the sin nature, as all humans have been since Adam (excepting Christ; part of the reason why the virgin birth is important). We are, down to a person, biased by the flesh. If we were witnesses taking the stand, we have already been tampered with, already taken a bribe.

Consequently, we ought not trust our own judgement any further than we can throw it. We ought to instead only trust the Word of God, which the Holy Spirit will use to convict our hearts of the truth, if we would but choose to listen to Him rather than charging ahead and dictating to God.



---




##### Further discussion



---




#### General example verses about self-deception



But if we don't choose to listen, the Bible is very clear that we can deceive ourselves. It is far from impossible.

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=James.1.26|reference=1Corinthians.3.18|reference=Galatians.6.3&options=VN" width="100%" height="400px"></iframe>



---




##### Further discussion



---




#### Self-deception can even apply to salvation



<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Matthew.7.21-23&options=VN" width="100%" height="400px"></iframe>

Many people don't like talking about these verses. Uncomfortable subject, this. Who wants to think about the chilling fact that not all Israel is Israel (Romans 9:6-7)?



---




#### Self-deception can even apply to salvation

Yet there are those who engage in something that they call Christianity that will nonetheless end up in the Lake of Fire forever, for the only thing that is important is believing in who Jesus was and what He did for us on the cross by taking the penalty for our sin upon His shoulders. God is Just -- He offers salvation to all, gives all an equal chance to respond to Him. Literally all we have to do is not say no! But He does not ever make exceptions or excuse unbelief. Not even for people who outwardly adopt the title of Christian and engage in things that society thinks are good, like giving money to the poor.

How can people who spit in God's face by rejecting the Son He sacrificed on their behalf then turn around and consider themselves Christians and children of God -- even consider themselves and their group "better Christians" than other Christians (cf. cults)? That's human self-deception. That people can redefine salvation to be a set of legalistic works *and then actually believe it* ought to terrify us. Not because our own salvation is imperiled when we come to this realization (we are saved so long as we actually believe in Jesus Christ -- end of story), but because it ought to thus be obvious to us that humans can in fact lie to themselves to such a degree that they get something as important as salvation by grace through faith dead wrong, all while being completely blind to it. *They think they are right*, legitimately believe it. But they are not.



---




##### Further discussion



---




#### Self-deception runs on human arrogance



<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Revelation.3.17&options=VN" width="100%" height="300px"></iframe>

Human arrogance is such that we all fail to recognize our own pitiful state; we all overestimate how much we have it together, and underestimate how much we need God. The Church of Laodicea in Revelation 3 typifies this pattern of blindness, but it applies in greater or lesser measure to all Christians. It is more than possible for people to think themselves upon the right path while in fact not even being close. The point is that we must never forget this truth, but must instead turn it upon ourselves reflexively to make sure that anything that we think and believe has the Word of God behind it, rather than human rationalization and self-deception.



---




##### Further discussion



---




### The Bible would not have verses about examining and testing ourselves if it were not important



Consider these verses:

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=2Corinthians.13.5|reference=Galatians.6.4|reference=1Corinthians.11.28-29&options=VN" width="100%" height="600px"></iframe>



---




### The Bible would not have verses about examining and testing ourselves if it were not important

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Lamentations.3.40&options=VN" width="100%" height="300px"></iframe>

It makes no sense for the Bible to speak of us testing and examining ourselves unless it was possible for us to be deceiving ourselves.



---




### The Bible would not have verses about examining and testing ourselves if it were not important

Does this mean we ought to always be fearful of "not really believing?" No. If we believe, we believe, and that is that. We need to have confidence in that. If we want to actually believe something, we do. We can't mess it up like that; we *do* have free will.

But nothing will protect us from believing the wrong things, or actual unbelief. That free will cuts both ways. This is why we must always test ourselves against the scriptures to make sure that we really are holding to God's truth, not some straw man version of it we have set up in our hearts. For, as we have just seen, it is more than possible for us humans to lie to ourselves so effectively that we completely blind ourselves to the truth, even though we claim we have it. Would that we would care enough to study the truth so that we might not be those people!



---




#### Further discussion




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>