<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## On Seeking the Things Above



---


### Summary

This week's lesson discussed Colossians 3, including Colossians 3:1-2, verses that talk about setting our minds on things above, rather than on earthly things.

In this world of lust, rust, and dust, it is all too easy to let our focus slip off of higher spiritual things and down into the mud and mire of our lives here in [Satan's world system](/longer-topical-studies/ichthys-sr4-satans-world-system/). And it's not always just us getting distracted by the temptations before us in the world; sometimes it may be pressure that gets to us instead, rather than temptation.

When things get really hard and everything goes sideways, it can be difficult to keep our head up and our eyes quickened with the spiritual perspective that comes through faith. It is all too common for people's Christianity to go out the window when they metaphorically get punched in the face, even though it is the very time they most ought to trust in God rather than themselves.

Instead, we ought to aspire to have the peace and confidence that comes from intentionally holding onto the proper spiritual perspective, even as the world falls to pieces around us (compare Psalm 46:2-3), leaving God to sort out our provision. This page is going to examine this concept.

{{% content %}}
---


#### Outline

- [The answer is always focusing on spiritual things. *Always*](#4)
- [What are the things above?](#5)
- [We have duties, it is true. But priorities are priorities](#6)
- [God will provide, if we put our focus in the right place](#7)
- [So we should err *far* on the side of over-prioritizing spiritual things in our lives](#8)

---


### The answer is always focusing on spiritual things. *Always*

Trouble at work? *Think on the things above*.

Politics got you frustrated---with the incompetence and general madness of our trajectory? *Think on the things above*.

Discouraged and disgusted by your sin? *Think on the things above*.

Have worries about finances and making ends meet? *Think on the things above*.

Relationships (family, friendships, marriage, dating) going poorly, even falling apart? *Think on the things above*.

It is hard---*so* hard---to do this as we truly ought. Things will go wrong, even spectacularly so. They always will. But that doesn't matter. Why should it bother us? What is this life, that it should so capture our attention? It is but a single drop of water compared to the endless oceans of eternity. How small is our faith if we don't trust that the Creator and Sustainer of the Universe can handle our problems! Are they really such great matters for an Infinite God, One who is Omniscient and Omnipotent?

Colossians 3:1-2 is not so very difficult to understand conceptually, but you will very quickly find out how hard it it in practice to keep one's mind always focused on the spiritual. The sin nature within our flesh and Satan's world system will together always try to steer us away from the spiritual focus we ought to continuously maintain, but we *can* fight them... if only we trust God enough to lean on His strength in our fight, rather than trying to go it alone.

### What are the things above?

Spiritual things. The Bible---God's written word---and in-depth Bible teaching coming from it. "Whatever is true, whatever is noble, whatever is right, whatever is pure, whatever is lovely, whatever is admirable---if anything is excellent or praiseworthy" (Philippians 4:8).

We know what these things are. It is no trick question.

### We have duties, it is true. But priorities are priorities

Consider this passage from Luke 10:

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Luke.10.38-42&options=VN" width="100%" height="80%"></iframe>

It is probably really easy for us to sympathize with Martha in this passage, especially if we consider ourselves "the responsible sort."

But if what we are about is not truly "Kingdom business," how urgent is it really? How much does it really matter? After all, what do we imagine is more important than sitting at the feet of Jesus and listening to Him?

So yes, we must provide for our families (1 Timothy 5:8), we must work to support ourselves so as not to be a burden to others (2 Thessalonians 3:6-10), and so on. But in truth there are very few things that ought to take us away from the feet of Jesus, out of His Word and His Truth. Don't be like Martha and worry about the things of the world, but be like Mary and choose the better part that comes from focusing single-mindedly upon spiritual truth, and the One who gives it to us.

### God will provide, if we put our focus in the right place

Consider this passage as well, this time from Matthew 6:

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Matthew.6.25-34&options=VN" width="100%" height="80%"></iframe>

What use does worrying about worldly things get us if when we "seek first His kingdom and His righteousness" all of our legitimate needs will be given to us? For that is what God promises here. *That* is why we need not worry about tomorrow.

### So we should err *far* on the side of over-prioritizing spiritual things in our lives

As mentioned briefly above, there are some common-sense lines we cannot cross, such as failing to provide for ourselves and our families.

But Luke 10:38-42 and Matthew 6:25-34 definitely show that the single-minded focus on "things above" that Colossians 3 commands is really that: single-minded. We cannot properly sit at the feet of Jesus and give ourselves over towards His Truth if we let our hearts be split by worldly worries---even things that are far from bad or sinful. It's just that everything in this ephemeral world weighs in as completely inconsequential compared to eternal spiritual realities. We need to be pleased to put God and His Truth first in our lives---making that our primary focus---and hand over the reigns to Him in absolutely everything else.

We may not get everything we *want* when we do this, when we completely hand control over to God, but the Bible is clear that we will get all we truly *need*. And in exchange, we will gain ever so much more on the spiritual front. For the least spiritual reward that is eternal will be worth more than all the wealth in this present world that is passing away. That is the calculus that we should always strive to keep within our minds.

And that is precisely why we should always set our hearts on things above.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [The answer is always focusing on spiritual things. *Always*](#4)
- [What are the things above?](#5)
- [We have duties, it is true. But priorities are priorities](#6)
- [God will provide, if we put our focus in the right place](#7)
- [So we should err *far* on the side of over-prioritizing spiritual things in our lives](#8)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>