{{ partial "header-list-pages.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">

	{{ .Content }}

	{{ range .Pages.ByWeight }}
		{{ if (not (isset .Params "writing-only")) }}
			{{ partial "list-item" . }}
		{{ end }}
	{{ end }}
  
	{{ range .Sections.ByTitle }}
	<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	{{ range .Pages.ByWeight }}
		{{ if (not (isset .Params "writing-only")) }}
			{{ partial "list-item" . }}
		{{ end }}
	{{ end }}
	{{ end }}
  
</div>

{{ partial "mobile-bar-list-pages.html" . }}

<!-- Site Functions -->
<script src="{{ .Site.BaseURL }}js/site-functions-list-pages.js"></script>

{{ partial "footer.html" . }}