<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Through 1/1/23



---


### Summary

This cycle I spent time relaxing over the holidays with family. I also made a good bit of progress on several various upcoming studies, although I didn't finish any of these enough to publish anything. There were also several things accomplished on the practical front, like building the standing desk that will serve as a speaking podium when used out in the living room during Bible studies at the house.
---


#### Outline

- [Relaxing with family](#4)
- [Progress on various studies](#5)
- [Practical matters](#6)
- [Upcoming work](#7)

---


### Relaxing with family

Not much to say here. I took time off work and spent the holidays visiting family and recharging.

---


### Progress on various studies

I am in the middle of drafting a study discussing the exact nature of "judge not" when properly interpreted (cf. Matthew 7:1ff).

I started that one when I was partway through a different study outlining some issues in the modern church visible (such as a lack of emphasis put on serious Bible teaching, as compared to music and social time, for example), and the lack of commitment many self-professed Christians demonstrate, given the amount of time they spend watching TV shows and browsing social media (and so on) rather than reading their Bibles or taking in Bible teaching. These are not fun things to talk about, but are necessary, for a lot of modern churchgoers seem to be blind to the sad decline of care people have towards the Bible and God's truth.

---


### Progress on various studies

I branched off into the other study about judging after I realized it might be a good idea to firmly establish that "shooting it straight" and "calling a spade a spade" is not something to be shy about for us as Christians. That is, pointing out unpleasant truths in a level-handed manner to lovingly exhort people to turn (more) toward the truth is not the sort of self-righteous condemnatory judgment called out in Matthew 7:1ff.

At any rate, exactly what I mean by all of these things will be more clear as I finish and publish all these studies.

---


### Practical matters

- I built the standing desk and angled dual monitor assembly that will serve as the speaking podium during Bible study presentations at the house. The desk had a lot of pieces, so took a while to build.
- I also built custom foam backings for the projector screens to make them straight and flush with the wall, to improve the projected images' centering.
- I sequenced my really big TODO list when I had the time over this holiday break. I have literally hundreds of things on this master list (including a good bit on the ministry side, of course), but as ever, it will always only be one step at a time.

---


### Upcoming work

- Continuing to work on all the studies I mentioned.
- Hopefully I'll soon start to get involved in local fellowships.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Relaxing with family](#4)
- [Progress on various studies](#5)
- [Practical matters](#6)
- [Upcoming work](#7)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>