<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Appearances of Christ in the Old Testament



(Derived from https://ichthys.com/1Theo.htm)

---


### Summary

All appearances of the The (definite article) Angel of the Lord in the Old Testament were appearances of a pre-incarnate Jesus Christ, the second member of the Trinity. The Angel of the Lord appeared many times during the Exodus of God's people from Egypt (and their subsequent journey into the promised land), and also appeared in various other places in the Old Testament as well, before such people as Abraham, Joshua, Gideon, and so on.
---


#### Outline

- [Overview](#4)
- [The Angel of the Exodus](#5)
  - [The burning bush](#6)
  - [The column of cloud and fire](#7)
  - [The angel sent before the Israelites to guard them on the way](#8)
  - [The one whom Moses (among others) knew and spoke to "face to face"](#9)
  - [The angel who is said to have led the Israelites out of Egypt](#10)
- [The Angel of the Lord elsewhere](#11)
- [Conclusion](#12)

---


### Overview




We have been in the process of demonstrating that the appearances of God to believers in the Old Testament (Theophanies), are really pre-incarnate appearances of the Father's representative, our Lord Jesus Christ, acting for the Father and speaking in His stead. In the majority (though not all) of these cases, the Old Testament identifies such appearances as "***the*** Angel of the Lord". Sometimes when God appears, however, as in His interrogation of Adam and Eve in the garden of Eden (Gen.3:8ff), there is no mention of "angels". Yet it seems clear from a number of passages discussed below, where the "Angel" is variously described as the Lord and "***the*** Angel of the Lord", that all such appearances are an essentially similar phenomenon: God appearing to Man in a recognizable form.

The word "angel" is potentially confusing here on account of all the centuries of non-scriptural misinformation we have suffered through. "Angel" is a borrowing of the Greek *angelos*, meaning "messenger", and is itself a translation of the Hebrew *malach* bearing the same meaning. It is important to note that neither word inherently signifies heavenly creatures; both were originally applied to human messengers. Messengers from God would, of necessity, have to be supernatural, and on many occasions these are "angels" in the traditional English sense of the word, that is, that heavenly race of creatures who serve and minister to God (Gabriel, for example: Dan.8:16; 9:21; Lk.1:21-26).

---


### Overview

But ***the*** Angel of the Lord is an entirely different story, for scripture uses this phrase to designate an "appearance" of God Himself, taking on messenger form to deliver a message personally. As we have seen above, it is best to take these appearances of ***the*** Angel (messenger-servant) of the Lord to be appearances of ***the*** Messenger and Minister of the Father, Jesus Christ our Lord. For example, when we read of Isaiah's vision of the Lord (Is.6), it is understandable to assume at first that Isaiah's vision was of the Father, but John 12:41 tells us that Isaiah was beholding *Christ's* glory, and we understand (with our New Testament perspective) that this was a vision of our Lord in His capacity of King of Kings and Lord of Lords, the glorified ruler of the earth who has accepted the mantle of rulership from the Father (as He will return to reign until "He has placed all enemies under His feet" 1Cor.15:25).

The appearance of the Lord to Moses in giving the Mosaic Law presents a case similar to the vision of Isaiah. At first glance, we may assume that Moses is actually viewing the Father (or His likeness: i.e., a Theophany). But the New Testament is quite explicit in stating that the law was given "through angels" (Greek: *di' angelon*: Gal.3:19-20; Heb.2:2; Acts 7:38 & 53). Since we know that these "angelic appearances" are represented in the Old Testament as appearances of God (e.g., Ex.34:5ff.), it must be the case that the New Testament passages which ascribe the giving of the Law to "angels" are in fact indicating that the Father spoke the Law to Moses through appearances of ***the*** Angel of the Lord, a manifestation of our pre-incarnate Lord, Jesus Christ (i.e., a Christophany).

---


### The Angel of the Exodus




The case of the Angel of the Exodus demonstrates both the divinity of the Angel of the Lord and His identification as a pre-incarnate manifestation of our Lord Jesus Christ.

You'll see exactly what we mean by "the Angel of the Exodus" as we go through the next bit. The specific focus here is on passages from the first few books of the Bible---from the calling of Moses, to Israel's flight from Egypt, to their settlement in the promised land. At every step of the way, they were guided by a pre-incarnate Jesus Christ, on behalf of the Father.

---


#### The burning bush




The Angel first appears to Moses in the burning bush (Ex.3:2ff.). It is the Angel of the Lord who appeared to Moses in the fiery flames (v.2), but shortly thereafter the Angel represents Himself as God the Father, saying "I am the God of your father, the God of Abraham, the God of Isaac and the God of Jacob (v.6), and "I shall be who I am" (v.14), and is further identified as "the Lord" (in v.7). The symbolism of the fire and the bush is important: the bush calls attention to Christ, the Messiah, as the Branch (Is.4:2; 11:1; 53:2; Jer.23:5; 33:15; Zech.3:8; 6:12), while the fire represents the fiery judgment of the cross that does not consume Him (cf., for example, the burnt offerings of Lev.1 which represent Christ's work on the cross). This first appearance of the Angel of the Lord to Moses, then, is a Christophany, an appearance of the pre-incarnate Christ representing and speaking for the Father.

---


#### The column of cloud and fire




The Angel is called "of God" at Exodus 14:19 as He appears in the column of cloud and fire. Previously, at Exodus 13:21, Jehovah Himself is said to have been the one going ahead of the Israelites in the column of cloud and fire. Once again, the Lord and the Angel are identified as one and the same, and by appearing from within the fire of the column (which would later stand over the place of the ark in the tabernacle where the blood representing Christ's sacrifice would be sprinkled on the day of atonement: Num.9:15 with Lev.16), we again have a picture of Christ's saving work, enduring judgment on our behalf.

Links to further solidify the link between Num.9:15 with Lev.16 (discussed in the video):

- [revelation - What is "the Temple of the Tabernacle of Testimony"? - Biblical Hermeneutics Stack Exchange](https://hermeneutics.stackexchange.com/questions/22245/what-is-the-temple-of-the-tabernacle-of-testimony)
- [Numbers 17 NASB - Aaron’s Staff Buds - Then the LORD - Bible Gateway](https://www.biblegateway.com/passage/?search=Numbers%2017&version=NASB)
- [Numbers 17 NIV - The Budding of Aaron’s Staff - The - Bible Gateway](https://www.biblegateway.com/passage/?search=Numbers%2017&version=NIV)
- [Hebrews 9:3-4 NIV - Behind the second curtain was a room - Bible Gateway](https://www.biblegateway.com/passage/?search=Hebrews+9%3A3-4&version=NIV)

---


#### The angel sent before the Israelites to guard them on the way




At Exodus 23:20-23 as part of the giving of the Law to Moses on Sinai, the Angel of the Lord (identified as such as we saw above from New Testament passages such as Gal.3:19-20; Heb.2:2; Acts 7:38 & 53) proclaims that He is going to "send" the Angel before the Israelites to lead and guard them (as Christ is sent by the Father). Moses is also told that they are to obey the Angel "because My Name is in Him" (v.21), a similar description to that of the returning Son of Man in Revelation 19:11-16.

---


#### The one whom Moses (among others) knew and spoke to "face to face"




Despite the fact that no one has ever seen the Father while on this earth (see above), we are told that the elders saw the God of Israel (in company with Moses and Aaron: Ex.24:9-11), and we know that Moses entered the cloud of glory and spoke with the Lord on Sinai (Ex.24:16-18) and petitioned the Lord to "show me Your glory" (a request He granted: Ex.33:18ff.). We also find in Numbers 12:8 that Moses saw "the form of the Lord" and from Deuteronomy we know that unlike any other servant of the Lord, Moses spoke with Him "face to face" (Deut.34:10). This then surely is once again the Angel of the Lord, not the actual presence of the Father, but the appearance of the One who is sent by Him, speaks for Him, and who has undertaken to fulfill His plan of salvation in this world, our Lord and Savior Jesus Christ, appearing in pre-incarnate Christophany.

---


#### The angel who is said to have led the Israelites out of Egypt




Finally, the last appearance of the Angel in respect to the Exodus is at Judges 2:1-5. Here the Angel claims to be the One who "led you up from the land of Egypt" and reminds the Israelites that He will never break "My covenant with you". Only the Father Himself could make such a claim – or Someone representing Him, that is, His Servant, our Lord Jesus Christ who would fulfill that covenant and minister a new one for us all in His blood.

---


### The Angel of the Lord elsewhere




Other appearances of God in the Old Testament are likewise best taken as Christophanies, whether or not the actual term "the Angel of the Lord" is employed:

- The supernatural "Man" who wrestles with Jacob (Gen.32:22-32) elicits this response from Jacob: "I have seen God face to face, yet my life was spared". Hosea 12:3-4 confirms that this was the Angel and God.
- The "Man" who appeared to Abraham along with His two companions in Genesis 18 is later said to be "the Lord" (v.22).
- The "Man" who appeared to Joshua (Josh.5:13-15) claims to be the "commander of the Lord's host". Joshua then not only worships Him (a thing forbidden where mere angels are involved: Rev.19:10; 22:9), but is also told to remove his sandals because he is standing on ground that is holy (i.e., sanctified by the presence of God: cf. Ex.3:5ff.).
- Along with Moses and Aaron, the elders of Israel see "the God of Israel" on Mt. Sinai (Ex.24:9-11). Despite the fact that no one has ever seen the Father, nor can see Him and live, they not only see the God of Israel, but have a symbolic meal of fellowship with Him, an event that clearly foreshadows communion based on the blood of our Lord Jesus Christ, the coming "King of Israel" (Jn.1:49).
- The Angel of the Lord who appears to Gideon (Judg.6:11-23) is also said to be the Lord (vv.16-17). The Angel also identifies Himself with the sacrifice (by touching it with His staff) which then goes up in flames, representing the fiery judgment of God (that Christ was to undergo on our behalf).

---


### The Angel of the Lord elsewhere

- The Angel of the Lord's appearance to the parents of Samson is similar to His appearance to Gideon (Judg.13:2-23). The Angel is described as such throughout the passage, but Manoah and his wife, though realizing that an angel has appeared to them, do not realize this is in fact the Angel of the Lord until His fiery departure (v.21), at which point Manoah exclaims "We have seen God" (v.22). The symbolism of self-sacrifice by the Angel is even more distinctly drawn in this passage, for He "ascended in the flame" of the burnt sacrifice (v.20), the very picture of Christ being judged on our behalf, teaching Old Testament believers to look forward to God's future forgiveness of sins through a sacrifice that He would provide.
- We have already discussed Isaiah's vision of Israel's King (Is.6:1ff.), which turns out to be a vision of Jesus Christ as Israel's appointed ruler in the line of David (Jn.12:41).
- Similarly, Ezekiel's vision of God (Ezek.1:25-28) is strikingly similar to the description of the glorified Christ found in Revelation (Rev.1:12-16; cf. the elders of Israel on Mt. Sinai: Ex.24:9-11).
- Zechariah's vision of the Angel of the Lord (Zech.1:7-17) is instructive because the Angel, clearly divine as seen from the examples above, is presented as distinct from the Lord of Hosts, that is, the Father, so that this is undoubtedly a Christophany.
- Finally, it has often been pointed out that after the birth of Christ, though angels do make many more appearances in the Bible, ***the*** Angel of the Lord no longer appears in the scriptures.

---


### Conclusion




The Lord Jesus Christ has always been and will always be the Person with whom we have to do, and in whom we must believe in order to have an eternal relationship with the Father. It is only Christ who has "made the Father known" (Jn.1:18), and only through Him do we come to possess "the knowledge of the glory of God in the face of Christ" (2Cor.4:6). In the Old Testament, we hear the Father appearing through the (pre-incarnate) Son; in the New Testament, we see and hear the (incarnate) Son speaking the Father's words.

So the Trinity has always been present in God's revelation of Himself to those who believe and follow Him. As Christians, whenever we say the word "God" we should keep in mind that for us, this means the Trinity – the Father and the Son and the Holy Spirit.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Overview](#4)
- [The Angel of the Exodus](#5)
  - [The burning bush](#6)
  - [The column of cloud and fire](#7)
  - [The angel sent before the Israelites to guard them on the way](#8)
  - [The one whom Moses (among others) knew and spoke to "face to face"](#9)
  - [The angel who is said to have led the Israelites out of Egypt](#10)
- [The Angel of the Lord elsewhere](#11)
- [Conclusion](#12)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>