<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Romans 2:7-11 - Why do we make life hard for ourselves, when the decision is so clear?



---


### Summary

If we are honest with ourselves, the paths before us are actually rather clear: on the one side, blessing and eternal life; on the other, cursing and wrath. Given this, we should just stop choosing the bad! God really does give us free will, which means we really do have the ability to choose between these two paths. So rather than deluding ourselves with a pile of excuses, we should buckle down and start doing what God wants us to do---not on our own strength (for there is no success in that approach), but instead by admitting that we cannot do it on our own, and leaning into God for help.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline


---


## Romans 2:7-11 - Why do we make life hard for ourselves, when the decision is so clear?

Verses 7-10 follow an ABBA structure in terms of topic. Verse 7 starts by describing the positive outcome (eternal life) for those who by perseverance in doing good seek glory and honor and immortality. Then verse 8 states that wrath and indignation will be the lot of those who are selfishly ambitious and obey unrighteousness rather than the truth. Verse 9 is talking about the same group of people as verse 8, emphasizing that the consequences apply both to Jew and Greek alike, and then Verse 10 is talking about the same people as verse 7, back to the positive as a foil.

Verse 11 then caps off this detailing of consequences by noting that God is completely impartial---which is why verses 9-10 say what they do in terms of one's background (Jew vs. Greek) not changing God's judgement.

All this is a long way of saying that those who follow God's truth are blessed, while those who choose unrighteousness instead will face God's wrath. Given this simple truth, why then do we make life so much harder by choosing the wrong path?

It is worth thinking about, for no one forces us into choosing the wrong path. The consequences are plain before us: on the one side, blessing and eternal life; on the other, cursing and wrath. Why then do we pretend that things are murky and hard to untangle? Just stop choosing the bad!

You *do* have free will. So stop making excuses and start making the choices God wants for you. No one can make the decision to properly follow God for you, and you can't fake it in the least (not before the all-seeing eyes of the Lord, at any rate). But take heart, for if you cry out to God for strength, He *will* help you follow Him as you ought. But you must humble yourself, admit that you can't do it all on your own, stop lying to yourself that you are a "good Christian" and acting in the way God wants you to if you are not in reality, and then ask Him for help in changing your spiritual temperature from "lukewarm" to "red-hot". If you say with your lips you want that kind of faith, you'd best start walking the walk instead of just talking the talk.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline




  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>