<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 4





---


### Summary

TODO

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [If not by works and how were Old Testament believers saved?](#4)
- [What is the key to any salvation (verse 3)?](#5)
- [What is meant by credited (verse 5)?](#6)
- [What does God's forgiveness look like (verse 8)?](#7)
- [Circumcision in the New Testament?](#8)
- [What is legalism? Why is it bad?](#9)
- [What is faith?](#10)
- [What does Paul give God credit for (verse 17)?](#11)
- [Are we capable of this kind of faith (verses 18-20)?](#12)
- [Do you have confidence in God?](#13)
- [What's the only ticket to heaven (verse 24)?](#14)
- [What is justification?](#15)

---






### If not by works and how were Old Testament believers saved?

### What is the key to any salvation (verse 3)?

### What is meant by credited (verse 5)?

### What does God's forgiveness look like (verse 8)?



### Circumcision in the New Testament?

### What is legalism? Why is it bad?



### What is faith?

### What does Paul give God credit for (verse 17)?

### Are we capable of this kind of faith (verses 18-20)?



### Do you have confidence in God?

### What's the only ticket to heaven (verse 24)?

### What is justification?




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [If not by works and how were Old Testament believers saved?](#4)
- [What is the key to any salvation (verse 3)?](#5)
- [What is meant by credited (verse 5)?](#6)
- [What does God's forgiveness look like (verse 8)?](#7)
- [Circumcision in the New Testament?](#8)
- [What is legalism? Why is it bad?](#9)
- [What is faith?](#10)
- [What does Paul give God credit for (verse 17)?](#11)
- [Are we capable of this kind of faith (verses 18-20)?](#12)
- [Do you have confidence in God?](#13)
- [What's the only ticket to heaven (verse 24)?](#14)
- [What is justification?](#15)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>