<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Romans 1:1 - What is a bondservant?



---


### Summary

In Romans 1:1, Paul call himself a servant/slave of Jesus Christ. What exactly does that mean? This page will be examining that question.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline


---


## Romans 1:1 - What is a bondservant?

The Greek word used in Romans 1:1 is *doulos* (Greek: [δοῦλος](https://www.blueletterbible.org/lexicon/g1401/esv/mgnt/0-1/)). It is appropriate to translate it several different ways:

- Slave
- Servant
- Bondman or bondservant

If you compare translations of Romans 1:1 (e.g., [here](https://biblehub.com/romans/1-1.htm)), you'll notice that both slave and servant are used. The NIV11 uses servant, for example, while the NLT uses slave.

Slavery in antiquity had a good many differences from the slavery that predominated in the antebellum American South (e.g.), but also had similarities. It was common in antiquity for conquered peoples to end up in servitude, which meant that social status did not uncommonly follow ethnic lines, depending upon the winners and losers in local geographic areas. The status could also be hereditary, much in the same way slavery in America was. It depended on the time and place in history, though, with much variation across cultures and eras.

People might also end up in servitude due to debt. This, in fact, is the most pertinent definition for us here. We are servants of God because He has bought us with the precious blood of His Son. In fact, *apolutrosis* (Greek: [ἀπολύτρωσις](https://biblehub.com/greek/629.htm))---the word we translate "redemption" (which nowadays has taken on a predominantly theological meaning)---was used in secular Greek (e.g., Plato) to refer to the notion of buying someone out of slavery.

Think about that next time you talk about redemption! That is how central a metaphor this idea of us as servants/slaves is in scripture (to sin before we are saved, and to Jesus Christ thereafter), at least with the Greek properly understood and explained.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline




  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>