<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Through 12/18/22



---


### Summary

This cycle I started producing new written content again. This time, one study was on the office of pastor-teacher and church polity, another was on the actions of Abraham, Sarah, and Hagar in Genesis 16, and the final one was on college decisions and career path.
---


#### Outline

- [Foreword](#4)
- [The new written content](#5)
- [Upcoming work](#6)

---


### Foreword

I probably won't bother with the webcam intro/outro anymore, and will be trying to keep these summaries shorter and more concise, to make them more useful. I've made some decisions about recording organization over the last couple weeks that are leading me to try and basically trim down the process as much as I can (without actually sacrificing core things) to make everything as sustainable as possible. These are a couple of the changes coming out of that.

As promised last cycle, I have now shifted into actually producing new written content, at least for a while here. This time I organized a few drafts from my backlog, and selected several that were closer to completion. Then I edited and polished them, got them organized in the content hierarchy properly, and here we are.

---


### The new written content

- [On the office of pastor-teacher, and church polity](https://www.bibledocs.org/questions-and-answers/self-generated/on-the-office-of-pastor-teacher-and-church-polity/)
- [On the actions of Abraham, Sarah, and Hagar in Genesis 16](https://www.bibledocs.org/questions-and-answers/self-generated/on-the-actions-of-abraham-sarah-and-hagar-in-genesis-16/)
- [On college decisions and career path](https://www.bibledocs.org/questions-and-answers/self-generated/college-decisions-and-career/)

---


### Upcoming work

- Relaxing over the holidays, to help recover and come back sharper.
- I need to figure out how to make the processing steps (subject index, slides generation, etc.) in the Python preprocessor application work properly with studies that don't have multiple lessons (i.e., lack an additional layer of nesting). There ought not be any aggregation in this case except for discussion pages -- it's like a content page in the other studies, but at the tree level in the content hierarchy that aggregation pages are normally at. A couple of the new Q&A studies from this cycle are this case, and right now it doesn't work right. Sigh.
- More work on new written content. I have several more studies under active work, and plenty more to pull from eventually.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Foreword](#4)
- [The new written content](#5)
- [Upcoming work](#6)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>