<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Jesus is fully God and fully man





---


### Summary


---



### Jesus is fully God and fully man



Our topic for discussion:

> When Mary supernaturally conceived by the power of the Holy Spirit, there was a physical human child in her womb. But Jesus has always been the divine second person of the Trinity. So how does His nature change as part of the incarnation? Did anything happen at conception, or just at birth? Does Jesus now have a human nature, a divine nature, or both?



---






### Jesus is fully God and fully man

In our past study of Theology proper, we went over the Son as the eternal second member of the Trinity. For example:

- [All Members of the Trinity Are Coequal, Coeternal, and Consubstantial](https://www.youtube.com/watch?v=1m7n0vUWqMY)
- [All Members of the Trinity Are Joint Partakers of the Same Essence](https://www.youtube.com/watch?v=LoKHW0rRxzU)

Compare also:

John 1:1-5

Colossians 1:16-17

John 8:58

John 17:5

Hebrews 13:8



---






### Jesus is fully God and fully man

At the point of the incarnation, Christ gained a human nature. This was at a definite temporal point in history:

Psalm 2:7

After Jesus gained a human nature, He was then both fully God and fully man. In theology, this is known as the *hypostatic union*. In Ichthys's systematic theology, you can find this discussed in these parts of [BB4A: Christology](https://ichthys.com/4A-Christo.htm):

- [BB4A: Christology, §Jesus Christ is truly Divine](https://ichthys.com/4A-Christo.htm#1.__Jesus_Christ_is_truly_Divine)
- [BB4A: Christology, §Jesus Christ is truly Human](https://ichthys.com/4A-Christo.htm#2.__Jesus_Christ_is_truly_Human)

Philippians 2:6-11

1 Corinthians 15:28



---






### Jesus is fully God and fully man

As [Ichthys](https://ichthys.com/) teaches, life begins at birth, not conception. Some links:

- [SR3: The Purpose, Creation and Fall of Man, §The Human Spirit](https://ichthys.com/Fall-sr3.htm#3.%20The%20Human%20Spirit)
- [Email: Life begins at birth](https://ichthys.com/mail-life-begins-at-birth.htm)
- [Email: Life begins at birth](https://ichthys.com/mail-Culture-and-ChristianityIV.htm#life%20begins%20at%20birth%20not%20conception)





<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>