<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 2





---


### Summary

Notes on Romans 2.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [How should we make our judgments?](#4)
- [Is your heart stubborn and unrepentant?](#5)
- [Why do we make life hard for ourselves?](#6)
- [What exactly does this mean?](#7)
- [What excuses do you try to use?](#8)
- [What is the Lord warning against becoming?](#9)
- [Practice what you preach](#10)

---






<div class="special-content note">
<strong>
<a href="/about-the-site/content-organization/#general-notes">Note</a>
</strong>
<p>For some of the sections on this page, I link to pages from my <a href="/verse-by-verse-studies/romans/">verse-by-verse study on Romans</a>. I started writing responses to the questions here, but then the scope grew and I decided to convert it to a formal verse-by-verse study.</p>

<p>Later chapters in this Second Baptist series will have sections that are generally shorter, and will also stay standalone.</p>
</div>




### How should we make our judgments?

See [here](/verse-by-verse-studies/romans/romans-2/romans-2-1-3-how-should-we-make-our-judgments/).



### Is your heart stubborn and unrepentant?

See [here](/verse-by-verse-studies/romans/romans-2/romans-2-5-6-others-aside-is-your-heart-stubborn-and-unrepentant/).



### Why do we make life hard for ourselves?

See [here](/verse-by-verse-studies/romans/romans-2/romans-2-7-11-why-do-we-make-life-hard-for-ourselves-when-the-decision-is-so-clear/).



### What exactly does this mean?

See [here](/verse-by-verse-studies/romans/romans-2/romans-2-12-16-wait-are-gentiles-held-to-looser-standards-and-excused-due-to-their-ignorance-of-the-law/).



### What excuses do you try to use?



### What is the Lord warning against becoming?



### Practice what you preach




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [How should we make our judgments?](#4)
- [Is your heart stubborn and unrepentant?](#5)
- [Why do we make life hard for ourselves?](#6)
- [What exactly does this mean?](#7)
- [What excuses do you try to use?](#8)
- [What is the Lord warning against becoming?](#9)
- [Practice what you preach](#10)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>