<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 11



---


### Summary

Notes on Romans 11.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [Verses 1-10](#4)
  - [Who is God's chosen people?](#5)
  - [Why do you think God chooses them?](#6)
  - [What is the importance of grace (verse 5)?](#7)
  - [How is grace defined (verse 6)?](#8)
  - [Why did God harden most of their hearts (verse 4)?](#9)
- [Verses 11-24](#10)
  - [Can we understand God's plan?](#11)
  - [Does this scripture demonstrate Romans 8:28](#12)
  - [How much appreciation do we show for being grafted into the tree of life?](#13)
  - [Which is most important, the kindness or severity of God (verse 22)?](#14)
  - [What does it mean to "continue in His kindness"?](#15)
- [Verses 25-36](#16)
  - [Are we ever guilty of being wise in our own eyes?](#17)
  - [How difficult is it to understand God, His thoughts, or His ways?](#18)
  - [What does verse 36 mean?](#19)

---


### Verses 1-10

#### Who is God's chosen people?

#### Why do you think God chooses them?

#### What is the importance of grace (verse 5)?

#### How is grace defined (verse 6)?

#### Why did God harden most of their hearts (verse 4)?

### Verses 11-24

#### Can we understand God's plan?

#### Does this scripture demonstrate Romans 8:28

#### How much appreciation do we show for being grafted into the tree of life?

#### Which is most important, the kindness or severity of God (verse 22)?

#### What does it mean to "continue in His kindness"?

### Verses 25-36

#### Are we ever guilty of being wise in our own eyes?

#### How difficult is it to understand God, His thoughts, or His ways?

#### What does verse 36 mean?




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Verses 1-10](#4)
  - [Who is God's chosen people?](#5)
  - [Why do you think God chooses them?](#6)
  - [What is the importance of grace (verse 5)?](#7)
  - [How is grace defined (verse 6)?](#8)
  - [Why did God harden most of their hearts (verse 4)?](#9)
- [Verses 11-24](#10)
  - [Can we understand God's plan?](#11)
  - [Does this scripture demonstrate Romans 8:28](#12)
  - [How much appreciation do we show for being grafted into the tree of life?](#13)
  - [Which is most important, the kindness or severity of God (verse 22)?](#14)
  - [What does it mean to "continue in His kindness"?](#15)
- [Verses 25-36](#16)
  - [Are we ever guilty of being wise in our own eyes?](#17)
  - [How difficult is it to understand God, His thoughts, or His ways?](#18)
  - [What does verse 36 mean?](#19)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>