<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 5



---


### Summary

TODO

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [What is the only way to have peace with God?](#4)
- [What attribute of God does Jesus give us access to?](#5)
- [What does it mean to rejoice?](#6)
- [What does hardship do for us?](#7)
- [What did Jesus die for?](#8)
- [Nobility versus love?](#9)
- [What does Jesus' blood save us from?](#10)
- [Why should we rejoice?](#11)
- [How much impact can one person have?](#12)
- [Why did death rule from Adam to Moses?](#13)
- [Who can accept God's free gift?](#14)
- [What is more powerful - Satan's temptation or Jesus' love?](#15)
- [Which do you choose - life or death?](#16)

---




### What is the only way to have peace with God?

### What attribute of God does Jesus give us access to?

### What does it mean to rejoice?

### What does hardship do for us?

### What did Jesus die for?

### Nobility versus love?



### What does Jesus' blood save us from?

### Why should we rejoice?

### How much impact can one person have?

### Why did death rule from Adam to Moses?

### Who can accept God's free gift?



### What is more powerful - Satan's temptation or Jesus' love?

### Which do you choose - life or death?




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [What is the only way to have peace with God?](#4)
- [What attribute of God does Jesus give us access to?](#5)
- [What does it mean to rejoice?](#6)
- [What does hardship do for us?](#7)
- [What did Jesus die for?](#8)
- [Nobility versus love?](#9)
- [What does Jesus' blood save us from?](#10)
- [Why should we rejoice?](#11)
- [How much impact can one person have?](#12)
- [Why did death rule from Adam to Moses?](#13)
- [Who can accept God's free gift?](#14)
- [What is more powerful - Satan's temptation or Jesus' love?](#15)
- [Which do you choose - life or death?](#16)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>