</div>
</div>

<!-- STEP Bible iframes -->
<script>

function showEmbeddedWindows() {
	$('.step-fallback').addClass("display-none");
	$('.step-iframe-wrapper').removeClass("display-none");
}

function showPlaintext() {
	$('.step-iframe-wrapper').addClass("display-none");
	$('.step-fallback').removeClass("display-none");
}

function toggleScriptureDisplay() {
	// if currently diplaying plaintext
	if($('.step-iframe-wrapper').hasClass("display-none")) {
		showEmbeddedWindows();
	}
	// if currently displaying embedded
	else {
		showPlaintext();
	}
}

function initialScriptureDisplay() {
	var scriptureDisplay=getCookie("scriptureDisplay");
	if(scriptureDisplay == "embedded")
	{
		$('.step-iframe').on('load', function() {
			$(this).removeClass("display-none");
			$(this).next().addClass("display-none");
		});
	}
	else if(scriptureDisplay == "plaintext")
	{
		showPlaintext();
	}
	// if user hasn't set cookie, set cookie and display embedded windows
	else { // scriptureDisplay = ""
		setCookie('scriptureDisplay', 'embedded', 1825);
		$('.step-iframe').on('load', function() {
			$(this).removeClass("display-none");
			$(this).next().addClass("display-none");
		});
	}
}

initialScriptureDisplay();

</script>

<script>

function toHigherWritingLevel() {
	var technicalDicsussionSections = $('.technical-discussion').each( function(i, el) {
		var firstHeader = $(el).children(':header').first().attr('id');
		var selector = `#toc li a[href="#${firstHeader}"]`;
		$(selector).parent().show(); // show li's not links
	});
	
	$('.technical-discussion').removeClass("display-none");
}

function toLowerWritingLevel() {
	var technicalDicsussionSections = $('.technical-discussion').each( function(i, el) {
		var firstHeader = $(el).children(':header').first().attr('id');
		var selector = `#toc li a[href="#${firstHeader}"]`;
		$(selector).parent().hide(); // hide li's not links
	});
	
	$('.technical-discussion').addClass("display-none");
}

function initialWritingLevel() {
	var writingLevel=getCookie("writingLevel");
	if(writingLevel == "higher")
	{
		// hide lower level scripture blocks
	}
	else if(writingLevel == "lower")
	{
		// hide higher level scripture blocks
		// Hide technical discussion sections
		toLowerWritingLevel();
	}
	// if user hasn't set cookie, set cookie and use higher writing level
	else { // writingLevel = ""
		setCookie('writingLevel', 'higher', 1825);
	}
}

initialWritingLevel()
</script>

<script>

function showSummary(selector) {
	$('.list-item-summary-section.' + selector).removeClass("display-none");
	$('.list-item-summary-toggle.hide.' + selector).removeClass("display-none");
	$('.list-item-summary-toggle.show.' + selector).addClass("display-none");
}

function hideSummary(selector) {
	$('.list-item-summary-section.' + selector).addClass("display-none");
	$('.list-item-summary-toggle.show.' + selector).removeClass("display-none");
	$('.list-item-summary-toggle.hide.' + selector).addClass("display-none");
}

function showAllSummaries() {
	$('.list-item-summary-section').removeClass("display-none");
	$('.list-item-summary-toggle.show').addClass("display-none");
}

function hideAllSummaries() {
	$('.list-item-summary-section').addClass("display-none");
	$('.list-item-summary-toggle.hide').addClass("display-none");
}

function initialSummariesDisplay() {
	var summariesPreference=getCookie("summariesPreference");
	if(summariesPreference == "show")
	{
		showAllSummaries();
	}
	else if(summariesPreference == "hide")
	{
		hideAllSummaries();
	}
	// if user hasn't set cookie, set cookie and show summaries
	else { // summariesPreference = ""
		setCookie('summariesPreference', 'show', 1825);
		showAllSummaries();
	}
}

initialSummariesDisplay()
</script>

<!-- RefTagger -->
<script>

	var refTagger = {
		settings: {
			bibleVersion: "NASB",
			convertHyperlinks: false,		
			roundCorners: true,
			socialSharing: [],
			tagChapters: true
		} 
 	};
	
 	(function(d, t) { 
 	 	var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
 	 	g.src = '//api.reftagger.com/v2/RefTagger.js'; 
 	 	s.parentNode.insertBefore(g, s); 
 	}(document, 'script'));
	
</script>

{{ partial "google_analytics.html" . }}
{{ partial "piwik_analytics.html" . }}

</body>
</html>
