</div>
</div>

<!-- STEP Bible iframes -->
<script>

function showEmbeddedWindows() {
	$('.step-fallback').addClass("display-none");
	$('.step-iframe-wrapper').removeClass("display-none");
}

function showPlaintext() {
	$('.step-iframe-wrapper').addClass("display-none");
	$('.step-fallback').removeClass("display-none");
}

function toggleScriptureDisplay() {
	// if currently diplaying plaintext
	if($('.step-iframe-wrapper').hasClass("display-none")) {
		showEmbeddedWindows();
	}
	// if currently displaying embedded
	else {
		showPlaintext();
	}
}

function initialScriptureDisplay() {
	var scriptureDisplay=getCookie("scriptureDisplay");
	if(scriptureDisplay == "embedded")
	{
		$('.step-iframe').on('load', function() {
			$(this).removeClass("display-none");
			$(this).next().addClass("display-none");
		});
	}
	else if(scriptureDisplay == "plaintext")
	{
		showPlaintext();
	}
	// if user hasn't set cookie, set cookie and display embedded windows
	else { // scriptureDisplay = ""
		setCookie('scriptureDisplay', 'embedded', 1825);
		$('.step-iframe').on('load', function() {
			$(this).removeClass("display-none");
			$(this).next().addClass("display-none");
		});
	}
}

initialScriptureDisplay();

</script>

<!-- RefTagger -->
<script>

	var refTagger = {
		settings: {
			bibleVersion: "NASB",
			convertHyperlinks: false,		
			roundCorners: true,
			socialSharing: [],
			tagChapters: true
		} 
 	};
	
 	(function(d, t) { 
 	 	var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
 	 	g.src = '//api.reftagger.com/v2/RefTagger.js'; 
 	 	s.parentNode.insertBefore(g, s); 
 	}(document, 'script'));
	
</script>

{{ partial "google_analytics.html" . }}
{{ partial "piwik_analytics.html" . }}

</body>
</html>
