<div class="special-content cautionary-note">

<strong>
	<a href="/site/in-progress-pages/">Please note: this page is in progress</a>
</strong>

<p>Unlike my personal website where <a href="https://www.steventammen.com/about-the-site/#publishing-in-progress-pages">I publish pages that are <em>really</em> in progress</a> — with TODOs floating around, fragmentary thoughts, and much unpolish — any given in progress page on this ministry website is really only in progress insofar as I have not finished writing all the content that I expect to be eventually located on the page. That is to say, everything that is published on the page is already complete, edited, and checked-over for accuracy and correctness, but there is still more planned writing on the page to be completed.</p>

<p>I'm an outliner when I write, so how this plays out in practice is that I will fill in the outline skeleton (as displayed in the table of contents) with content over time, until the whole page is eventually complete.</p>

</div>
