{{ $seed := "RABBITS" }}
{{ $idString := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $idString := printf "%s%s" "a" $idString }}

<div class="list-item">
	<div class="list-item-title-row">
		{{ if (isset .Params "contentlevel") }}
			<a href="/about-the-site/content-organization/#content-level" class="list-item-content-level {{ strings.TrimSuffix "+" .Params.contentlevel }}">{{ .Params.contentlevel }}</a>
		{{ end }}
		<a href="{{ .Permalink }}" class="list-item-title">{{ .Title }}</a>
		<a href="javascript:showSummary('{{$idString}}');" class="list-item-summary-toggle show {{$idString}}"><i class="fas fa-plus fa-fw"></i></a>
		<a href="javascript:hideSummary('{{$idString}}');" class="list-item-summary-toggle hide {{$idString}}"><i class="fas fa-times fa-fw"></i></a>
	</div>
	<a href="{{ .Permalink }}" class="list-item-summary-section {{$idString}}">{{ .Params.summary }}</a>
</div>
