<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Through 10/16/23





---


### Summary

In this release, we've got the first 9 lessons in a new study of BB1: Theology off Ichthys (the section of Ichthys' systematic theology that goes over theology proper)---well, the written parts, at any rate. The videos will hopefully go up soon, once I've processed and polished them a bit more.

There are also *lots* of new pages in new verse-by-verse studies of Romans and 1 Thessalonians: Romans 1, Romans 2, 1 Thessalonians 4, and 1 Thessalonians 5. I've also got a bunch more discussion-based pages scaffolded out for Romans 1 through Romans 10 in a separate study of Romans. These pages are more like lists of discussion questions with my rough notes accompanying them. At least, that will be the idea, once I get around to actually filling in my notes.
---


#### Outline

- [On the nature of this particular ministry progress summary](#4)
- [BibleDriven, Jordan Bomberger's online ministry, is now live!](#5)
- [Our group Bible Study over Zoom has resumed our weekly recordings, this time going through Ichthys' Systematic Theology](#6)
- [Discussion questions from a local Bible study covering the book of Romans](#7)
- [Verse-by-verse Romans study](#8)
- [Another verse-by-verse study, this one for 1 Thessalonians](#9)
- [Some other theological conversations](#10)
- [Work on some of my planned studies](#11)
- [Plans for the future](#12)
- [Index of new content this release](#13)
  - [BB1: Theology lessons](#14)
  - [Romans discussion questions and brief notes](#15)
  - [Verse-by-verse Romans study: Romans 1](#16)
  - [Verse-by-verse Romans study: Romans 2](#17)
  - [Verse-by-verse 1 Thessalonians study: 1 Thessalonians 4](#18)
  - [Verse-by-verse 1 Thessalonians study: 1 Thessalonians 5](#19)

---




### On the nature of this particular ministry progress summary

It has certainly been a minute here. *Homo proponit, sed Deus disponit*, as they say. Man supposes, but God disposes.

There have been a number of developments over the last few months (it's been about 6 months to the day, in fact, since the last update). I should have been better about staying on top of the updates, but now at least there is plenty to go over!



---




### On the nature of this particular ministry progress summary

I have split some of the more mundane updates out into [a separate video up on my personal YouTube channel](), and will (hopefully) continue this structure now moving forward. I kind of wish I'd thought to do this from the very beginning of these ministry progress summary videos, but oh well. Live and learn.

I find the process of going over where my time has been spent and where my focus has been directed valuable for myself, personally, but it certainly isn't "ministry related" much more than "well, here are some of the reasons why there are not more new videos and/or new content pages". Anyone who is interested is certainly free to have a look at these other matters, but for everyone else, the upshot is that hopefully these ministry-related videos can stay shorter and more focused overall.



---




### On the nature of this particular ministry progress summary

And in that vein, I'm afraid this video probably will not completely describe everything that has happened since the last one. (This is the obvious downside of leaving such big breaks between them). However, since perfectionism and moving goalposts are contributing factors to the delay, best to just accept that and not let the perfect get in the way of the good any more than it already has! Tricky thing to stick with, that.



---




### BibleDriven, Jordan Bomberger's online ministry, is now live!

In my last update, I had mentioned that I was helping my close friend, roommate, and fellow Bible teacher set up his ministry website, and that that would be my primary focus for at least for a while. (Which it was---a couple weeks at least). 

Well, I am pleased to report that his launch went smoothly, and his [ministry website is now live](https://www.bibledriven.org/)! Jordan, in fact, probably has a good bit more written content than myself at present, and his website should serve as an excellent supplement to [Ichthys](https://ichthys.com/), [Bible Academy](https://www.youtube.com/channel/UCkp-J7VPT7NcwmuiNfD2fkg), and this ministry here at BibleDocs.

He has a few [large topical studies](https://www.bibledriven.org/large-topical/) (roundabouts 10, at time of writing), as well as a large collection of [small topical studies](https://www.bibledriven.org/small-topical/) on variety of subjects. He has also recently started [a verse-by-verse examination of the Sermon on the Mount](https://www.bibledriven.org/verse-by-verse/the-sermon-on-the-mount/).

Should you have questions relating any of these things he has written (or others besides), you can also reach him at [jordan@bibledriven.org](mailto:jordan@bibledriven.org). He also [has a mailing list too](https://www.bibledriven.org/mailing-list/), similar to the one for this site.



---




### BibleDriven, Jordan Bomberger's online ministry, is now live!

I am planning to cross-link to Jordan's content a good bit in my own work moving forward, as I identify areas where he has already covered something. Hopefully that should be indicative of the regard I hold for my friend's efforts---not that we probably agree on every single thing, but that his writing is truly worthy of consideration.



---




### Our group Bible Study over Zoom has resumed our weekly recordings, this time going through Ichthys' Systematic Theology

[Ichthys](https://ichthys.com/) has a full Systematic Theology in the [Bible Basics Series](https://ichthys.com/Bible-Basics-Home-Page.htm). Our Saturday Zoom Bible Study group has decided to go through this series, starting with [BB1: Theology](https://ichthys.com/1Theo.htm), which covers theology proper (the study of God).

Thus far, we've finished discussing the Essence of God (His Infinite Nature and Perfect Character), and started talking about the Trinity. Anyone familiar with [our past study of BB6A](https://www.youtube.com/playlist?list=PLcqAebKsBWy9NzEhpik-IyU9jycIOw1e9) may be glad to learn that we are trying to stay more on-topic and focused nowadays (in a relative sense). This doesn't necessarily mean all the lesson videos will be short (at least not by many people's standards), but it does mean that there will be fewer tangential rabbit trails in the discussions. This has at least been so for our first few videos. I am quite pleased with the direction our new study has taken.



---




### Our group Bible Study over Zoom has resumed our weekly recordings, this time going through Ichthys' Systematic Theology

Just as a reminder, these Bible Studies are completely open to everyone who wants to join! The Zoom meeting link is posted in the header of [the forum](https://www.bibledocs.org/community-overview/#the-forum), and can also be shared in the [WhatsApp groups](https://www.bibledocs.org/community-overview/#whatsapp). If you want to join our community (either of these groups), you may fill out a form to do so [here](https://www.bibledocs.org/community-overview/#the-form-itself). We always love to have new folks come and participate.

At present, our study is meeting Saturday afternoons at 4:00 PM EST (Atlanta/New York time on world clocks). The schedule for our meetings can be found [here](https://www.bibledocs.org/community-meetings/).



---




### Our group Bible Study over Zoom has resumed our weekly recordings, this time going through Ichthys' Systematic Theology

While we are several months into this study (and I therefore have a nice backlog of videos already recorded), I wish for the video format to be just so (editing things in for topic transitions, etc.), so have not yet gotten around to processing and posting all the videos. Part of the reason this ministry update is coming out so late is because I kept wishing for the videos to be part of the update (and therefore kept pushing back the timing of the update to try to give myself more time to finish things here), but it just hasn't happened yet due to all the other things I'm trying to get done at the same time. And I eventually decided that I'd best release what I've been working on in the meantime, videos or no videos.

They will be a primary focus of mine in the next bit though---catching up so that I post each new video as we have the study week by week. You'll probably see a bunch of videos pop up on the channel in the next several weeks as I work my way through the backlog here. I'm going to try to clear this backlog before I make the next ministry progress summary video, but we'll see.



---




### Discussion questions from a local Bible study covering the book of Romans

I have been writing down the discussion questions from a local Bible study I've been going to, covering the book of Romans. I have taken some notes every week too, but haven't gotten around to completely cleaning them up yet, for most chapters. So for now, I've mostly just [posted the discussion questions](/longer-topical-studies/second-baptist-2023-romans-study/). I'll post my notes for each set as I get around to fixing them up a bit more.

This was another contributing factor to the lateness of this update. I kept holding off because I wanted to get my backlog of notes here cleaned up so I could post everything together... but again, it just hasn't happened, since I have so many other things I'm simultaneously juggling. So I'm going to go ahead and post the discussion questions for now, and then fill things in as I go, trying ever more to squash the perfectionistic tendencies within me.



---




### Verse-by-verse Romans study

Just to give a sense of what I mean about said perfectionistic tendencies, when I started writing up my notes from the first few meetings, what had just been a few handwritten bullet points on my scratch paper quickly turned into a full 20+ pages or so of typed single-spaced text on my computer. And that was just for Romans 1 and Romans 2...

The local Bible study is progressing at around half a chapter a week, and I realized soon enough that I was biting off a lot more than I had really intended with the amount of depth that I was falling into in writing things up. So, I've basically decided to back-burner the in-depth writing on Romans for now. I've emailed my mentor all sorts of interesting questions about various matters of interpretation in the early chapters of Romans, and have a good bit outlined verse-by-verse, but this just honestly doesn't seem like quite the right time to undertake this endeavor. Not that I don't want to, but I just have a lot of other things I want to work on too, and I can only do so much.



---




### Verse-by-verse Romans study

Basically, I have decided to try to focus on posting my *brief* notes (as described in the last section), and leave the full formal verse-by-verse study for later. 

So while I have [posted the verse-by-verse Romans content I already got through](/verse-by-verse-studies/romans/), I'll hold off on continuing this full verse-by-verse Romans study until I've gotten some other things written, I think.



---




### Another verse-by-verse study, this one for 1 Thessalonians

A separate local Bible study I've been involved in went through 1 Thessalonians. This wasn't as formal really, so I don't have the same sort of notes to post week-by-week.

I did, however, lead the last week in this study, when the normal study organizer was sick. I have since then substantially expanded upon my initial notes from that night (wherein we went through 1 Thessalonians 4 and 1 Thessalonians 5). Since I had such limited time then, my notes for that night were more section-by-section than verse-by-verse, but I have now [filled in the notes substantially](/verse-by-verse-studies/1-thessalonians/). It got a lot longer than I thought it might, but I'm happy with how things turned out.



---




### Some other theological conversations

Across the debate community I run, our forum, and our WhatsApp group, in the few months since I've last given an update, I've been involved in a good many conversations about this and that. These might not turn into ministry content immediately, but I always have in the back of my head the notion that I might mine some of these theological discussions for content ideas eventually, over time.



---




### Work on some of my planned studies

I've worked some on a couple of the longer multi-part studies I have in-progress. One goes over how we as Christians ought to view the idea of judging others and what exactly goes into that, and the other deals with the largely-unpleasant topic of lukewarmness in the modern Church.

Both of these are studies I'd like to get out in the near future, hopefully. I have lots written already, but am constantly coming up with more things I want to cover, changing my mind about how I want to order things, and so on.



---




### Plans for the future

As already mentioned, I'd first like to finish processing and then post all of the past weeks for our Zoom Bible Study going over BB1: Theology. So doing that, then just keeping up with the series thereafter, is going to be a priority.

Odii (my friend and "co-host" in the BB1 series) and I have discussed the idea of doing a parallel study on the Coming Tribulation (CT) series on Ichthys as well, meeting more ad-hoc during the week as our schedules allow (rather than also having this second study be formally/consistently scheduled---contrast the BB1 study, which always happens at the same time on Saturdays), and we might like to try this out in the future. That could well lead to preparing for, recording, processing, and posting two (or perhaps even three) long/in-depth videos every week or two, which would keep me busy, for sure.



---




### Plans for the future

I'd also like to catch up and then keep up better with posting my brief notes for the Romans Bible study week-by-week. And I'd also like to finish the other studies I mentioned (the study about judgment for us as Christians, and the study about lukewarmness in the modern Church) soon as well. I'd also like to actually finish my verse-by-verse study of 1 Thessalonians 5, since I still have a few more verses to go there at the end of the chapter. (I got through most of it before deciding I better just go ahead and make this update otherwise I never would).



---




### Plans for the future

Finally, I'm weighing the idea of getting involved in a few online Christian communities---like forums, Facebook groups, Subreddits, Discord servers, and that sort of thing. The idea would be to engage more actively with others, rather than only posting static content. I only have so much time, of course, but it has been something that I thought might be a good fit for me. Especially as I finish getting all of my voice recognition and text editing things set up, and my writing efficiency continues to go up.



---




### Index of new content this release

I mentioned the higher-level categories above, but now I'm going to link each new page individually---I believe the following sections exhaustively list out all the new content pages in this release.



---




#### BB1: Theology lessons

These are the lessons we've already gotten through in our group Bible study of BB1. I've got everything set up to embed the videos as soon as I get around to posting them---hopefully soon.

* [Introduction - The Essence of God · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/introduction-the-essence-of-god/)
* [God's Infinite Nature · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/gods-infinite-nature/)
* [God's Perfect Character · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/gods-perfect-character/)
* [Conclusions - The Essence of God · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/conclusions-the-essence-of-god/)
* [Introduction - The Trinity · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/introduction-the-trinity/)
* [All Members of the Trinity Are Deity · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/all-members-of-the-trinity-are-deity/)
* [All Members of the Trinity Are Distinct Persons · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/all-members-of-the-trinity-are-distinct-persons/)
* [All Members of the Trinity Are Coequal, Coeternal, and Consubstantial · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/all-members-of-the-trinity-are-coequal-coeternal-and-consubstantial/)
* [All Members of the Trinity Are Joint Partakers of the Same Essence · BibleDocs](/longer-topical-studies/ichthys-bb1-the-study-of-god-group-study/all-members-of-the-trinity-are-joint-partakers-of-the-same-essence/)



---




#### Romans discussion questions and brief notes

I spent enough time on Romans 1 and Romans 2 that I turned my writing there into a formal verse-by-verse study. So:

- The [Romans 1 page with discussion questions](/longer-topical-studies/second-baptist-2023-romans-study/romans-1/) links to content from [the Romans 1 page in my verse-by-verse study](/verse-by-verse-studies/romans/romans-1/).
- And the [Romans 2 page with discussion questions](/longer-topical-studies/second-baptist-2023-romans-study/romans-2/) also links to content from [the Romans 2 page in my verse-by-verse study](/verse-by-verse-studies/romans/romans-2/).

I also got through the [writeup for Romans 8](/longer-topical-studies/second-baptist-2023-romans-study/romans-8/) completely. So that's an example of the format that all the other chapters (excepting 1 and 2, as above) will have, once I get around to actually cleaning up and posting all my notes, chapter-by-chapter.

And then there are all the other chapters that so far are just the discussion questions, without my notes added yet:

* [Second Baptist - 2023 Romans Study - Romans 3 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-3/)
* [Second Baptist - 2023 Romans Study - Romans 4 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-4/)
* [Second Baptist - 2023 Romans Study - Romans 5 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-5/)
* [Second Baptist - 2023 Romans Study - Romans 6 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-6/)
* [Second Baptist - 2023 Romans Study - Romans 7 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-7/)
* [Second Baptist - 2023 Romans Study - Romans 9 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-9/)
* [Second Baptist - 2023 Romans Study - Romans 10 · BibleDocs](/longer-topical-studies/second-baptist-2023-romans-study/romans-10/)



---




#### Verse-by-verse Romans study: Romans 1

To break down all the content that I wrote up in more depth for Romans 1:

* [Romans 1:1 - What is a bondservant? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-1-what-is-a-bondservant/)
* [Romans 1:3-4 - What does it mean for Jesus to be "declared Son of God"? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-3-4-what-does-it-mean-for-jesus-to-be-declared-son-of-god/)
* [Romans 1:5-7 - How should we approach other sinners? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-5-7-how-should-we-approach-other-sinners/)
* [Romans 1:8 - Does faith truly make an impact? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-8-does-faith-truly-make-an-impact/)
* [Romans 1:11-12 - How important is encouragement? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-11-12-how-important-is-encouragement/)
* [Romans 1:17 - Are we righteous? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-17-are-we-righteous/)
* [Romans 1:18-25 - Who gets a pass? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-18-25-who-gets-a-pass/)
* [Romans 1:22-25 - What are our modern day idols, given that the worshiping of animal statues isn't so much a thing anymore? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-22-25-what-are-our-modern-day-idols-given-that-the-worshiping-of-animal-statues-isnt-so-much-a-thing-anymore/)
* [Romans 1:24 - What ought we make of the "vile impurity" or "uncleanness" mentioned here? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-24-what-ought-we-make-of-the-vile-impurity-or-uncleanness-mentioned-here/)
* [Romans 1:25 - Why would people choose the lies of the world over the truth of God? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-25-why-would-people-choose-the-lies-of-the-world-over-the-truth-of-god/)
* [Romans 1:26 - Does God "give up" on sinners? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-26-does-god-give-up-on-sinners/)
* [Romans 1:26 - What is a "dishonorable passion" or "shameful lust" in this context? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-26-what-is-a-dishonorable-passion-or-shameful-lust-in-this-context/)
* [Romans 1:26-27 - Love is love, right? You can't be against love! · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-26-27-love-is-love-right-you-cant-be-against-love/)
* [Romans 1:26-27 - Are people "born gay"? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-26-27-are-people-born-gay/)
* [Romans 1:27 - What exactly does "receiving in themselves the due penalty for their error" mean? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-27-what-exactly-does-receiving-in-themselves-the-due-penalty-for-their-error-mean/)
* [Romans 1:27 - What is considered "natural"? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-27-what-is-considered-natural/)
* [Romans 1:28 - What is the result of our passions? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-28-what-is-the-result-of-our-passions/)
* [Romans 1:29-31 - What is not proper in God's eyes? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-29-31-what-is-not-proper-in-gods-eyes/)
* [Romans 1:32 - What does this verse have to say about the notion of "live and let live"? · BibleDocs](/verse-by-verse-studies/romans/romans-1/romans-1-32-what-does-this-verse-have-to-say-about-the-notion-of-live-and-let-live/)



---




#### Verse-by-verse Romans study: Romans 2

To break down all the content that I wrote up in more depth for Romans 2:

* [Romans 2:1 - What is the sense of the "therefore" in this verse? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-1-what-is-the-sense-of-the-therefore-in-this-verse/)
* [Romans 2:1-3 - How should we make our judgments? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-1-3-how-should-we-make-our-judgments/)
* [Romans 2:4 - Is the point of this verse to equate passing judgment upon others with showing contempt for God's kindness, forbearance, and patience? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-4-is-the-point-of-this-verse-to-equate-passing-judgment-upon-others-with-showing-contempt-for-gods-kindness-forbearance-and-patience/)
* [Romans 2:4 - How exactly does God's kindness lead to repentance? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-4-how-exactly-does-gods-kindness-lead-to-repentance/)
* [Romans 2:5-6 - Others aside, is your heart stubborn and unrepentant? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-5-6-others-aside-is-your-heart-stubborn-and-unrepentant/)
* [Romans 2:7-11 - Why do we make life hard for ourselves, when the decision is so clear? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-7-11-why-do-we-make-life-hard-for-ourselves-when-the-decision-is-so-clear/)
* [Romans 2:12-16 - Wait, are Gentiles held to looser standards and excused due to their ignorance of the Law? · BibleDocs](/verse-by-verse-studies/romans/romans-2/romans-2-12-16-wait-are-gentiles-held-to-looser-standards-and-excused-due-to-their-ignorance-of-the-law/)



---




#### Verse-by-verse 1 Thessalonians study: 1 Thessalonians 4

To break down all the content that I wrote up in more depth for 1 Thessalonians 4:

* [1 Thessalonians 4:1-2 - How to live in order to please God · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-4/1-thessalonians-4-1-2-how-to-live-in-order-to-please-god/)
* [1 Thessalonians 4:3-8 - Sexual immorality · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-4/1-thessalonians-4-3-8-sexual-immorality/)
* [1 Thessalonians 4:9-10 - Loving the brethren · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-4/1-thessalonians-4-9-10-loving-the-brethren/)
* [1 Thessalonians 4:11-12 - Minding our own business and working with our hands · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-4/1-thessalonians-4-11-12-minding-our-own-business-and-working-with-our-hands/)
* [1 Thessalonians 4:13-18 - The resurrection of the dead and the rapture at the second coming of Christ · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-4/1-thessalonians-4-13-18-the-resurrection-of-the-dead-and-the-rapture-at-the-second-coming-of-christ/)



---




#### Verse-by-verse 1 Thessalonians study: 1 Thessalonians 5

To break down all the content that I wrote up in more depth for 1 Thessalonians 5:

* [1 Thessalonians 5:1-3 - Unbelievers will not escape the coming Wrath of God, but it will come upon them suddenly · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-5/1-thessalonians-5-1-3-unbelievers-will-not-escape-the-coming-wrath-of-god-but-it-will-come-upon-them-suddenly/)
* [1 Thessalonians 5:4-11 - We are children of the light, so unlike others, should stay awake and sober · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-5/1-thessalonians-5-4-11-we-are-children-of-the-light-so-unlike-others-should-stay-awake-and-sober/)
* [1 Thessalonians 5:12-13a - Respecting pastor-teachers · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-5/1-thessalonians-5-12-13a-respecting-pastor-teachers/)
* [1 Thessalonians 5:13b-14 - How ought we relate to different groups of people? · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-5/1-thessalonians-5-13b-14-how-ought-we-relate-to-different-groups-of-people/)
* [1 Thessalonians 5:15 - Returning good for evil · BibleDocs](/verse-by-verse-studies/1-thessalonians/1-thessalonians-5/1-thessalonians-5-15-returning-good-for-evil/)





<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [On the nature of this particular ministry progress summary](#4)
- [BibleDriven, Jordan Bomberger's online ministry, is now live!](#5)
- [Our group Bible Study over Zoom has resumed our weekly recordings, this time going through Ichthys' Systematic Theology](#6)
- [Discussion questions from a local Bible study covering the book of Romans](#7)
- [Verse-by-verse Romans study](#8)
- [Another verse-by-verse study, this one for 1 Thessalonians](#9)
- [Some other theological conversations](#10)
- [Work on some of my planned studies](#11)
- [Plans for the future](#12)
- [Index of new content this release](#13)
  - [BB1: Theology lessons](#14)
  - [Romans discussion questions and brief notes](#15)
  - [Verse-by-verse Romans study: Romans 1](#16)
  - [Verse-by-verse Romans study: Romans 2](#17)
  - [Verse-by-verse 1 Thessalonians study: 1 Thessalonians 4](#18)
  - [Verse-by-verse 1 Thessalonians study: 1 Thessalonians 5](#19)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>