<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link
  rel="stylesheet"
  href="https://unpkg.com/littlefoot/dist/littlefoot.css"
/>
  <style>
   @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
   @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

   body { 
    font-family: 'Georgia';
   }

   ::selection{
    background-color: #fff6bd;
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana';
    font-weight: bold;
   }

   h2 {
    display: block;
    font-size: 30px !important;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }

   /* Style most headers the same across slides, for visual consistency */
   h3, h4, h5, h6 {
    display: block;
    font-size: 18px !important;
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }

   /*
    Don't need extra padding when headers aren't in a special content section
    with the special content section name in a strong tag (when the header is
    the very first thing in the sepcial content section div). Too much space otherwise
   */
   .special-content h3:first-child,
   .special-content h4:first-child,
   .special-content h5:first-child,
   .special-content h6:first-child
    {
      margin-top: 0px;
    }

   .remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
   }
   
   .footer {
    position: absolute;
    bottom: 5px;
    right: 50px;
    height: 40px;
    width: 800px;
    color: #006400;
   }

   a {
    color: #3b8bba;
    text-decoration: none;
  }

  table, th, td {
    border: 1px solid black;
  }

  /* Special content sections */

  .special-content {
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
  }

  .special-content >  .special-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .special-content > strong {
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    margin-top: -15px;
  }

  .special-content.cautionary-note {
    background: #ffe6e6;
  }

  .special-content.technical-discussion {
    background: #ffe0cc;
  }

  .special-content.sidenote {
    background: #fffae6;
  }

  .special-content.application {
    background: #ebfaeb;
  }

  .special-content.note {
	  background: #e6ffff
  }

  .special-content.indirect-reasoning {
    background: #e6f5ff;
  }

  .special-content.example {
    background: #f2e6ff;
  }

  .special-content.post-hoc-note {
    background: #ffe6f2;
  }

  .special-content.quote {
    background: #e6e6e6;
  }

  .special-content.scripture {
    background: #f2e6d9;
  }


  /* Littlefoot footnotes */

  .littlefoot__button {
    background-color: #dddddd;
    color: #777777;
    height: 1rem;
    padding: 0rem 0.8rem;
    margin: 0rem 0.1rem;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center; 
  }
  </style>
	<script>
		var refTagger = {
			settings: {
				addLogosLink: true,
				bibleVersion: "NASB",
				convertHyperlinks: true,
				logosLinkIcon: "light",			
				socialSharing: [],
				tagChapters: true
			}
		};
	</script>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Romans 1:26 - Does God "give up" on sinners?



---


### Summary

There is no point after which a sinner is too far gone. God will *always* accept repentant sinners back with open arms---praise be to Him! However, God does give us the ability to actually choose; if we decide we want to throw Him and His truth away and bury our heads in the sand, He is involved in that choice of ours as well, in that He hardens our hearts to make that choice even possible to begin with (since it violates natural logic and instinct). In other words, God actively removes His blessings of restraint and spiritual insight from wayward creatures who have decided that they want nothing to do with Him.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [Introduction](#3)
- [Hardness of heart - Pharaoh, Satan](#4)
- [God's removal of restraint does *not* violate creature free will](#5)
- [So no, God does not ever "give up" on sinners](#6)
- [What about when God gives people no more chances?](#7)

---


### Introduction

1 Timothy 2:4 and John 3:17 say that God wants all to be saved. When people end up not saved, then, are we to think it is God's fault somehow?

No, such is not the case. People are only ever not saved because they choose against God, and God does not force them or coerce their will. And so it is that when God "gives people over" to their base desires, He is not forever cutting off that person's salvation, or irrevocably closing a door. He is merely allowing His creatures with free will to exercise said free will... even if it pains Him, as He watches them hurt themselves ever more.

Put simply, God allows us to delude ourselves exactly as much as we ourselves want to be deluded. He gives us what we want (even if it is bad for us)---not maliciously to hurt us, but because He really does give us the ability to choose, and anything less would not be true freedom.

### Hardness of heart - Pharaoh, Satan

The thing in all this that ought to inspire fearful reverence and awe is that God is *even said to be the one hardening hearts* (keep reading if this active way of phrasing it seems "off" to you---explanation will be forthcoming). Romans 1:26 aside, Exodus 14 showcases this phenomenon, when God hardened Pharaoh's heart so that the Egyptians foolishly chased after the Israelites, even after having already tasted of the supernatural consequences of such a path.

<div class="special-content technical-discussion">
<strong>
<a href="/site/content-features/#technical-discussion">Technical discussion</a>
</strong>
<p>For a thorough technical discussion of the hardening of Pharaoh's heart specifically, see <a href="https://ichthys.com/e2.htm#:~:text=%22And%20I%20will%20harden%20Pharaoh%27s%20heart%20and%20he%20will%20pursue%20after%20them%20so%20that%20I%20may%20gain%20glory%20through%20Pharaoh%20and%20through%20his%20force%20and%20so%20that%20the%20Egyptians%20may%20know%20that%20I%20am%20the%20Lord.%22%20And%20they%20did%20so.">here</a>.</p>
</div>


After the Egyptians faced the ten plagues described in Exodus (culminating in the loss of their firstborn sons), they *definitely* ought to have known better than to go after God's people again. No matter how iron their stomachs might be, humans beings are not so deficient in self-preservation that they will, with properly-functioning neurons (so to speak), zealously pursue a path leading to their own certain destruction. Even the animals don't do that. But God will *even remove the restraint of natural instincts* to let us chase our folly, if it is what we have decided we want.

<div class="special-content sidenote">
<strong>
<a href="/site/content-features/#sidenotes">Sidenote</a>
</strong>
<p>For any Classics nerds out there, what we are discussing here fits right in with the literary theme of madness (μανία) in Greek myth and tragedy. The Ancient Greeks often considered madness to be a means of divine punishment for an act of hubris or sacrilege. The gods would blind someone to the consequences of their actions so that they would do things that normal logic and restraint would otherwise stop them from doing---usually to tragic effect.</p>

<p>It is decidedly dangerous to try to interpret the Bible in terms of secular writings, but that is not the point of bringing this up. The point is that <em>even the ancient pagans understood the connection between human sin and madness/folly</em>.</p>

<p>All sin against God is, in essence, temporary madness. If we would keep our eyes firmly fixed upon Jesus Christ, the divine <em>logos</em> (Greek: <a href="https://www.blueletterbible.org/lexicon/g3056/esv/tr/0-1/">λόγος</a>)---He who gives order and logic to the universe---we would find our thinking transformed, such that we no longer suffer under the madness and irrationality of sin, but have "clear eyes", eyes quickened by the spiritual insight afforded by the indwelling Holy Spirit.</p>
</div>


All this to say, God's progressive removal of restraint from wayward children is the logical end result of what Him respecting our free will truly means, and it is more than a bit terrifying to ponder. For example, one implicit consequence of all this is that each and every one of us is capable of great, great evil---not that we would ever do certain things now with our critical thinking intact, but were we to resolutely decide to act against nature and morality, *God would make it possible for us to do so, by removing the blessing of natural restraint*. Because God will always respect our choices, be them for good or ill, our free will puts 100% of the responsibility for our choices upon *us*!

As another example of God giving creatures over to their folly, consider Satan's rebellion against God. Satan is an angel far more intelligent and capable than we can even imagine. He was the preeminent created being---the one tasked with warding off evil from the throne of God (cf. Ezekiel 28:11ff.). Satan *knew* God. But he still chose to raise his arm against his Creator. It is utter madness, complete insanity. How could a finite created being ever defeat his Infinite Maker?!

### God's removal of restraint does *not* violate creature free will

God removing restraint from those choosing a path of rebellion is basically synonymous with Him removing His blessings of natural instinct and insight/understanding from them. These things---cf. the human conscience---are gifts God gives humanity out of His great mercy and grace, not because He must. But when people turn away from Him, He merely removes some of these blessings He would not need to give us to begin with. Without these blessings He gives, we would *all* be in this sorry state of utter blindness, lacking the ability to understand even the most basic of spiritual truths. Praise be to God that He only removes His insight from us if that is well and truly what we have decided in our heart of hearts that we want, and never for any other reason!

In any case, we might rephrase what we have been talking about to be something like "God removes His blessings of general insight and accurate spiritual appraisal from wayward creatures, so that they are able to make the choices that they truly wish to make, insane as they may be in reality." And so it is that when Jesus literally raised people from the dead, still those witnessing such a miracle did not believe, not even with the irrefutable evidence right before their eyes. *God* made it so that they would not believe---through His removal of His insight. When their eyes became blinded and their ears closed up, it was not because God withheld the truth from those who wanted it; rather, because people did not want the truth, God merely gave them over to their choice, and made it possible for them to blind themselves to it. This is what is really going on in Matthew 13:13-15.

Calvinists take all this the wrong way and say that this is all God controlling who is saved and who isn't, but in fact that is entirely backwards. That is, God does not harden people's hearts such that they don't want the truth, but people don't want the truth such that God is compelled to harden their hearts (=remove His restraint/remove His insight) so that they aren't forced---by the clear logic of a level-headed appraisal without such hardness of heart---into acknowledging the truth. God stifles spiritual insight in or even completely removes spiritual insight from those who do not want to believe, such that even the clearest, most irrefutable evidence appears to them as no more than foolish nonsense (cf. 1 Corinthians 1:18). Think about that for a second!

{{% note %}}

The wording here can be a bit tricky if we aren't careful. When we say "God hardens someone heart" (with God as the subject of this active verb), we *must* specify exactly what we mean by that---as we have been doing here---else we risk causing misunderstandings (e.g., that God is somehow causally responsible for unbelief and/or evil). Here are a couple ways of framing these concepts that I personally find helpful in elucidating the correct teachings:

1) God hardens the hearts only of those who want their hearts to be hardened. It is the logical opposite of Him choosing all those who choose Him (another true principle). In both cases, God respects our free will.
2) Let's say that going down a path of spiritual hardness is like driving a car off of a cliff. Then God does not pick up someone's car and drop it off the side of the cliff, but simply removes the guardrails that had been there before, and then the person in question drives over the side all on their own, according to their choice. Even though such is madness.

So it is best to view hardness of heart as removal of restraint/insight according to someone's free will request for such in their heart of hearts, rather than God actively causing someone to become hardened to the truth (as if the person's free will had nothing to do with it).

{{% /note %}}

There will come a time when God will remove the veil, remove the hardness by which He allows humanity to deceive itself, and thereby reject Him. At that time, "every knee will bow, and every tongue will confess" (cf. Isaiah 45:23; Romans 14:11; Philippians 2:10-11). (**Note**: this does not teach Universalism, the notion that somehow all will be saved in the end. Instead, it is more along the lines of hitting the back of an unwilling prisoner's knees to make him bow before the King. On that Great Day of Days, people will be powerless to deny the truth, and the weight of it will force out an acknowledgement of God's righteous authority, completely against their will). The only reason why people aren't forced to their knees in the present---overwhelmed by the sheer majesty of the Almighty---is because He hardens their hearts according to their desire to not be with Him.

### So no, God does not ever "give up" on sinners

So to bring us full circle, God never gives up on sinners; the door is *always* open. At any moment, if we would but turn to Him instead of refusing to submit to Him, He would stop giving us over to our stubborn hearts, and instead deliver us from our afflictions (cf. Psalm 81:11-16, and also cf. the parable of the prodigal son, Luke 15:11-32). But He will also let us freely toss Him aside without cognitive dissonance or discomfort---if it is what we decide we truly want---since He will harden our hearts ever more if we continually choose against Him. And *that* is a most sobering thought indeed. May we ever choose to submit to Him rather than forcing Him to harden our hearts!

### What about when God gives people no more chances?

For example, when coming into the Promised Land, the Israelites were commanded to kill the Canaanites down to man, woman, and child (cf. the book of Joshua). Those people no longer had any more chances to turn back and repent. So too when God rained fire down upon Sodom and Gomorrah (Genesis chapters 18-19). And this will also be true when Jesus Christ returns again in glory to slaughter the armies of antichrist (Revelation 19:11-21).

Is it just? How can God make it so some people seemingly have a longer opportunity to turn from their sin than others, who are violently wiped from the face of the Earth?

Past a certain point, we need to understand that questioning God's Justice very much becomes the clay questioning the Potter (cf. Romans 9:20). God knows what He is doing. These people we perhaps feel sorry for would not have repented even if God had given them additional years of chances---even many more lifetimes of chances. For all who do not believe do not believe *of their own free will*. And let us not forget that natural revelation leaves all without excuse anyway, ([as we have already discussed](/verse-by-verse-studies/romans/romans-1/romans-1-18-25-who-gets-a-pass/)). If given another chance, they would still spit in God's face rather than submit to Him... even though He has already judged His own Son in their place, that they might be forgiven and have eternal life, if only they would "not say no." God has already done *absolutely all He can* for these people, short of overriding their free will to force them to believe.

Anyhow, all judgement is in the hands of the Lord. He is the one who controls such things as the fate of nations, "their appointed times in history, and the boundaries of their lands" (Acts 17:26). When He metes out justice, it is utterly perfect. We *must* believe that---not weakly and with lingering uncertainty, but with full confidence. For we serve a God who is the Perfect Judge of all things. No one will *ever* receive anything other than exactly that which they deserve (cf. Romans 2:6-8, which we will get to soon enough).

<div class="special-content sidenote">
<strong>
<a href="/site/content-features/#sidenotes">Sidenote</a>
</strong>

<p>If we find ourselves doubting the justice of God in the face of the suffering experienced by ourselves or other believers we know ("Making the righteous prosper, huh God? Sure doesn't seem that way to me!"), we might consider the eternal rewards that God promises those who serve Him. On that Great Day of Days, the positive works of the righteous will be made clear for all to see---that "no cup of cold water given in Jesus' name" (equivalent) is ever unrewarded. And, moreover, the wicked choices of the unrighteous will also likewise be made clear for all to see---their eternal condemnation will be shown to be fair and just, since even though Jesus paid for their sin upon the cross, they rejected His sacrifice in lieu of standing upon their own works, which will be shown to be evil and without merit. Cutting both ways (i.e., for believers and unbelievers both), it will be shown that God's justice is completely perfect.</p>

<p>Atheists find this concept to be complete madness. Karl Marx famously called religion "the opiate of the masses," and George Orwell mocks the concept as well in his allegorical novella <a href="https://en.wikipedia.org/wiki/Animal_Farm"><em>Animal Farm</em></a>. In that novella, a raven named Moses spreads tales of "Sugarcandy Mountain" to the other animals, saying that all their work will not be for nothing and that after they die they will be rewarded in this paradise he speaks of. The pigs (representing communist authority) initially scorn his ideas and try to convince the other animals not to listen to him. But then once they are in power, they change their tune, and keep the raven around to manipulate the other animals, so that on account of these fantastical (implied to be false) tales of paradise, they will docilely put up with being treated unjustly in the present.</p>

<p>However right the critics might be about wicked governments trying to prevent revolts against their unjust rule by appealing to religion (or whatever else they might think effective), that is not itself proof that a belief in God's perfect justice in the final accounting of things is merely wishful thinking. No indeed, inescapable justice <em>will</em> come for the wicked from the hand of God. For "If he [the wicked man] does not turn back, He [God] will sharpen His sword; He bends His bow and makes it ready. He also prepares for Himself instruments of death; He makes His arrows into fiery shafts" (Psalm 7:12-13). <em>When God comes for you, there is no escape</em>. The fate of the wicked is sealed.</p>

<p>We ought not cheer about this, <em>per se</em> (we ought to instead truly desire the salvation of all, like God does), but when we are hurting, we can find comfort in the knowledge that God does <em>always</em> make the scales of justice balance, whether we can perceive it at this point in time or not.</p>

</div>





<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Introduction](#3)
- [Hardness of heart - Pharaoh, Satan](#4)
- [God's removal of restraint does *not* violate creature free will](#5)
- [So no, God does not ever "give up" on sinners](#6)
- [What about when God gives people no more chances?](#7)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>