<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Purpose in This Dark World Only Comes by Faith, Which Makes Us Outcasts Here but Chosen by God



(Derived from https://ichthys.com/SR4(SWS).htm)

---


### Summary


---


#### Outline

- [The fallen world](#4)
- [We may not have as heartrending a point of comparison as Adam and Eve, but this world's brokenness can and will pierce us anyway](#5)
- [The darkness all around us in the world](#6)
- [True meaning in this life only comes through faith](#7)
- [Though strangers and outcasts in this world, our faith marks us out as God's chosen people](#8)
- [Parallel discussion from Peter 3 on Ichthys](#9)

---


### The fallen world




Though no doubt relieved that the Lord God had not visited upon them a swift and fiery judgment, Adam and Eve would have been anything but comforted by the harsh realities of the new world east of Eden into which they were forced following their eviction from the garden. This, assuredly, was no paradise.

Life was no longer wonderful, especially in contrast to the bounty so recently lost. Everything was now flawed, and strangely unsatisfying. The pain, the privation, the decay and corruption -- and more than the anything else the absence of God -- must have driven home the contrast to Eden.

---


### We may not have as heartrending a point of comparison as Adam and Eve, but this world's brokenness can and will pierce us anyway

Unlike our first parents, we do not possess the experience of a perfect Eden as a vivid point of comparison to this imperfect world we now inhabit.

Nonetheless, despite the fact that familiarity tends to inure one to hardships, this unforgiving world of trouble and tears has a tendency from time to time to slice through even the most deep-rooted Stoicism, and through even the most fortunate circumstances, reminding us all that this is not a paradise designed by God for our happiness and pleasure. ***On the contrary, this is the devil's world***.

---


### The darkness all around us in the world



That Satan's world of deep unhappiness is essentially corrupt is a truism evident at life's every turn. Everything decays. Nothing good lasts. Sin and evil are ubiquitous.

War, genocide, rape, slavery, human trafficking, child abuse... whoever thinks that this world is not fully snared in darkness needs to widen their perspective a bit. It is impossible to pretend otherwise if you are truly honest with yourself.

On top of all this, not too far down the road in every individual life lies the grave, the reward and legacy awaiting us all, no matter how blissful or disappointing our lives have been in the interim. We will talk more about this unavoidable fact (and the mockery it makes of all human effort) starting next time.

---


### True meaning in this life only comes through faith



Only by our faith can we live with purpose:

- Only God is truly meaningful here on earth, if only we would search for Him.
- Only Jesus Christ offers a solution to the futility of life and the inevitability of death, if only we would believe in Him.
- Only on the other side of this life is there true meaning, true fulfillment, true and lasting happiness, if only we have chosen God in this present life over the deceptive vanities of the devil's world.

We will find this meaning, fulfillment, and happiness when we are at last re-united with the God who loved us enough to sacrifice His Son on our behalf. Until that time, like our first parents Adam and Eve before us, we have been left in this strange and alien world where the blinding reality of God is largely obscured from view, revealed almost exclusively in His Word to those who seek Him out.

Until that time, we wait for something better as homeless wanderers in a world which finds our perspective and our hope worthless, even idiotic.

---


### Though strangers and outcasts in this world, our faith marks us out as God's chosen people



But by our faith and the actions that faith produces, we show the world that we are not of it, do not love it, and acknowledge that we have no true part in it -- except for the God who is the focus and the object of our love all the days of our sojourning here in the devil's inhospitable desert (cf. 1 Chronicles 29:15; Psalm 23:1-6; 39:12; 63:1; 84:5-7; 119:19; Hebrews 11:37-38; 11:13-16; 13:13-14; 1 Peter 1:1; 2:11).

---


### Though strangers and outcasts in this world, our faith marks us out as God's chosen people

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Psalm.73.25&options=VN" width="100%" height="400px"></iframe>

---


### Parallel discussion from Peter #3 on Ichthys

<div class="special-content scripture">
<strong>1 Peter 1:1-2 | <a href="/site/content-features/#ichthys-translations">Ichthys translation</a></strong>

<p>Peter, an apostle of Jesus Christ, to those who, though outcasts dispersed throughout Pontus, Galatia, Cappadocia, Asia, and Bithynia, were yet selected in the foreknowledge of God the Father, by means of the Holy Spirit's consecration, for the obedience in and sprinkling of the blood of Jesus Christ. Grace and peace be multiplied unto you!</p>

</div>


<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a> from <a href="https://ichthys.com/Pet3.htm">Peter #3 on Ichthys</a>
</strong>

<p><em>To those though outcasts dispersed . . . yet selected</em>: We have already considered the ostracism and outright persecution which these early Christians endured for their beliefs [earlier in the Peter Series]. Instead of down-playing the problems his audience was experiencing, Peter acknowledges their sufferings. He calls them <em>parepidemoi</em> (outcasts), a Greek word meaning someone who is only visiting as a stranger or an exile (cf. Hebrews 11:13-16), and goes on to compare them to a scattered nation, using the Greek word <em>diaspora</em> (i.e., dispersion; often transliterated and used of scattered Israel).</p>

</div>
---
<div class="special-content quote">




<p>Yes, says Peter, we Christians do live as strangers on this earth, scattered and dispersed. From the world's point of view this is indeed a pitiable state. To the world, we are outcasts, even rejects.</p>

<p>However, to God we are special, selected as holy from out of a profane world. The Greek word used here, <em>eklektos</em> (select, elect), means that as Christians we have been "chosen out" of the world, that we have been expressly selected by God as His special possessions forever, so that while we may still be <em>in the world</em>, we are no longer truly <em>of the world</em>.</p>

<p>For this reason, we can expect the world's hostility, as our Lord warned us (John 15:18-19).</p>

</div>





<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [The fallen world](#4)
- [We may not have as heartrending a point of comparison as Adam and Eve, but this world's brokenness can and will pierce us anyway](#5)
- [The darkness all around us in the world](#6)
- [True meaning in this life only comes through faith](#7)
- [Though strangers and outcasts in this world, our faith marks us out as God's chosen people](#8)
- [Parallel discussion from Peter 3 on Ichthys](#9)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>