<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## What Is Going on in Exodus 34:27-28?



---


### Summary

In our passage this week, the Workbook focused on the character of God as described earlier in the chapter, Exodus 34:6-7.

This page, instead of focusing on those words, focuses on the writing: the writing God commanded Moses to do in Exodus 34:27, and the writing of the Ten Commandments onto the stone tablets in Exodus 34:28. For various reasons, getting a proper understanding of exactly what was written and who wrote it is a bit less straightforward than one might expect.

{{% content %}}
---


#### Outline

- [It was in fact the Ten Commandments written upon the stone tablets. Full stop](#4)
- [The text of Exodus 34:27-28](#5)
- [The interpretation of Exodus 34:27-28](#6)
  - [Trying to explain by extended analogy](#7)

---


<div class="special-content technical-discussion">
<strong>
<a href="/site/content-features/#technical-discussion">Technical discussion</a>
</strong>

<h3>It was in fact the Ten Commandments written upon the stone tablets. Full stop</h3>

<div class="special-content cautionary-note">
<strong>
<a href="/site/content-features/#cautionary-notes">Cautionary note</a>
</strong>

<p>You should probably skip this section if you are not conversant or comfortable with incorrect but strongly-written academic scholarship about the Bible. It can be unsettling and difficult to argue against such scholarship, even if it teaches things that are dead false, as here.</p>

</div>


<p>Much to my surprise, I came across a page seriously questioning what was written on the stone tablets God gave to Moses: <a href="https://www.thetorah.com/article/what-did-god-write-on-the-tablets-of-stone">the page</a>. It waxes long and erudite about arguments and interpretations that challenge the traditional intepretation that God wrote the Decalogue (the Ten Commandments) upon the stone tablets.</p>

<p>I had not previously know this was an area of any controversy whatsoever. Exodus 34:28, Deuteronomy 4:13, and Deuteronomy 10:1-5 seem to me to be so clear as to leave no doubt, and despite skimming the arguments within the linked piece, my views have not changed even the tiniest bit. I find it most unpersuasive, for all its veneer of rigorous analysis.</p>

<p>For example:</p>

<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a> from <a href="https://www.thetorah.com/article/what-did-god-write-on-the-tablets-of-stone">the mentioned page</a>
</strong>

<p>This interpretation, however, is problematic. The verse [Exodus 24:12] fails to explicitly mention עשרת הדברים “the Ten Words” or “words of the covenant.” Instead, it refers to התורה והמצוה, “the teaching and the commandment” (perhaps a hendiadys: “the legal teaching” or the like). It seems quite odd, however, to refer to the Decalogue as “the teaching and the commandment” without any further clarification. How is the reader supposed to know that this phrase refers to the Decalogue?</p>

</div>


<p>Apparently, to the author, Exodus 34:28, Deuteronomy 4:13, and Deuteronomy 10:1-5 do not count as ways "the reader is supposed to know" that what God wrote on the tablets was the Ten Commandments. On what basis can we ignore the rest of the Old Testament?</p>

<p>As to the fact that it would not be known in the specific context of this passage, well, this is only a problem if one forces each passage to stand alone in interpretation, which is <em>never</em> how biblical interpretation works. It is a ridiculous and nonsensical standard to impose.</p>

<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a> from <a href="https://www.thetorah.com/article/what-did-god-write-on-the-tablets-of-stone">the mentioned page</a>
</strong>

<p>Furthermore, the formulation, "the tablets of stone and the teaching and the commandment that I have written <em>to teach them</em>" sounds as if something new is being given that must be taught. But Israel was already taught the Decalogue by God! Again, the formulation indicates that the tablets with their teaching (<em>torah</em>) were to be used by Moses to educate the people, as in "they shall teach your laws to Jacob and your Torah to Israel" (יוֹרוּ מִשְׁפָּטֶיךָ לְיַעֲקֹב וְתוֹרָתְךָ לְיִשְׂרָאֵל; Deut 33:10).</p>

<p>The "tablets of the covenant" with the Decalogue, however, are stored in the ark, far away from the public eye, and (at least according to P texts) serve as a <em>testimony</em> (hence: לוחות העדות) rather than as an educational tool (see Exod 25:16; 31:18; 40:20; cf. Deut. 10:1-5).</p>

</div>


<p>(We are still focused on Exodus 24:12 here).</p>

<p>Our author's argument goes something along the lines of "how can the tablets be said to 'teach the people' if they are locked up in the Ark of the Covenant?"</p>

<p>One would think, based on such an argument, that the physical tablets being in the Ark of the Covenant would somehow prevent the words upon them from being discussed or taught in the assembly. An interesting assumption, is it not? I'd like to hear some evidence for it, or otherwise any sort of explanation as to why where the physical tablets are stored matters when it comes to the things upon them being taught.</p>

<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a> from <a href="https://www.thetorah.com/article/what-did-god-write-on-the-tablets-of-stone">the mentioned page</a>
</strong>

<p>The sequence of events described above is almost certainly the result of a splicing together of two separate traditions. According to the longer tradition recounted (Exodus 20:1-24:11), God revealed the Decalogue to all of Israel (Exod 20), followed by the Covenant Collection to Moses (Exod 21-23). Moses then wrote all of them---the Decalogue and the Covenant Collection---on a scroll and conducted the covenant ceremony (Exod 24:3-8).</p>

<p>The brief tradition in Exodus 24:12-15, in contrast, reports of a <em>divinely</em> inscribed law on stone tablets handed over to Moses on the mountain for the instruction of the people. It was originally unrelated to the account of the Decalogue and the Book of the Covenant that now precedes it.</p>

<p>Indeed, the formulation "come up the mountain" (עֲלֵה אֵלַי הָהָרָה) suggests that Moses is being called upon to go up the mountain to receive the law for the <em>first time</em>. Thus, our passage of Exodus 24:12 may be said to reflect a parallel and alternative tradition to that of Exodus 20-24:11.</p>

</div>


<p>About here is where I lose interest a great deal more. I have negative patience when it comes to the obsession scholars have with trying to identify "editorial traditions" and so on (cf. the so-called <a href="https://en.wikipedia.org/wiki/Documentary_hypothesis">"Documentary Hypothesis"</a> and the so-called <a href="https://rsc.byu.edu/isaiah-prophets/scientific-analysis-isaiah-authorship">"Isaiah Problem"</a>).</p>

<p>With essentially non-existent actual physical evidence, scholars attempt to argue that parts of the Bible were written or compiled by multiple people having different authorial intents and styles and so on. Hogwash. One needs actual evidence to put forward assertions, not wild speculation. Especially for something so monumentally important as challenging the Bible's trustworthiness.</p>

<p>People who don't respect the Bible enough to trust it almost always draw problematic conclusions (as here). You shouldn't waste your time or energy listening to a single word these people have to say, for the most part.</p>

<p>And in that spirit, this is where I'll end my brief review of this idea that something other than the Ten Commandments was written upon the tablets. I am sure the piece I linked is not the only thing in the world that argues for a different interpretation than the normal one, but I do not think this is a question deserving of much serious discussion, for all who are content to take the Bible at face value.</p>

<p>You may read an email Q&amp;A chain on Ichthys about this topic <a href="https://ichthys.com/mail-bible-interpretation7.htm#:~:text=can%20you%20give%20me%20your%20opinion%20on%20the%20interpretation%20that%20the%20'tablet%20of%20commandments'%20given%20to%20moses%20is%20in%20exodus%2034%2C%20not%20the%20traditional%2010%20commandments%3F">here</a>, if you'd like to see even more on the question.</p>

</div>


### The text of Exodus 34:27-28

<iframe src="https://www.STEPBible.org/?q=version=THOT|version=NASB_th|reference=Exodus.34.27-28&options=VUN" width="100%" height="80%"></iframe>

### The interpretation of Exodus 34:27-28

There are two matters of interpretation to wrangle here: what "these words" refers to in v. 27 (the two options are the commands of vv. 10-26 or the Ten Commandments), and who wrote on the tablets in v. 28 (the two options are God and Moses).

Admittedly, *prima facie*, taking vv. 27-28 as they are seems to say that God commanded Moses to write some things in v. 27, and then Moses obeyed and actually wrote the things he was commanded to write in v. 28.

There are issues with this, though.

First, the question of what "these words" are in verse 27. If one takes them as retrospective (vv. 10-26), the issue is that the commandments given in vv. 10-26 are *not* the Ten Commandments, which are thing things mentioned in v. 28. So that doesn't seem to work.

Things work fine if you take the "these words" as prospective: "write down these things -- {list of things coming *after*}." But the problem with taking things prospectively is that v. 28 would then essentially logically mandate that we take Moses to be the subject of וַיִּכְתֹּב (since he is the one commanded to write in v. 27, which we are now prospectively tying with v. 28). In v. 28, this verb meaning "to write" does not have an explicit subject, so the subject must be inferred.

Moses being the subject is completely unworkable, even though it works fine grammatically. Why? Because Deuteronomy 10:1-5 states definitively that *God* was the one who wrote on the (second set of) tablets here, not Moses:

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Deuteronomy.10.1-5&options=VN" width="100%" height="80%"></iframe>

In the more immediate context, Exodus 34:1 also definitively states that God is the one doing the writing on the stone tablets, not Moses.

But if God is the one writing on the tablets, then the referent of "these words" in v. 27 cannot be looking forward to what is written in v. 28, but must be looking back to the commands that God gave in vv. 10-26. It is simply the only possible interpretation that "works" logically.

<div class="special-content technical-discussion">
<strong>
<a href="/site/content-features/#technical-discussion">Technical discussion</a>
</strong>

<p>God being the one writing on the stone tablets is in fact quite acceptable grammatically.</p>

<p>וַיִּכְתֹּב in v. 28 could have as its subject either God or Moses, given that the form is a 3rd person masculine singular imperfect Qal sequential. 3rd person masculine singular would obviously be right for Moses, but it is also the person/gender/number we would expect for God -- cf. when God is the implied subject of וַיֹּאמֶר in Exodus 34:10.</p>

<p>The וַיֹּאמֶר of v.10 is basically grammatically identical to the וַיִּכְתֹּב of our v. 28 (i.e., it is likewise a 3rd person masculine singular imperfect Qal sequential without an explicit subject), even though it comes from a different verb (<a href="https://www.blueletterbible.org/lexicon/h559/esv/wlc/0-1/">אָמַר</a> instead of <a href="https://www.blueletterbible.org/lexicon/h3789/esv/wlc/0-1/">כָּתַב</a>). So if God can be the implied subject there in v. 10, he can also be the implied subject in v. 28. </p>

<p>This is why we can say that it works fine grammatically for God to be the subject of וַיִּכְתֹּב in v. 28.</p>

</div>


If your head is all a muddle now, in plainer English, all this means that after giving some commands (vv. 10-26) -- commands that are not the Ten Commandments) -- God tells Moses to write down all those commands he had just given (v. 27), probably on a scroll or what have you (i.e., something other than the tablets). Then God Himself inscribes the Ten Commandments onto the stone tablets (v. 28).

A clearer translation for these verses might then be:

<div class="special-content scripture">
<strong>Exodus 34:27-28 | <a href="/site/content-features/#original-translations">Original translation</a></strong>

<p><strong>27</strong> Then the Lord said to Moses, "Write down these words [I have just finished saying to you] (i.e., vv. 10-26), for in accordance with these words I have made a covenant with you and with Israel." <strong>28</strong> Moses was there with the Lord forty days and forty nights without eating bread or drinking water. And [just as He said He would] (i.e., in v. 1), [the Lord] wrote on the tablets the words of the covenant — the Ten Commandments.</p>

</div>


The reason why this interpretation doesn't necessarily jump out as being the right one at first blush is because Moses is a closer antecedent for the subject of וַיִּכְתֹּב in v. 28 than God is, and v. 27 and v. 28 both speak of similar things (i.e., commandments dealing with God's covenant), making it easy to equate the commandments mentioned in one verse with the commandments mentioned in the other. Equating the commandments is not logically necessary, however; it is also possible for both sets of commandments to be associated with the covenant, as well as everything else God said to Moses for these forty days and forty nights that was not captured in the commandments of vv. 10-26 -- that is, the ones God instructs Moses to write down in v. 27 -- *or* in the Ten Commandments God Himself inscribes in v. 28. This is in fact how I take things -- that all of it together is associated with the covenant God speaks of.

#### Trying to explain by extended analogy

Let me give a sort of parallel example (that I've purposely made similar to our verses), to perhaps help illustrate things by analogy:

> John said, "healthy snacks include apples, celery, almonds, and hummus." Then John told Paul to write down his suggestions in a shopping list. Paul was with John for 30 minutes in the store. And he wrote down a shopping list with just pears and pecans.

Grammatically speaking, either John or Paul could be the subject of the last sentence, but most people would probably tend to take the subject as Paul, since he is a "closer antecedent," being the subject of the preceding sentence. In isolation (particularly if one interprets Johns "suggestions" as not directly referring to the things mentioned in the first sentence, but a new set of things = prospective rather than retrospective), some people might also take the shopping list of the last sentence to be the same one as the one mentioned by John a couple sentences before. They're both shopping lists containing healthy snacks, right?

To carry forward the analogy, let's say that David tagged along to the store with John and Paul, and the next day told his wife, laughingly, that John (that goofball) had written a shopping list with just two items on it (pears and pecans), because he is so used to his wife doing all the grocery shopping that he didn't even get everything he had needed to when he had first been sent to the store earlier in the day to pick up healthy snacks for the party he and his wife were hosting alongside Paul and his wife, meaning he had to tag along with Paul when Paul went later in the day, in order to buy what he had missed when he had previously gone on his own. The families were splitting hosting duties, so both husbands were sent to buy healthy snacks as their wives prepared the main meal together. John's family would be responsible for some snacks, and Paul's family for other snacks.

When a different friend, James is telling his wife the same story (having heard from the others), he uses the exact wording we started off with. That is:

> John said, "healthy snacks include apples, celery, almonds, and hummus." Then John told Paul to write down his suggestions in a shopping list. Paul was with John for 30 minutes in the store. And he wrote down a shopping list with just pears and pecans.

James' wife, frowning about it later that evening, texts her friend (David's wife from before) because she can't figure out who the "he" is. David's wife laughs and tells her it was John who wrote the tiny shopping list with just the two things in it.

This logically necessitates that Paul wrote a shopping list that contains "apples, celery, almonds, and hummus." He had just been asking John for suggestions on what to buy since he too was a grocery shopping neophyte. (Pfft, men, am I right?)

...Did that help at all? Hopefully it showed how things "work" both grammatically and logically if you interpret things in the way we did in our own situation vis-à-vis Exodus 34:27-28.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [It was in fact the Ten Commandments written upon the stone tablets. Full stop](#4)
- [The text of Exodus 34:27-28](#5)
- [The interpretation of Exodus 34:27-28](#6)
  - [Trying to explain by extended analogy](#7)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>