{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">

    {{ .Content }}

	<br/><br/>
	<!-- <ul> -->
		{{ range (.Sections.ByParam "chapter") }}
			{{ partial "list-item-no-summary" . }}
			<!-- <li><a href="{{ .Permalink }}">{{ .Title }}</a></li> -->
		{{ end }}
	<!-- </ul> -->

</div>

{{ partial "mobile-bar-list-pages.html" . }}

<!-- Site Functions -->
<script src="{{ .Site.BaseURL }}js/site-functions-list-pages.js"></script>

{{ partial "footer.html" . }}