{{ partial "header-list-pages.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">

  {{ .Content }}
  
  <div id="higherLevelPages" style="display:none;">
	  <ul>
		{{ range where (.Data.Pages.ByParam "chapter") "Params.writinglevel" "higher"}}
			<a href="/about-the-site/#content-level"><span class="{{ strings.TrimSuffix "+" .Params.contentlevel }}">{{ .Params.contentlevel }}</span></a>&nbsp;&nbsp;<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
	  </ul>
  </div>
  
  <div id="lowerLevelPages" style="display:none;">
	  <ul>
		{{ range where (.Data.Pages.ByParam "chapter") "Params.writinglevel" "lower"}}
			<a href="/about-the-site/#content-level"><span class="{{ strings.TrimSuffix "+" .Params.contentlevel }}">{{ .Params.contentlevel }}</span></a>&nbsp;&nbsp;<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ end }}
	  </ul>
  </div>
  
</div>

{{ partial "mobile-bar-list-pages.html" . }}

<!-- Site Functions -->
<script src="{{ .Site.BaseURL }}js/site-functions-list-pages.js"></script>

{{ partial "footer.html" . }}