{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">

	{{ if .Truncated }}
	    {{ $summaryLen := sub (len .Summary) 1 }}
	    {{ $onlyContent := substr .Content $summaryLen | safeHTML }}
	    {{ $onlyContent | strings.TrimPrefix ">" | safeHTML }}
	{{ else }}
	    {{ .Content }}
	{{ end }}
  
</div>

{{ partial "mobile-bar-list-pages.html" . }}

<!-- Site Functions -->
<script src="{{ .Site.BaseURL }}js/site-functions-list-pages.js"></script>

{{ partial "footer.html" . }}