<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Great Schism (1054) (src: Ryan Reeves)





---


### Summary


---





### The Orthodox Church

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Q_s9Rcsg5UI?start=12&end=214"
  title="Great Schism (1054)"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points

In modern America, many Protestants may not have been exposed very much to the Orthodox Church, and have certain misimpressions concerning it. Perhaps this is most clearly in view when laypeople equate the Greek Orthodox Church with the Orthodox Church itself, as if they are the same thing. Or perhaps when others label the Orthodox Church as "The Byzantine Church" (referencing the city of Byzantium/Instanbul/Constantinople, from which emperors ruled for centuries after Constantine in the Eastern Empire), as if that geographic area alone represents the whole church (in the same way the Vatican does for Catholics, for example).

What these misimpressions have in common is a lack of appreciation for exactly how much variety the Orthodox Church has:

- In its geographical distribution
- In its language
- In its leadership = the patriarchs who govern the church



---




#### Summary points

The Orthodox Church is actually the second largest "single unit" Church in the world (i.e., the second largest church that self-identifies as one united body), behind the Catholic Church. At the time Dr. Reeves made his video, the number of Orthodox Christians in the world was estimated to be about ~250 million people, alongside ~1.5 to ~1.7 billion Catholics and ~800 million Protestants. (Of course, trying to label all of Protestantism as the same is not quite appropriate past a certain point, given that in so doing you lump together everything from high Church Anglican and Lutheran to Methodist and Presbyterian and Baptist, and even independent non-denominational churches and the like).

At 250 million people, the Orthodox Church is a vitally important Church in the world simply from a sociological perspective, and from one point of view, it actually has outsized importance due to the fact that so much of the Orthodox Church today is located in regions that are quite hostile at times to the Christian Church itself. 



---




#### Summary points

So the natural question to ask based on all this is how did this church come about? How did this branch that calls itself the Orthodox Church come to reside in a place that is different from the Catholic Church?

The main answer is the [Schism of 1054](https://en.wikipedia.org/wiki/East%E2%80%93West_Schism) (aka the East–West Schism, aka the Great Schism). And so in this lesson we are going to be looking at this schism: 

1. What caused it to begin with, and 
2. What implications it has had throughout history, all the way down until today



---




#### Follow-on topics

##### Protestants are greatly outnumbered on the world stage. Non-denominational Evangelical Protestants even more so

##### What percentage of Christians belong to what church group varies strongly by geographic area



---




#### Further discussion



---




### The Schism of 1054

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Q_s9Rcsg5UI?start=215&end=309"
  title="Great Schism (1054)"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points



---




#### Follow-on topics



---




#### Further discussion



---




### Political reasons for the schism

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Q_s9Rcsg5UI?start=308&end=962"
  title="Great Schism (1054)"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points



---




#### Follow-on topics



---




#### Further discussion



---




### Theological reasons for the schism

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Q_s9Rcsg5UI?start=962&end=1561"
  title="Great Schism (1054)"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points



---




#### Follow-on topics



---




#### Further discussion



---




### Ego-based reasons for the schism

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/Q_s9Rcsg5UI?start=1561&end=1822"
  title="Great Schism (1054)"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points



---




#### Follow-on topics



---




#### Further discussion





<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>