<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## The ancient Greek world (src: Ryan Reeves)





---


### Summary


---





### Introduction: the Greek world

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/qzStS_NSs-s?start=0"
  title="The Ancient Greek World"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points and follow-on topics

Summary points:

- In discussing "the influence of the Greco-Roman world on the early Church", it can be easy to only end up talking about the Roman half of the equation, since the Romans were in power at the time Jesus lived, and the time the New Testament was written.
  - But much of what the Romans did was influenced by the earlier actions of the Greeks.

Follow-on topics:

- Cultures do not exist in a vacuum. This is an important fact when it comes to us properly understanding and interpreting the Bible, which was written in the context of several ancient cultures. Studying these ancient cultures can help us better understand the Bible.



---




#### Further discussion



---




### History of Macedonian expansion, Alexander the Great, and Alexander's conquests

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/qzStS_NSs-s?start=0"
  title="The Ancient Greek World"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points and follow-on topics

Summary points:

- The Greeks and the Macedonians at times had differing views on things.
  - Macedonia followed a "normal kingdom style" of politics, while Greek city-states had democracies and oligarchies. Accountability for rulers.
- First conquests of Phillip II, then his son Alexander.
- After victory in Persia, Alexander takes on some of the Persian ideas of rulers being divine.
- After Alexander's death, the empire is divided amongst his generals.
- Expansion of Greek culture: they exported their culture, not citizenship, *per se*. Contrast the later approach of the Romans.

Follow-on topics:

- Greek culture spread all over the eastern Mediterranean as a result of the military conquests of Alexander, and the emphasis the Greeks placed upon exporting their culture. Greek become the so-called *lingua-franca* of the entire Eastern Mediterranean, meaning it was the primary language of trade and cross-cultural communication.



---




#### Further discussion



---




### The biblical world and Greek expansion

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/qzStS_NSs-s?start=0"
  title="The Ancient Greek World"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points and follow-on topics

Summary points:

- We went through all the stuff about Greek expansion to get here, where we talk about how all of this affects the Biblical world.
- Greek culture shaped Jewish ideas in the second temple era (c. 6th century BC to 70 AD, when Jerusalem was eventually destroyed after the repeated military campaigns of Vespasian and Titus).
- The process of Jews adopting some parts of the Greek world is known as Jewish Hellenization.
- Translation of the Old Testament into Greek: the Septuagint (LXX). Has big impact on the Jewish world, since Greek was more familiar to some than Hebrew, especially for Jews living outside of Judea.

Follow-on topics:

- God's superintendence of the spread of the gospel by arranging history such that it could spread throughout the massive number of Greek-speaking people in the Mediterranean.
  - The NT being written in Greek allowed for this harnessing of the results of Hellenization. In this we can see God's Omniscience and perfect organization of history.



---




#### Further discussion



---




### Jewish resistance to Hellenization

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/qzStS_NSs-s?start=0"
  title="The Ancient Greek World"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points and follow-on topics

Summary points:

- Jewish resistance comes to a head in the Maccabean revolt of 168-167 BC
- Antiochus IV attempts to force religious conformity
  - Blaming all societal ills on the social group that does not sacrifice to the pagan gods mirrors later Roman persecution of Christians on the same grounds.
- The Maccabees wage a war of Anti-Hellenization against the Seleucid empire. Some of the record of this time comes from two books in the Apocrypha: 1 and 2 Maccabees.
- The Maccabees win a decisive victory, and cleanse the temple.
  - Related to the origins of Hanukah in Jewish culture.

Follow-on topics:

- Ancient societies (including the Greeks and Romans) often saw religion as a means of enforcing societal cohesion—as a means of establishing a shared social fabric. Those who did not fall into line and conform faced severe consequences. Thinking along these lines, consider how Christianity's rapid spread throughout the Greco-Roman world demonstrates God's hand in history. Rather than getting stamped out by those trying to enforce conformity to Pagan religion, Christianity instead flourished despite such pressures.



---




#### Further discussion



---




### Conclusions

#### Video clip from Ryan Reeves


<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/qzStS_NSs-s?start=0"
  title="The Ancient Greek World"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>
  





---




#### Summary points and follow-on topics

Summary points:

- Just because the Maccabbes won a decisive victory did not mean the pressures to Hellenize in any way subsided.
- Tension between Jews open to Hellenization and those who were not is actually mentioned in scripture itself:
  - Acts 6:1 -- "...a complaint arose by the Greek-speaking Jews against the Hebrew-speaking Jews..."

Follow-on topics:

- Had you ever considered how the tension between Jews in Judea and those in Asia Minor and other Greek-speaking parts of the Mediterranean shaped the early Church? Now that you've heard of it, if you look for it, you will actually see this in the background in multiple places in the NT. This is an excellent example of how studying things like the topics of this video can help us deepen our understanding of the Bible.
- There was, of course, also tension between Greek Gentiles and Jews. One might compare Acts 15.



---




#### Further discussion






<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>