<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link
  rel="stylesheet"
  href="https://unpkg.com/littlefoot/dist/littlefoot.css"
/>
  <style>
   @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
   @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

   body { 
    font-family: 'Georgia';
   }

   ::selection{
    background-color: #fff6bd;
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana';
    font-weight: bold;
   }

   h2 {
    display: block;
    font-size: 30px !important;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }

   /* Style most headers the same across slides, for visual consistency */
   h3, h4, h5, h6 {
    display: block;
    font-size: 18px !important;
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }

   /*
    Don't need extra padding when headers aren't in a special content section
    with the special content section name in a strong tag (when the header is
    the very first thing in the sepcial content section div). Too much space otherwise
   */
   .special-content h3:first-child,
   .special-content h4:first-child,
   .special-content h5:first-child,
   .special-content h6:first-child
    {
      margin-top: 0px;
    }

   .remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
   }
   
   .footer {
    position: absolute;
    bottom: 5px;
    right: 50px;
    height: 40px;
    width: 800px;
    color: #006400;
   }

   a {
    color: #3b8bba;
    text-decoration: none;
  }

  table, th, td {
    border: 1px solid black;
  }

  /* Special content sections */

  .special-content {
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
  }

  .special-content >  .special-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .special-content > strong {
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    margin-top: -15px;
  }

  .special-content.cautionary-note {
    background: #ffe6e6;
  }

  .special-content.technical-discussion {
    background: #ffe0cc;
  }

  .special-content.sidenote {
    background: #fffae6;
  }

  .special-content.application {
    background: #ebfaeb;
  }

  .special-content.note {
	  background: #e6ffff
  }

  .special-content.indirect-reasoning {
    background: #e6f5ff;
  }

  .special-content.example {
    background: #f2e6ff;
  }

  .special-content.post-hoc-note {
    background: #ffe6f2;
  }

  .special-content.quote {
    background: #e6e6e6;
  }

  .special-content.scripture {
    background: #f2e6d9;
  }


  /* Littlefoot footnotes */

  .littlefoot__button {
    background-color: #dddddd;
    color: #777777;
    height: 1rem;
    padding: 0rem 0.8rem;
    margin: 0rem 0.1rem;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center; 
  }
  </style>
	<script>
		var refTagger = {
			settings: {
				addLogosLink: true,
				bibleVersion: "NASB",
				convertHyperlinks: true,
				logosLinkIcon: "light",			
				socialSharing: [],
				tagChapters: true
			}
		};
	</script>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Did Moses Do Wrong in Throwing the First Set of Tablets?



---


### Summary

In the Exodus 34 passage that the Workbook drew from this week, Moses brings a second set of stone tablets to God to write the Ten Commandments upon again. The first set of tablets was broken by Moses in Exodus 32:19, when "his anger was kindled" after he came upon the Israelites dancing around and worshiping the golden calf.

This page will examine whether this destruction of the first set of tablets reflects poorly upon Moses or not, insofar as it is actually something that we might be able to know.

{{% content %}}
---


#### Outline

- [A simple formulation of the question](#3)
- [On the nature of Moses' apparent anger](#4)
  - [There is no such thing as "righteous anger" in the sense some people think there is. But having emotions coursing through our veins is not completely within our conscious control, so...?](#5)
  - [To summarize](#6)
  - [The text of Exodus 32:19, and what it can tell us about this situation of Moses breaking the tablets](#7)
- [So if we can't make out details about his anger from the text itself, what else can we use to determine whether or not the throwing of the tablets was problematic?](#8)
  - [The fact that God does not ever call Moses out for the destruction of the tablets](#9)
  - [The symbolism behind the tablets being destroyed](#10)
  - [Moses' apparent closeness to God throughout the events of Exodus 32-34](#11)
- [Conclusions](#12)

---


### A simple formulation of the question

Consider Exodus 32:16 and Exodus 32:19.

In Exodus 32, Moses receives tablets written upon by God himself, containing the Ten Commandments. (On that identification, [see here](/longer-topical-studies/central-baptist-winter-2022-2023-how-to-discern-the-voice-of-god/does-the-voice-align-with-gods-character/what-is-going-on-in-exodus-34-27-28/#it-was-in-fact-the-ten-commandments-written-upon-the-stone-tablets-full-stop)). However, when "his anger was kindled" after he came upon the Israelites dancing around and worshiping the golden calf, Moses threw them, and they were broken.

Put simply, is this action by Moses disrespectful toward God, given that these tablets came directly from the hand of God? Did Moses lose his head in anger, and destroy God's gift?

We'll be examining this question from several angles, and ultimately conclude that while it's hard to be completely certain and dogmatic, it is likely that if this itself were truly such an affront against God, it would probably have been made clear somehow in the text.

### On the nature of Moses' apparent anger

#### There is no such thing as "righteous anger" in the sense some people think there is. But having emotions coursing through our veins is not completely within our conscious control, so...?

This is not at all a simple concept to understand; it is incredibly easy to tie oneself into knots trying to wrap one's head around where the all the lines are here. There are several reasons for this (although these are probably not the only ones/an exhaustive list):

- Ephesians 4:26 is commonly misunderstood and misinterpreted
- The cleansings of the temple by Jesus are commonly misportrayed in popular imagination. Jesus may have overturned the tables of the money changers and driven them out of the temple -- and the text does mention zeal, it is true -- but nowhere do we have any indication that Jesus was acting out of overflowing anger. That is simply an incorrect assumption that has been widely propagated over time.
- Another thing commonly misunderstood is that the "Wrath of God" is so-called "anthropopathism" -- that is, an attributing of human emotions to God to help us better understand Him, even though God is not actually human with human emotions. This means that using the argument "but God gets angry, and God obviously doesn't sin in doing so because God cannot sin, therefore it is possible to be angry without sinning, QED" is not quite what it seems, since God does not actually "get angry," *per se*.

The following links (some from me, some from [Ichthys](https://ichthys.com/)) may hopefully help explain some of the complexities in all these matters:

- [On Ephesians 4:26](https://ichthys.com/mail-In-your-Anger-do-not-Sin.htm), and [More on Ephesians 4:26](/questions-and-answers/self-generated/does-ephesians-4-26-teach-that-there-is-a-form-of-righteous-anger/)
- [On the Wrath of God and anthropopathism](https://ichthys.com/mail-Sin-Atonement-ForgivenessII.htm#anthropathism)
- [More on anger and anthropopathism](https://ichthys.com/mail-anger-anthropopathism-eternity.htm)
- [More on anger as a sin](/questions-and-answers/reader-correspondence/on-the-emotion-of-anger/)

If all that is too much, a somewhat shorter summary version will now follow. First of all, we have directly in scripture that "man's anger does not bring about the righteousness that God desires" (James 1:20). There is no qualification there -- no "man's *improper* anger" (as opposed to "non-sinful anger," whatever exactly people mean by that).

Anger is an emotion like other emotions we have. We humans do not always have the good fortune of being able to completely control what feelings swell within us. What we *are* always capable of, however, is choosing how we respond to them.

Let us take lust as a different (but basically parallel) example. If a man sees a beautiful woman walk by, he may -- not by such conscious choice, but just inherently -- have his physical body (the flesh, the sin nature) respond in a certain way, as a consequence of her beauty. In his mind may come the realization "Wow, she is absolutely stunning." Has he sinned? Let me rephrase that: is temptation sin?

Temptation is not sin. But giving into it (in any way whatsoever) most assuredly is. If a man indulges his attraction -- not just acknowledging it, but courting it, even if just in his heart -- lines have been crossed. And so too here; anger is really no different. If a flare of intense displeasure shoots through us, the ball is put in our court. What we do after that makes all the difference.

In this way, it is in fact true that it is possible for people to have the physiological responses associated with anger (eyes afire, nostrils flaring, etc.) while not yet actually falling prey to the sin of anger. Their heart is being bombarded with "anger temptation signals," but so long as they keep a lid on it -- so long as they keep the reigns firmly in their own hands, rather than letting the emotion take control -- things do not cross from temptation into sin. The physical symptoms are there though -- scientists would no doubt call you "angry" if you register the elevated blood pressure and elevated heart rate and so on associated with the biological state. But when intense emotion swells within us, these responses happen whether we consciously choose them or not (to a degree -- what we think *does* very much matter too, as it affects the intensity of our responses and how quickly we can get them under control).

For example, I imagine most of us would have boiling blood in confronting exceptionally gross evil. Be it the sexual abuse of underage girls, the gross oppression of orphaned refugees, or whatever other morally bankrupt crimes one might consider, coming face to face with the perpetrators is not likely to happen without our bodies reacting strongly, in a way that is largely outside our conscious purview. Where the rubber hits the road is what happens after that. Do we deck them in the face, beat them to a pulp? Do we yell and shout and rage? Or do we keep ourselves more in check?

Whatever we do, it must be entirely under the control of the Holy Spirit. And completely losing our temper means we are not under His control -- full stop. There are various basically-synonymous expressions for this phenomenon:

- "Losing it"
- "Losing one's cool"
- "Flying off the handle"
- "Snapping"
- "Exploding" or "blowing up"
- "Seeing red"

In all cases, the fundamental aspect is loss of control. If we lose our temper, we are not in control of our thoughts, words, and actions, but anger is. And there is no way to lose control without sinning in the process.

While this is perhaps popularly viewed as a black and white phenomenon (e.g., the difference between someone remaining silent vs. losing it by shouting and cussing another out), it is in truth really more a spectrum, and that's what makes evaluations here so thorny, and why giving even an inch to the emotion of anger is so dangerous. Thinking, speaking, or acting "from anger" in even the smallest aspect is still loss of control (and therefore problematic), even if it is more localized, and therefore not as bad is it "could have been."

Why all this gets so confusing is because it probably sounds an awful lot like I am arguing for a concept that some would wish to call "righteous anger" -- along the lines that feelings of anger you do not consciously indulge are alright/not sinful, since we can't fully control them even if we completely wanted to. The reason I am so very skittish of assenting to that label is that that label always strikes me as fishing for an excuse. Positionally, we should strive to not feed the beast *whatsoever*, as much as it depends upon us. Giving into feelings of anger "because it is possible to experience anger righteously" is not much different from "lighting a cigarette but not inhaling." It is playing with fire, and rife with rationalization.

#### To summarize

- Our bodies' physical reaction to events is partially (although not completely -- it is complicated in the way the psycho-physical mind-body interface always is, with our thoughts and mental state affecting our physical biology and vice versa) outside of our control. This means we may register physiological signs of anger when emotion swells within us in response to intense external stimuli, without necessarily consciously choosing anger in a manner that would indicate sin.
- Giving into anger means thinking, speaking, or acting "from it." This means we have lost control (even if only a bit) -- putting anger in the driver's seat, rather than retaining control ourselves. And *that* is always sin.
- It is impossible to "use anger as a motivator" or nurse it within one's heart or whatever without courting it consciously. This is why making noises about "righteous anger" is dangerous, given what people usually mean by that. Taking fire into one's lap is never the right answer.

#### The text of Exodus 32:19, and what it can tell us about this situation of Moses breaking the tablets

<div class="special-content technical-discussion">
<strong>
<a href="/site/content-features/#technical-discussion">Technical discussion</a>
</strong>

<p>Exodus 32:19 has וַיִּֽחַר־אַף (<em>vayyihar ap</em>), which we translate along the line of "his [Moses'] anger was kindled." <a href="https://www.blueletterbible.org/lexicon/h639/esv/wlc/0-1/">אַף</a> is rather commonly the subject of some form of <a href="https://www.blueletterbible.org/lexicon/h2734/esv/wlc/0-1/">חָרָה</a> (like וַיִּֽחַר, which is what is used here):</p>

<div class="special-content quote">
<strong>
<a href="/site/content-features/#quotes">Quote</a> from <a href="https://www.blueletterbible.org/lexicon/h2734/esv/wlc/0-1/">BDB Hebrew Lexicon</a>
</strong>

<p><strong>חָרָה</strong></p>

<p>חרה אף (one's) anger was kindled, burned Genesis 39:19; Numbers 22:27 (J), Exodus 32:19, 22 (JE), Judges 9:30; Judges 14:19; 1 Samuel 11:6; Job 32:2, 5; with בְּ against Genesis 30:2 (E), Genesis 44:18 (J), 1 Samuel 17:28; 1 Samuel 20:30; 2 Samuel 12:5; 2 Chronicles 25:10; Psalm 124:3; Job 32:2, 3; with אֶל Numbers 24:10 (E).</p>

</div>


<p>If you want to look up some of those references, for your convenience:</p>


<iframe src="https://www.STEPBible.org/?q=version=THOT|reference=Genesis.39.19|reference=Numbers.22.27|reference=Exodus.32.19|reference=Exodus.32.22|reference=Judges.9.30|reference=Judges.14.19|reference=1Samuel.11.6|reference=Job.32.2|reference=Job.32.5|reference=Genesis.30.2|reference=Genesis.44.18|reference=1Samuel.17.28|reference=1Samuel.20.30|reference=2Samuel.12.5|reference=2Chronicles.25.10|reference=Psalm.124.3|reference=Job.32.2|reference=Job.32.3|reference=Numbers.24.10&options=VUN" width="100%" height="80%"></iframe>

</div>


Per our above discussion, the question is whether the anger kindling within Moses here is something that he consciously chose or not. Per the grammar, this is not an active construct (i.e., it does not read "he kindled his anger", but instead "his anger was kindled"). But did Moses at all "fan the flames" within his heart?

Ultimately, we really can't tell from the text itself. Since it is so difficult for humans to experience intense negative emotional stimuli with perfect application, it is perhaps reasonable to assume that maybe Moses let all this get to him a bit more than he should of. But that is still a far cry from taking the position that he completely lost his cool and threw a hissy fit, contrary to propriety. Could you take the passage that way? Maybe. But you could just as well *not* take it that way. Either seems to me to be possibly textually.

### So if we can't make out details about his anger from the text itself, what else can we use to determine whether or not the throwing of the tablets was problematic?

Most of the rest of our discussion here will be a bit indirect, and decidedly less than dogmatic.

#### The fact that God does not ever call Moses out for the destruction of the tablets

Between when Moses broke the first set of tablets in Exodus 32:19 and when the process of acquiring the second set of tablets was started in Exodus 34:1ff., there is no statement like "And the Lord was angry with Moses, given that he had destroyed the tablets upon which the Lord Himself had written."

In fact, while God was very displeased with the Israelites (and Moses was very displeased with them too), there doesn't seem to be a single statement that suggests that God was angry with *Moses* throughout the events of Exodus 32-34. Of course, absence of evidence of God's displeasure here is not *necessarily* evidence of absence, but it is nonetheless a reasonably strong inferential argument in favor of taking the position that the breaking of the tablets here was not problematic.

We have other instances of God rebuking Moses, strengthening the argument further (i.e., because if God corrected Moses in these other contexts when He did wrong, why would He uniquely not do the same here?).

In Exodus 4:14ff., God becomes displeased with Moses due to his reluctance to lead due to his lack of eloquence. God most certainly lets Moses know then.

And perhaps an even better cross-reference for the present situation -- since it also involves Moses being intensely displeased with the Israelites, and "doing something" in that state -- is Numbers 20:1-13. The passage doesn't say it directly, but by inference (cf. "Listen you rebels!" in v. 10), Moses' temper had flared here, frustration with the whiny, rebellious people overcoming him. Rather than following the exact instruction of the Lord as given in vv. 7-8 (that is, speaking to the rock), Moses instead struck the rock with his staff (v. 11).

This action alone -- one act of disobedience -- is enough for God to bar Moses from entering the promised land (v. 12 -- also cf. Deuteronomy 3:23-28)! The exegesis as to why this was so serious and meriting such severe punishment is somewhat involved and we won't get into it here, but the point is that God certainly did not hold back in punishing Moses when he acted improperly.

We might note that nothing of the sort happened in Exodus 17:1-7 -- a very similar story of the people whining due to lack of water, God telling Moses how to receive water from a rock, and then them subsequently getting water. But unlike in Numbers 20 when God commanded Moses to speak to the rock (but Moses struck it instead, against God's direction), here in Exodus 17 God actually did command Moses to strike the rock. And when Moses did, God did not rebuke him; he had obeyed God.

The upshot for us is that these other examples (Exodus 4:14ff., Numbers 20:1-13) provide indirect evidence that Moses did not do wrong in Exodus 32:19 by throwing the tablets (or at least did not do wrong enough for a rebuke relating to it to end up in scripture). Can we be certain? Not really. But indirect evidence is evidence too.

We might also consider Exodus 32:31-35. The only sin mentioned is that of the people. This would have been a very logical place for Moses to receive discipline or rebuke from the Lord if he too had done wrong, but there is nothing mentioned here. Arguably, vv. 32-33 is the strongest, for if Moses really had sinned against the Lord, it would be strange for this exchange to go in this manner were that the case.

#### The symbolism behind the tablets being destroyed

Here's an argument someone might use to argue that Moses breaking the tablets was a bad thing:

- Why would it be God's desire for the tablets to be broken, then needing to be remade again?
- Anything that contravenes God's desire is wrong/sinful
- Therefore Moses did wrong in Exodus 32:19

Whether or not this argument means anything rests entirely upon the first premise, for the second premise is obviously true, in some form at any rate (cf. Romans 14:23).

Now, we don't necessarily have to prove that it *was* God's Will for the tablets to be broken to make the situation less than black and white. Instead, all we have to show is that it *might have been* His Will.

To that end, consider that there is dead obvious symbolism in the tablets being destroyed when the Israelites turned away from God in their actions with the golden calf. If the tablets symbolically represented the covenant, and the Israelites severed the covenant right from the get go here in their idolatry, then the tablets being shattered makes perfect sense. One might even go so far as to say that it would be odd if the covenant God was giving them (and the tablets symbolizing it) stayed intact given what went down. (Although of course the covenant stayed in place many later times the Israelites turned to idolatry, so there is that).

We needn't be dogmatic about whether the tablets shattering was truly supposed to be understood in this symbolic way. Personally, I find it very likely, but I don't teach it dogmatically. The point is that it is perfectly logical and *could* be the case, which means the first premise of argument above could potentially be false, making the conclusion less than certain.

#### Moses' apparent closeness to God throughout the events of Exodus 32-34

Reading Exodus 32-34 ought to make it clear that Moses was close to God all throughout this period.

Perhaps the clearest verses we have are Exodus 33:11, 17. If God spoke to Moses "face to face, as one speaks to a friend" (v. 11) and tells Moses that He is "pleased with him, and knows him by name" (v. 17), then on what basis would we we take the destruction of the tablets in Exodus 32:19 as being problematic/some form of serious sin? It just doesn't fit the immediate context here.

God showing Moses His glory in Exodus 33:12-23 is an extraordinary blessing given to Moses -- far from a minor thing. Again, this blessing simply doesn't fit if Moses had just previously done something substantially wrong, such that he would have angered God.

### Conclusions

While I do not believe we can know the exact nature of what happened in Exodus 32:19 and Moses' internal heart state at that time, I do think given the weight of evidence, we can be reasonably confident in saying that Moses' throwing of the first set of tablets was not some sort of grave slap in the face to God... certainly not like the Israelites' idolatry was, at any rate. Moses was outraged at the Israelites awful conduct, just like God was. This was in fact an appropriate response. 

My own personal hypothesis, in line with the [above general outline of the mechanics of anger](/longer-topical-studies/central-baptist-winter-2022-2023-how-to-discern-the-voice-of-god/does-the-voice-align-with-gods-character/did-moses-do-wrong-in-throwing-the-first-set-of-tablets/#there-is-no-such-thing-as-righteous-anger-in-the-sense-some-people-think-there-is-but-having-emotions-coursing-through-our-veins-is-not-completely-within-our-conscious-control-so), is that Moses had all the physiological responses to the situation that one might expect ("steam coming out of his ears," so to speak), given the seriousness of the Israelites' sin. But as we discussed in that linked section, having fire in your veins does not necessarily mean you sin. It's what you do with all those feelings that matters.

To some extent, we shouldn't get overly fixated on trying to figure out whether actions taken by people in narrative parts of the Bible (in the Old Testament and New Testament both) were right or wrong, and past that, how right or how wrong. Some of that is between those folks and God, and only knowable by those parties.

It's not bad to ask questions though, trying to puzzle out what happened and why; it can enrich our own understanding of the narrative. Hopefully this page has been helpful at least along those lines.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [A simple formulation of the question](#3)
- [On the nature of Moses' apparent anger](#4)
  - [There is no such thing as "righteous anger" in the sense some people think there is. But having emotions coursing through our veins is not completely within our conscious control, so...?](#5)
  - [To summarize](#6)
  - [The text of Exodus 32:19, and what it can tell us about this situation of Moses breaking the tablets](#7)
- [So if we can't make out details about his anger from the text itself, what else can we use to determine whether or not the throwing of the tablets was problematic?](#8)
  - [The fact that God does not ever call Moses out for the destruction of the tablets](#9)
  - [The symbolism behind the tablets being destroyed](#10)
  - [Moses' apparent closeness to God throughout the events of Exodus 32-34](#11)
- [Conclusions](#12)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>