/* From blackburn.css */

::-webkit-scrollbar {
  -webkit-overflow-scrolling: auto;
  -webkit-appearance: none;
  width: 15px;
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  -webkit-overflow-scrolling: auto;
  border-radius: 4px;
  background-color: #a6a6a6;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Footer with display toggles */

.mobile-bar {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #191818;
  color: #999;
  display: flex;
}

#menu-div, #toc-div, #pgdn-div, #pgup-div {
  flex: 1 1 0;
  text-align: center;
  border: 1px solid #999;
  padding: 10px 0px;
}

#menu-div a, #toc-div a, #pgdn-div a, #pgup-div a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 900;
  color: #999;
  text-decoration: none;
}

@media (min-width: 48em) {
  .mobile-bar {
	display: none;
  }
}

@media (max-width: 48em) {
  .mobile-bar {
	display: flex;
  }
}


/* From sidemenu.css */


/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 190px; /* left col width "#menu" */
    left: 0;
}

#menu {
	left: 190px;
	width: 190px;
}

#menu .pure-menu {
  font-size: 0.9em;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
	padding-bottom: 30px;
    margin-left: -190px; /* "#menu" width */
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999; /* so the menu or its navicon stays above all content */
    background-color: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }
	
	#menu i {
		display: inline-block;
		margin-right: 0.2em;
	}

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
		color: #999900;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
			color: #999900;
			text-decoration: none;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }



/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 190px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
		display: block;
        left: 190px;
    }
}

@media (max-width: 48em) {
    #layout {
		padding-left: 0px;
		left: 0px;
	}
	
	#menu {
		/* to prevent mobile bar from blocking */
		height: calc(100vh - 50px);
		margin-bottom: 50px;
		width: 80%;
        display: none;
		left: 0px;
    }
	
	#menu a {
        border-bottom: 1px solid #999;
        padding: 1.4em 0 1.4em 0.6em;
    }
	
	#menu .pure-menu ul > li:first-child {
		border-top: 2px solid #999;
	}
}


