{{ partial "header-list-pages.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
</div>
<div class="content">

  {{ if .Truncated }}
      {{ $summaryLen := sub (len .Summary) 1 }}
      {{ $onlyContent := substr .Content $summaryLen | safeHTML }}
      {{ $onlyContent | strings.TrimPrefix ">" | safeHTML }}
  {{ else }}
      {{ .Content }}
  {{ end }}

  {{ range .Data.Pages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
  {{ range .Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
  {{ end }}
</div>

{{ partial "mobile-bar-list-pages.html" . }}

<!-- Site Functions -->
<script src="{{ .Site.BaseURL }}js/site-functions-list-pages.js"></script>

{{ partial "footer.html" . }}
