{{ partial "header-content.html" . }}

<div class="header">
  <h1 data-toc-skip>{{ .Title }}</h1>
  <h2 data-toc-skip>{{ .Description }}</h2>
</div>
<div class="content">
	<div class="container">
		{{ partial "post_meta.html" . }}
		{{ if .Truncated }}
		    {{ $summaryLen := sub (len .Summary) 1 }}
		    {{ $onlyContent := substr .Content $summaryLen | safeHTML }}
		    {{ $onlyContent | strings.TrimPrefix ">" | safeHTML }}
		{{ else }}
		    {{ .Content }}
		{{ end }}
		{{ partial "prev_next_post.html" . }}
	</div>
</div>

{{ partial "mobile-bar.html" . }}

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Site Functions -->
<script src="{{ .Site.BaseURL }}js/site-functions.js"></script>

{{ partial "footer.html" . }}
