<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Romans 2:1-3 - How should we make our judgments?





---


### Summary

According to this passage (as well as others like Matthew 7:1-5; Luke 6:37-42), we are to avoid self-righteous hypocritical condemnation of others. However, this does not mean that we are not to evaluate the behavior of others against the standards of the Bible in an impartial fashion---in order to exercise proper spiritual discernment, like we are called to do as believers (cf. Matthew 10:16). In fact, failing to apply ourselves in such a fashion out of fear of offending others is shirking our duty as salt and light in the world. The truth is the truth, and we have nothing to be ashamed of in simply sticking with it, wherever it leads.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [The basic idea](#4)
- [You have to know the truth before you can hold yourself and others to it!](#5)
- [Psychology's idea of "projection"](#6)
- [Tolerating evil is cowardly, and "avoiding legalism" does not mean we cannot condemn the sin of others](#7)

---




### The basic idea

The type of judgment that we are called to refrain from as Christians is the hypocritical sort in which we look down upon others in our heart, while yet doing the very same things.

The Bible is clear in this passage as well as others (cf. Matthew 7:1-5; Luke 6:37-42) that the standard that we use to judge others is the standard that will be applied to us in judgment.

There are extremes to be avoided here. On the one hand, the Bible is objective truth that we need not apologize for, and pointing out that people's behavior is not in accordance with the scriptures is not "judgment" in the sense that these passages call out. In fact, failing to stand up for the truth out of fear of hurting someone's feelings is the very opposite of loving. Would you let your beloved child continue on in dangerous behaviors without correcting them for their own good? We likewise need to look out for our brothers and sisters in Christ by not holding our peace when in fact they do need to be lovingly told that they may be on a dangerous path.

On the other hand, human arrogance makes it very easy for self-righteousness to take hold in our hearts, and blind us to our own sinfulness. As soon as we cross that line in our hearts where we go from impartially evaluating the facts of a situation in a manner we might term "evaluative discernment" to instead presuming to look down on others in a manner we might term "self-righteous condemnation", that is the instant that we run afoul of these passages.

It is nonsense to say that we cannot evaluate the behavior of those around us in terms of whether or not it conforms with the standards scripture lays out for us---whether or not it conforms with the words of the Bible. That is part of our job in being "wise as serpents" (Matthew 10:16), especially since we need to be able to determine "bad company" so as to avoid it (1 Corinthians 15:33). But at the same time, we cannot pretend to know all of the circumstances of others, much less their heart intentions. And it is for these reasons that going much further than simply comparing the behavior of others against the Bible---under the power and guidance of the Holy Spirit---puts us at great risk for legalistic hypocritical judgment, the thing this passage tells us to assiduously avoid.

### You have to know the truth before you can hold yourself and others to it!

One point that often goes overlooked and unappreciated in regards to these matters, in my opinion, is the fact that to be able to accurately know what standard we must hold ourselves and others to, we have to intensely study the Bible. There is absolutely no substitute.

For us to do our jobs properly speaking truth into the lives of others, in other words, we actually have to know the truth first! This might seem like an overly pedestrian point to make, but it is of the utmost importance.

It is not only a matter of knowing what things the Bible might prohibit, but also knowing what things it does not prohibit in a black and white sort of way. One might compare Prohibition in America during the 1920s and thereabouts. The Bible does not outright ban alcohol, although it does condemn drunkenness. When some groups of Christians were insisting that alcohol itself was sinful and therefore needed to be banned---and more to the point in our context here, were looking down their noses at others who partook to any degree whatsoever---well, their legalism came about primarily as a result of being ignorant of the scriptures, which never make any such rule concerning alcohol.

### Psychology's idea of "projection"

Psychology has a concept it calls "[projection](https://en.wikipedia.org/wiki/Psychological_projection)". The phenomenon goes something like this: person A goes on a tirade against topic X. Person B then looks very confused because they they know that person A in fact does X themselves.

Sometimes the people who most loudly and passionately criticize something are the ones who struggle with it the most, and their overly-impassioned criticisms are more or less a psychological defense mechanism. It may seem very strange and irrational when observing such situations from the outside, yet human self-deception can be decidedly hard to spot within oneself.

One might also compare the famous quote from Shakespeare's Hamlet: "[The lady doth protest too much, methinks](https://en.wikipedia.org/wiki/The_lady_doth_protest_too_much,_methinks)."

At any rate, this is the very phenomenon that the Bible warns us against here. Verse 2 says that God's judgment is based upon truth---which means that God will evaluate us not based upon what standards come out of our mouths, but how we actually behave. So if we condemn others for some behavior while yet doing the same thing ourselves, verse 3 makes it clear that we will not escape God's judgment for such behavior, even for all our condemnation of its sinfulness with our lips.

### Tolerating evil is cowardly, and "avoiding legalism" does not mean we cannot condemn the sin of others

Remember how Romans 1:32 speaks against the practice of approving evil?

Yeah, that verse literally comes right before the ones we are talking about here ([as mentioned before](/verse-by-verse-studies/romans/romans-2/romans-2-1-what-is-the-sense-of-the-therefore-in-this-verse/), there were no chapter or verse divisions in the original text). The idea then that "judge not" means that we are not supposed to ever stand our ground on right and wrong is therefore complete nonsense.

Our culture at present---in 21st-century America---is vehemently opposed to taking hard and fast moral positions, and especially calling out the behavior of others based upon them. But even as we make efforts to guard against hypocritical legalism, we must also make efforts to speak up when we need to. Not because we ourselves are without sin or qualified on our own authority to pass judgment upon other humans, but because we are servants of a God who has all the authority in the world to do so, and He calls us to stand up for the truth as good Christian soldiers.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [The basic idea](#4)
- [You have to know the truth before you can hold yourself and others to it!](#5)
- [Psychology's idea of "projection"](#6)
- [Tolerating evil is cowardly, and "avoiding legalism" does not mean we cannot condemn the sin of others](#7)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>