<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Scripture Is Clear That We Are to Honor and Obey Our Parents





---


### Summary

There are certain areas of application in the Christian walk that almost all people will likely find themselves pondering at some point in their lives, and one such area is making sense of the duty that we as Christians owe our parents, given that their ideas and our ideas will likely not always line up with 100% accuracy. Even though the indignant teenage rebel would probably like to hear otherwise, the Bible is actually clearer on this one than many other important matters of application: we are duty-bound to not only honor our parents, but also to obey them. This first lesson examines the scriptural support for these assertions -- sets out to show the high degree of regard we ought to have for our parents and their guidance. Future lessons will inject a bit more nuance into the relationship, making things less clear-cut than the blind obedience that might otherwise reign unopposed as the proper course of action.

<!-- ## Timestamps {#timestamps} -->



{{% content %}}
---


#### Outline

- [Q: I don't agree with what my parents want for me. Do I need to do exactly what they say?](#4)
- [Some direct quotes from scripture: honoring parents](#5)
- [Some direct quotes from scripture: obeying parents](#6)

---




### Q: I don't agree with what my parents want for me. Do I need to do exactly what they say?

So, I know one of the ten commandments is to honor my parents, but they drive me crazy and want to pick out my life for me, even though I don't want what they want for me. What should I do? Do I need to submit myself to them and do exactly as they say? Or can I "honor" them while still choosing my own path?

### Some direct quotes from scripture: honoring parents



<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Exodus.20.12|reference=Proverbs.1.8-9|reference=Proverbs.20.20|reference=Proverbs.23.22|reference=Proverbs.30.17&options=VN" width="100%" height="80%"></iframe>



---




### Some direct quotes from scripture: honoring parents

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Ephesians.6.1-3&options=VN" width="100%" height="300px"></iframe>



---




### Some direct quotes from scripture: honoring parents

The Bible is very clear about the importance of giving our parents the respect they are due. It is never presented as "optional" or "just when we feel like it and it suits our purposes."

Under the Law, arrogant disobedience of one's parents was grounds for execution (the people of Israel, as God's nation, were called out for exemplary conduct as bearers of an unattainably perfect standard).



---




### Some direct quotes from scripture: honoring parents

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=Leviticus.20.9|reference=Deuteronomy.21.18-21&options=VN" width="100%" height="80%"></iframe>



---




### Some direct quotes from scripture: obeying parents



Clearly, then, these things are not to be trivialized or taken lightly. In fact, it is more than just some vague notion of honor or respect that we are called to give our parents -- we are called to obey them:

<div class="special-content scripture">
<strong>Ephesians 6:1-3 | NIV84</strong>
<p><strong>1</strong> Children, <strong><em>obey your parents in the Lord</em></strong>, for this is right. <strong>2</strong> “Honor your father and mother”—which is the first commandment with a promise— <strong>3</strong> “that it may go well with you and that you may enjoy long life on the earth.”</p>
</div>


<div class="special-content scripture">
<strong>Ephesians 6:1-3 | NIrV</strong>
<p><strong>1</strong> Children, <strong><em>obey your parents as believers in the Lord</em></strong>. Obey them because it’s the right thing to do. <strong>2</strong> Scripture says, “Honor your father and mother.” That is the first commandment that has a promise. <strong>3</strong> “Then things will go well with you. You will live a long time on the earth.”</p>
</div>


<div class="special-content scripture">
<strong>Colossians 3:20 | NIV84</strong>
<p>Children, <strong><em>obey your parents in everything</em></strong>, for this pleases the Lord.</p>
</div>


<div class="special-content scripture">
<strong>Colossians 3:20 | NIrV</strong>
<p>Children, <strong><em>obey your parents in everything</em></strong>. That pleases the Lord.</p>
</div>


This is the testimony of scripture.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Q: I don't agree with what my parents want for me. Do I need to do exactly what they say?](#4)
- [Some direct quotes from scripture: honoring parents](#5)
- [Some direct quotes from scripture: obeying parents](#6)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>