{{ $type := .Get "t" }}

{{ $passage := .Get "p" }}
{{ $passage := replace $passage " " ""}}
{{ $passage := replace $passage ":" "."}}
{{ $passage := replace $passage "|" "|reference="}}
{{ $passage := replaceRE "([a-z]+)([0-9]+)" "$1.$2" $passage }}

{{ $.Scratch.Set "height" "400px" }}
{{ if (.Get "h")}}
	{{ $.Scratch.Set "height" (.Get "h") }}
{{ end }}
{{ $height := $.Scratch.Get "height" }}

{{ $seed := "RABBITS" }}
{{ $idString := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $idString := printf "%s%s" "a" $idString }}

<div class="step-iframe-wrapper">

<div class="height-button-bar">
	<a class="{{$idString}} h300 {{if eq $height "300px" }}active{{end}}" href="javascript:adjustIframeHeight('{{$idString}}', 300);"><i class='fas fa-arrows-alt-v fa-fw'></i>Height: 300px</a>
	<a class="{{$idString}} h400 {{if eq $height "400px" }}active{{end}}" href="javascript:adjustIframeHeight('{{$idString}}', 400);"><i class='fas fa-arrows-alt-v fa-fw'></i>Height: 400px</a>
	<a class="{{$idString}} h600 {{if eq $height "600px" }}active{{end}}" href="javascript:adjustIframeHeight('{{$idString}}', 600);"><i class='fas fa-arrows-alt-v fa-fw'></i>Height: 600px</a>
	<a class="{{$idString}} h800 {{if eq $height "800px" }}active{{end}}" href="javascript:adjustIframeHeight('{{$idString}}', 800);"><i class='fas fa-arrows-alt-v fa-fw'></i>Height: 800px</a>
</div>

{{ if eq $type "esv"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=ESV|reference={{$passage}}&options=VN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}

{{ if eq $type "nasb"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=NASB2020|reference={{$passage}}&options=VN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}

{{ if eq $type "comparison"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=ESV|version=NASB2020|version=NIV|version=HCSB|reference={{$passage}}&options=VN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}

{{ if eq $type "hebrew"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=THOT|reference={{$passage}}&options=VUN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}

{{ if eq $type "hebrew-i"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=THOT|version=NASB2020|reference={{$passage}}&options=VUN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}

{{ if eq $type "lxx"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=THOT|version=LXX|reference={{$passage}}&options=VGN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}

{{ if eq $type "lxx-i"}}
<iframe class="step-iframe display-none {{$idString}}" src="https://www.STEPBible.org/?q=version=THOT|version=LXX|version=NASB2020|reference={{$passage}}&options=VGN" width="100%" height="{{ $height }}">
</iframe>
{{ end }}
	
<div style="height:{{ $height }}; background:#e6e6e6;"></div>
</div>

<div class="step-fallback display-none">
{{ .Inner }}
</div>