
{{/* srcstart is neither missing nor an empty string. */}}
{{ $hasSrcStart := .Get "srcstart" }}

{{/* srcend is neither missing nor an empty string. */}}
{{ $hasSrcEnd := .Get "srcend" }}



{{/* If embedding audio */}}
{{ if (.Get "srcmp3audiourl") }}

{{ $srcmp3audiourl := .Get "srcmp3audiourl" }}

{{ $srcstart := "00:00" }}
{{ if $hasSrcStart }}
  {{ $srcstart = .Get "srcstart" }}
{{ end }}

{{ $srcend := "" }}
{{ if $hasSrcEnd }}
  {{ $srcend = printf ",%s" (.Get "srcend") }}
{{ end }}

{{ $audiourl := printf "%s#t=%s%s" $srcmp3audiourl $srcstart $srcend }}

<audio controls preload="auto" title="{{ .Get "srctitle" }}">
  <source src="{{ $audiourl }}" type="audio/mpeg">
</audio>



{{/* If embedding video */}}
{{ else if (.Get "srcyoutubevideoid") }}

{{ $srcyoutubevideoid := .Get "srcyoutubevideoid" }}

{{ $srcstart := "0" }}
{{ if $hasSrcStart }}
  {{ $srcstart = .Get "srcstart" }}
{{ end }}

{{ $srcend := "" }}
{{ if $hasSrcEnd }}
  {{ $srcend = printf "&end=%s" (.Get "srcend") }}
{{ end }}

{{ $videourl := printf "https://www.youtube.com/embed/%s?start=%s%s" $srcyoutubevideoid $srcstart $srcend }}

<iframe
  width="560"
  height="315"
  {{ printf "src=%q" $videourl | safeHTMLAttr }}
  title="{{ .Get "srctitle" }}"
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen>
</iframe>

{{ end }}



{{/* If have subject tags */}}
{{ if (.Get "stags") }}

{{ $stagsString := .Get "stags" }}
{{ $stagsArray := split $stagsString " | " }}

<div class="subjects-container">
<a class="subjects-tag-icon-container" href="/about-the-site/content-features/#subject-index">
<i class="fa fa-tags fa-fw" style="color: #333;"></i>
</a>
<div class="subject-tags-container" >

{{ range $stagsArray }}

{{ $stag := . }}
{{ $slug := replaceRE `'` "" $stag }}
{{ $slug := replaceRE `[^a-zA-Z0-9]+` "-" $slug }}
{{ $slug := strings.TrimSuffix "-" $slug }}
{{ $slug := strings.ToLower $slug }}

<a href="/subject-index/#{{ $slug }}">{{ $stag }}</a>

{{ end }}

</div>
</div>
{{ end }}
