<div style="background: #e6e6e6; border-radius: 5px; padding: 0px 10px; margin-bottom: 10px;">

	{{ if (.Get "src")}}
		<strong style="display:block; text-align:center; margin-bottom: -1rem;">
			<a href="/about-the-site/#quotes">Quote</a> from
			<a href="{{ .Get "src" }}">
				{{ .Get "site" }}
			</a>
		</strong>
	{{ end }}
	
	
	{{ if (.Get "p")}}
		<strong style="display:block; text-align:center; margin-bottom: -1rem;">
			{{ .Get "p" }}
			{{ if (.Get "tsrc") }}
				| translation from <a href="{{ .Get "tsrc" }}">Ichthys</a>
			{{ end }}
		</strong>
	{{ end }}

	{{ .Inner }}
	
</div>
