
{{ if .Page.IsSection}}

{{ $siblings := .Page.Parent.Sections }}
<div class="prev-next-post pure-g">
<div class="pure-u-1-24" style="text-align: left;">
{{ with $siblings.ByWeight.Next .Page }}
<a href="{{ .Permalink }}"><i class="fa fa-chevron-left"></i></a>
{{ end }}
</div>
<div class="pure-u-9-24">
{{ with $siblings.ByWeight.Next .Page }}
<nav class="prev">
<a href="{{ .Permalink }}">{{ .Title }}</a>
</nav>
{{ end }}
</div>
<div class="pure-u-4-24" style="text-align: center;">
<a href="{{ .Page.Parent.Permalink }}">Index</a>
</div>
<div class="pure-u-9-24">
{{ with $siblings.ByWeight.Prev .Page }}
<nav class="next">
<a href="{{ .Permalink }}">{{ .Title }}</a>
</nav>
{{ end }}
</div>
<div class="pure-u-1-24" style="text-align: right;">
{{ with $siblings.ByWeight.Prev .Page }}
<a href="{{ .Permalink }}"><i class="fa fa-chevron-right"></i></a>
{{ end }}
</div>
</div>

{{ else }}

{{ $siblings := .Page.Parent.RegularPages }}
<div class="prev-next-post pure-g">
<div class="pure-u-1-24" style="text-align: left;">
{{ with $siblings.ByWeight.Next .Page }}
<a href="{{ .Permalink }}"><i class="fa fa-chevron-left"></i></a>
{{ end }}
</div>
<div class="pure-u-9-24">
{{ with $siblings.ByWeight.Next .Page }}
<nav class="prev">
<a href="{{ .Permalink }}">{{ .Title }}</a>
</nav>
{{ end }}
</div>
<div class="pure-u-4-24" style="text-align: center;">
<a href="{{ .Page.Parent.Permalink }}">Index</a>
</div>
<div class="pure-u-9-24">
{{ with $siblings.ByWeight.Prev .Page }}
<nav class="next">
<a href="{{ .Permalink }}">{{ .Title }}</a>
</nav>
{{ end }}
</div>
<div class="pure-u-1-24" style="text-align: right;">
{{ with $siblings.ByWeight.Prev .Page }}
<a href="{{ .Permalink }}"><i class="fa fa-chevron-right"></i></a>
{{ end }}
</div>
</div>

{{ end }}
