<div class="prev-next-post pure-g">
<div class="pure-u-1-24" style="text-align: left;">
{{ if .Page.NextInSection }}
<a href="{{ .Page.NextInSection.Permalink }}"><i class="fa fa-chevron-left"></i></a>
{{ end }}
</div>
<div class="pure-u-9-24">
{{ if .Page.NextInSection }}
<nav class="prev">
<a href="{{ .Page.NextInSection.Permalink }}">{{ .Page.NextInSection.Title }}</a>
</nav>
{{ end }}
</div>
<div class="pure-u-4-24" style="text-align: center;">
<a href="{{ .Page.CurrentSection.Permalink }}">Index</a>
</div>
<div class="pure-u-9-24">
{{ if .Page.PrevInSection }}
<nav class="next">
<a href="{{ .Page.PrevInSection.Permalink }}">{{ .Page.PrevInSection.Title }}</a>
</nav>
{{ end }}
</div>
<div class="pure-u-1-24" style="text-align: right;">
{{ if .Page.PrevInSection }}
<a href="{{ .Page.PrevInSection.Permalink }}"><i class="fa fa-chevron-right"></i></a>
{{ end }}
</div>
</div>
