{{ $seed := "RABBITS" }}
{{ $idString := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $idString := printf "%s%s" "a" $idString }}

<div class="toggleable-section-button">
    <a href="javascript:showDiscussionPage('{{$idString}}');" class="discussion-pages-header show {{$idString}}">Discussion Page(s) (click to show)</a>
    <a href="javascript:hideDiscussionPage('{{$idString}}');" class="discussion-pages-header hide {{$idString}}">Discussion Page(s) (click to hide)</a>
</div>
<div class="discussion-pages {{$idString}}" style="border: 1px solid #333; width: calc(100% - 20px); padding: 0px 10px;">
{{ .Inner }}
</div>
