<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Does Ephesians 4:26 Teach That There Is a Form of Righteous Anger?



---


### Summary

Using Ephesians 4:26 as a proof-text (alongside, for example, Jesus' cleansings of the temple, and God's eradication of most of mankind in the flood), some people try to argue that there is a "righteous" form of anger. This page sets out to demonstrate how this idea is false, and what our attitude towards our emotions (including anger) actually should be.

{{% content %}}
---


#### Outline

- [Q: Is there such a thing as "righteous anger"](#4)
- [No, "righteous anger" is not really a thing](#5)
  - [Was Jesus angry during the times that the temple was cleansed?](#6)
  - [Was God angry before the flood?](#7)
  - [What about the 'Wrath of God'?](#8)
  - [Conclusions](#9)
- [Q: What of emotions generally, then? Jesus had emotions, right?](#10)
- [All humans have emotions, Jesus included. But like He always did, we must lead them (rather than the other way around), and keep them under control](#11)

---


### Q: Is there such a thing as "righteous anger"

I've heard sermons about anger, specifically Ephesians 4:26. Despite picking up on the fact that the sentence is most definitely circumstantial (i.e. it really isn't "be angry and do not sin; do not let the sun go down on your anger" but rather "[when you are cause by circumstances to] be angry, do not sin; do not let the sun go down on your anger"), people still present a distinction between "righteous anger" and "unrighteous anger."

As evidence, people point out two events in which "God was angry" (their words): when Jesus drove the money changers out of the temple, and God before the flood. The argument, in essence, goes something like, "if God can have righteous anger, then we too can have righteous anger because we are made in his image (Genesis 1:27)." The short rundown of what people seem to classify as "righteous anger" is that the person who feels angry is:

1) Grieved at whatever sin causes the anger (cf. Gen 6:6)
2) Hopeful of reconciliation and putting forth every effort towards that cause

I suppose my question is rather academic in that we will all get angry at some point (at people who wrong us, at bad drivers that put everybody else in danger, etc.), but **should** we get angry at all? Is there such a thing as righteous anger for humans? Does God experience anger in a sense that we generally associate with that word (e.g., Revelation 14:19 and 19:15, the "wine press of God's wrath")?

### No, "righteous anger" is not really a thing

The bottom line here -- that draws a distinction between "righteous anger" and "unrighteous anger" -- is a good example of the issues that can come up in "sermons"/"sermonizing" as opposed to Bible teaching. What do we mean by that?

Well, we need to take passages in context and to approach them as what they are rather than trying to build talks around them, forcing things into a mold or chopping off bits in a procrustean manner. The Bible needs to be driving, not our ideas about what a nice talk might include or not include.

We also need to be very clear and precise in what we teach, to proactively head off misunderstandings. The problem in what you report here is that it confuses rather than clarifies. We know anger is a sin. Yet now there are types of it? What exactly is "righteous anger" -- what are its exact distinguishing properties?

If the result of "Bible teaching" is that those taught are more confused afterwards than they were before, then the endeavor has completely failed. And unfortunately, this can happen when people get starry-eyed about the idea of "preaching" and "sermons" -- concepts which, in our modern day, end up as not terribly biblical, at times. If "sermons" (a rhetorical format inherited in part from the Greek orators, e.g. -- not even remotely unique to Christianity) take on a life of their own apart from exegetical Bible teaching, as is unfortunately not nearly as rare as one might wish, then we need to be very against such "sermons."

In any case, back to the topic itself.

As to Ephesians 4:26 specifically, you might see this email response on Ichthys: [In Your Anger, do not Sin: Ephesians 4:26 and the Sin Nature](http://ichthys.com/mail-In-your-Anger-do-not-Sin.htm). You have the right of it already, more or less.

As to some of the specifics:

#### Was Jesus angry during the times that the temple was cleansed?

First of all, even though it is not uncommon for Jesus to be presented this way in graphical representations (movies et al.) -- well, what is that to us? The only thing that actually matters is what the Bible says and means. This case here is in fact an excellent example of why these graphical representations can be very dangerous: they give the illusion of "not interpreting" and "being faithful to the Bible's account" while in fact that is not the case, not even close.

But what do the scriptures say then? While some exegetes disagree, I view it as completely uncontroversial that Jesus actually cleansed the temple twice: the three synoptic gospels relate one cleansing of the temple during the passion week (Matthew 21:12ff.; Mark 11:15ff.; Luke 19:45ff.), and the gospel of John relates a different cleansing of the temple at the inauguration of His three and a half year ministry (John 2:13ff.). Ichthys discusses the cleansings of the temple [here](https://ichthys.com/mail-Bible-and-Canon.htm#two_cleansings_of_the_temple).

There is no mention of anger in these passages, just zeal. Jesus took on a genuine human nature to save us from our sins -- and He is described as being "grieved" by the hardness of heart He encounters (Mark 3:5) -- but we are not told in these cases that He was in any way emotionally distraught or acting in anything less than a controlled manner.

In fact, we might guess that one of the very reasons why the passages seem careful to avoid this characterization of anger is to head off the very sort of sentiment that you have heard in these sermons -- proof-texting to rationalize some form of "not so bad" anger.

So, if He was not acting in a flood of passion or temper, why did Jesus act as He did -- go as far as He did? The answer is to send a powerful message. Both at the beginning of His ministry (the John passage) and at the end of His ministry (the passages in the synoptics), Jesus purposefully acted in a very strong, attention-grabbing way at the temple to vividly demonstrate to the people of Israel what God's attitude towards the commodification/commercialization of the Law was -- to highlight the spiritual power of the Law that they should have been emphasizing, but were in fact completely ignoring.
 
So where is the anger here? You won't find it unless you read it into the passages yourself.

#### Was God angry before the flood?

Genesis 6:6 is an anthropopathism; that is, an attribution to God of human emotions and motives as an illustration only for our benefit to help us to understand what pleases and displeases Him. You can read more about anthropopathism at the following link: [The Wrath of God and Anthropopathism](http://ichthys.com/mail-Sin-Atonement-ForgivenessII.htm#anthropathism).

The word used of God here is actually again "grieved" rather than "angered". Anger as a sin is a loss of control, and we may be sure that God cannot lose control.

To the Ancient Greeks, anger and insanity were one and the same. The state of passion/emotion/anger/madness -- usually the Greek word *orge* ([ὀργή](https://biblehub.com/greek/3709.htm)) -- represents loss of control, the light in one's eyes going from human to something less than that. Even in English, being "mad" represents both anger and insanity -- when feeling overwhelms one and turns one into an animal without reason or comprehension. When we are angry and let our anger take control, we have no control of our own.

It should therefore be obvious that this is not a state that can apply to God, who is in complete control of everything.

#### What about the 'Wrath of God'?

See again [that link on anthropopathism](http://ichthys.com/mail-Sin-Atonement-ForgivenessII.htm#anthropathism).

It's exactly the same as above. God does not suffer from madness in any sense of the word. The Bible uses the anthropopathic language it does to convey the idea of how strongly displeased God is with unrepentant sinfulness.

#### Conclusions

It is hard to please God when we are angry and have quite literally slipped into a state of temporary insanity:

<iframe src="https://www.STEPBible.org/?q=version=ESV|reference=James.1.20&options=VN" width="100%" height="300px"></iframe>

Common sense will ultimately take us the rest of the way here. Some other miscellaneous observations:

- Emotions are a fundamental part of being human; we have them, whether we want them or not.
- Some people have more of a weakness here than others (just how these others might struggle in different areas, like pride and lust). "Anger management" is thus more of a challenge for some than others.
- There are perhaps certain circumstances wherein channeling emotions like anger might seem to make sense (a desperate fight to the death in military combat, for example), but we don't exactly have direct scripture to recommend such even so. Giving ourselves over completely to our emotions just doesn't have support in scripture, and that doesn't change even if we try to come up with hypotheticals to see if we can stretch the boundaries a bit.

The better course is to lead our emotions, whatever they may be, rather than giving ourselves over to following them. Anger is a very poor follower, and it is fair to ask whether we have ever truly been in control of our emotions when acting "out of anger." If not, then we ought to put aside all thoughts of something like "righteous anger" as even possible (let alone necessary or helpful).

When God "vents His wrath", He does so in perfect Justice, and He would much rather "save all," if only "all were willing to be saved." But we are not God. It's hard to imagine any human being "angry" (= controlled by anger) while simultaneously able to keep mercy and love firmly in mind. And that, primarily, is what puts the lie to this mistaken concept of "righteous anger."

### Q: What of emotions generally, then? Jesus had emotions, right?

I suspected the answer would be something like this. Being angry (for any reason at all) never seemed to mesh with spiritual common sense, since anger accomplishes nothing. Is it a motivator? Sure. But so is truth, and truth motivates even in times when there is no great injustice being dealt to us.

After going back and looking at the passages about Jesus and the temple, I was actually surprised to see that nowhere is anger mentioned. I had always thought that it must be there because the passage is so often used as a "proof text" for the topic.

On the other hand... how does one drive people out and turn over tables in a calm, peaceful manner? Actions like these generally involve emotion when human beings are involved. Did Jesus call the Pharisees a brood of vipers flatly, stating objective fact without emotion? Obviously Jesus is an exception to normal human behavior, but I fear my conception is lacking. It is hard to imagine such things and not associate emotion with them.

1) Not all emotions are bad, right? They can be manipulated and twisted, and are seldom a good basis for behavior taken alone, but I don't think they are inherently evil. Anger is bad, and perhaps desire, fear and hate as well. But what about joy, courage, exhilaration, and the like? Is it just moderation that is key? What are the ones we should avoid?

2) Did Jesus have emotions? He wept when Lazarus died, and it's hard to picture Gethsemane as cold and emotionless (it is part of "the passion," after all). Is there a way we as Christians ought to manage our emotions to emulate how Christ handled them?

### All humans have emotions, Jesus included. But like He always did, we must lead them (rather than the other way around), and keep them under control

We all have emotions, and Jesus did too -- being a genuine human being in all respects. But He never let His emotions out of control. And we too will never be well served if we give our will over to what is essentially the motivational side of our sin nature (for sin infests the psycho-physical body-mind wherein the emotions "dwell", for want of a better analogy).

Christians need to learn to follow the truth they know is true in their hearts. If we lead with our "spiritual minds" (Ephesians 4:23), then eventually our emotions will follow, and we will also learn with growth how to suppress the bad and encourage ourselves with the good, cleaving to the truth and dictating to our emotions rather than the other way around.

It is difficult to see, for Christians in this world, how "wrath" could ever be of much help -- or at least how we would not be better served finding better ways than anger to motivate ourselves. Giving into it, letting it lead us in rage, will never result in good things (in my view).




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Q: Is there such a thing as "righteous anger"](#4)
- [No, "righteous anger" is not really a thing](#5)
  - [Was Jesus angry during the times that the temple was cleansed?](#6)
  - [Was God angry before the flood?](#7)
  - [What about the 'Wrath of God'?](#8)
  - [Conclusions](#9)
- [Q: What of emotions generally, then? Jesus had emotions, right?](#10)
- [All humans have emotions, Jesus included. But like He always did, we must lead them (rather than the other way around), and keep them under control](#11)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>