<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Romans 2:5-6 - Others aside, is your heart stubborn and unrepentant?



---


### Summary

We need to take care when thinking about the stubborn and unrepentant people that are the subject of Romans 2:5 not to think ourselves so divorced from such an attitude that we have no need to examine ourselves reflexively and see if there are places we too might do better. In fact, every day we also make decisions wherein we stubbornly cling to our pursuit of worldly things rather than keeping our eyes upon the eternal as we ought. Because everything will be laid bare before the Throne of Judgment, we should strive as much as possible to order our lives in such a way that this coming evaluation of our actions before the Throne will bring us only praise and honor---that our actions will do us credit, rather than being shown to have been characterized by stubbornness and a lack of true repentance.

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline


---


## Romans 2:5-6 - Others aside, is your heart stubborn and unrepentant?

In the first several verses of Romans 2, Paul condemns hypocritical judgment. It is in this very context that verse 5 picks up.
 
We should take care then, when thinking about these people addressed in verse 5, to not think ourselves so far removed that stubbornness and an unrepentant attitude can never characterize our own behavior, or that we are somehow qualitatively different and distinct just because we are believers.

In fact, every day we too make decisions wherein we stubbornly cling to our pursuit of worldly things rather than keeping our eyes upon the eternal as we ought. God demands that we put His truth first and let it fill all parts of our lives, not picking and choosing from it in some half-hearted, piecemeal affair. Just like those who go into military service, our job as good Christian soldiers is not something that we get to design ourselves, telling our superiors what we will and will not do as part of our duties. No, instead we receive orders from our Commanding Officer, and only "pull our weight" in the ranks when we execute *all of them* (not just those we fancy) faithfully and completely.

So each of us needs to reflexively examine ourselves to make sure that there are not things in our lives right in the present where we have decided to dictate to God about what actions we will take, or whether we will view something as wrong (in accordance with the truth), instead choosing to willfully blind ourselves to it. For on that Great Day of Days, all will be laid bare before the Throne of Judgment, and no amount of excuse-making or rationalization will be able to turn away the truth of the verdict passed upon our actions in this life.




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline




  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>