<!DOCTYPE html>
<html>
 <head>
  <title>Slides</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <link rel="stylesheet" href="https://www.bibledocs.org/css/slides.css"/>
 </head>
 <body>
  <textarea id="source">

class: center, middle

## Second Baptist - 2023 Romans Study - Romans 3





---


### Summary

TODO

<!-- ## Timestamps {#timestamps} -->

{{% content %}}
---


#### Outline

- [Have you ever entrusted someone with something important only for them not to take it seriously (break it, lose it, etc.)?](#4)
- [Has that ever cost a relationship?](#5)
- [What happens when the Lord trusts you with salvation?](#6)
- [What advantage did the Jews have?](#7)
- [Why does God judge the wicked if their evil fulfills His will?](#8)
- [What people group have an advantage now under grace?](#9)
- [Who can claim righteousness?](#10)
- [Why do people not fear God (verse 18)?](#11)
- [Who do you answer to?](#12)
- [Why is grace so important?](#13)
- [How are you justified (compare John 14:6)?](#14)
- [Boasting versus sharing](#15)
- [Who is God God of?](#16)

---






### Have you ever entrusted someone with something important only for them not to take it seriously (break it, lose it, etc.)?

### Has that ever cost a relationship?

### What happens when the Lord trusts you with salvation?

### What advantage did the Jews have?



### Why does God judge the wicked if their evil fulfills His will?

### What people group have an advantage now under grace?



### Who can claim righteousness?

### Why do people not fear God (verse 18)?



### Who do you answer to?

### Why is grace so important?



### How are you justified (compare John 14:6)?



### Boasting versus sharing

### Who is God God of?




<!-- Footnote List -->
<div class="footnotes">
<ol>

  </ol>
</div>
  

---


#### Outline

- [Have you ever entrusted someone with something important only for them not to take it seriously (break it, lose it, etc.)?](#4)
- [Has that ever cost a relationship?](#5)
- [What happens when the Lord trusts you with salvation?](#6)
- [What advantage did the Jews have?](#7)
- [Why does God judge the wicked if their evil fulfills His will?](#8)
- [What people group have an advantage now under grace?](#9)
- [Who can claim righteousness?](#10)
- [Why do people not fear God (verse 18)?](#11)
- [Who do you answer to?](#12)
- [Why is grace so important?](#13)
- [How are you justified (compare John 14:6)?](#14)
- [Boasting versus sharing](#15)
- [Who is God God of?](#16)



  </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
   var slideshow = remark.create({ ratio: "16:9" });
  </script>
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript"> littlefoot.default({
    activateOnHover: true,
    dismissOnUnhover: true,
    hoverDelay: 200,
    buttonTemplate: `
    <button
    aria-label="Footnote <% number %>"
    class="littlefoot__button"
    id="<% reference %>"
    />
    <% number %>
    </button>
    `,
  }) </script>
  <!-- RefTagger -->
  <script>
    var refTagger = {
      settings: {
        bibleVersion: "NASB",
        convertHyperlinks: false,		
        roundCorners: true,
        socialSharing: [],
        tagChapters: true
      } 
    };
    
    (function(d, t) { 
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; 
      g.src = 'https://api.reftagger.com/v2/RefTagger.js'; 
      s.parentNode.insertBefore(g, s); 
    }(document, 'script'));
  </script>
 </body>
</html>